<img src="https://github.com/insaid2018/Term-1/blob/master/Images/INSAID_Full%20Logo.png?raw=true" width="240" 
height="360" />
## CAPSTONE1-INSAID TELECOM

### Importing packages

In [188]:
import MySQLdb
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import folium
import pandas_profiling
from translate import Translator
from googletrans import Translator

### Establishing Connection to SQL Database

In [189]:
db = MySQLdb.connect("capstone1.insaid.co","student","student","Capstone1",charset='utf8')

In [190]:
db

In [191]:
# prepare a cursor object using cursor() method
cursor = db.cursor()

In [192]:
# execute SQL query using execute() method.
cursor.execute("SELECT VERSION()")

1

In [193]:
# Fetch a single row using fetchone() method.
data = cursor.fetchone()
print ("Database version : %s " % data)

Database version : 5.7.25-0ubuntu0.18.04.2

In [194]:
data

('5.7.25-0ubuntu0.18.04.2',)

In [195]:
cursor.execute("show tables")

3

### Printing tables in Database

In [196]:
for i in cursor:
    print(i)

('events_data',)
('gender_age_train',)
('phone_brand_device_model',)

### Converting events_data SQL table to dataframe

Actually there are __3252950__ events data rows and __7__ columns, but we filter for prescribed states

In [197]:
events_df=pd.read_sql_query("select * from events_data where state in('MadhyaPradesh','JammuandKashmir','Chhattisgarh','Uttaranchal','Goa','Nagaland',' ')",db)

In [198]:
events_df

,event_id,device_id,timestamp,longitude,latitude,city,state
0,110877,-2528288616400397961,2016-05-06 18:55:56,77.305984,28.688980,Delhi,
1,839872,-2528288616400397961,2016-05-03 09:17:18,77.305984,28.688980,Delhi,
2,1205581,-2528288616400397961,2016-05-03 15:38:26,77.305984,28.688980,Delhi,
3,1789293,-2528288616400397961,2016-05-05 23:47:59,77.305984,28.688980,Delhi,
4,2120793,-2528288616400397961,2016-05-04 20:37:36,77.305984,28.688980,Delhi,
5,2217023,-2528288616400397961,2016-05-04 18:43:46,77.305984,28.688980,Delhi,
6,2360774,-2528288616400397961,2016-05-02 22:22:52,77.305984,28.688980,Delhi,
7,2511839,-2528288616400397961,2016-05-06 10:49:03,77.305984,28.688980,Delhi,
8,2518480,-2528288616400397961,2016-05-02 13:04:54,77.305984,28.688980,Delhi,
9,2682749,-2528288616400397961,2016-05-05 22:10:30,77.305984,28.688980,Delhi,
10,2842593,-2528288616400397961,2016-05-03 00:15:54,77.305984,28.688980,Delhi,
11,2848497,-2528288616400397961,2016-05-06 08:22:30,77.305984,28.688980,Delhi,
12,3115579,-2528288616400397961,2016-05-06 16:36:00,77.305984,28.688980,Delhi,
13,3173896,-2528288616400397961,2016-05-05 12:16:41,77.305984,28.688980,Delhi,
14,115439,6391032074311733588,2016-05-04 20:00:54,77.292480,28.719967,Delhi,
15,282938,6391032074311733588,2016-05-04 16:51:32,77.292480,28.719967,Delhi,
16,295760,6391032074311733588,2016-05-06 05:07:53,77.292480,28.719967,Delhi,
17,435661,6391032074311733588,2016-05-02 06:55:42,77.292480,28.719967,Delhi,
18,462952,6391032074311733588,2016-05-02 23:04:40,77.292480,28.719967,Delhi,
19,816535,6391032074311733588,2016-05-04 12:29:17,77.292480,28.719967,Delhi,
20,845167,6391032074311733588,2016-05-03 12:54:34,77.292480,28.719967,Delhi,
21,915230,6391032074311733588,2016-05-02 23:23:31,77.292480,28.719967,Delhi,
22,1120945,6391032074311733588,2016-05-03 15:15:59,77.292480,28.719967,Delhi,
23,1315477,6391032074311733588,2016-05-03 15:13:24,77.292480,28.719967,Delhi,
24,1372022,6391032074311733588,2016-05-04 14:29:54,77.292480,28.719967,Delhi,
25,2025490,6391032074311733588,2016-05-04 14:38:13,77.292480,28.719967,Delhi,
26,2029645,6391032074311733588,2016-05-06 17:11:19,77.292480,28.719967,Delhi,
27,2480247,6391032074311733588,2016-05-04 14:18:47,77.292480,28.719967,Delhi,
28,2595628,6391032074311733588,2016-05-02 19:57:57,77.292480,28.719967,Delhi,
29,2616934,6391032074311733588,2016-05-07 14:29:15,77.292480,28.719967,Delhi,
...,...,...,...,...,...,...,...
261442,2174824,4617845501292647807,2016-05-06 04:01:00,77.209358,12.715878,Channapatna,
261443,2180368,4617845501292647807,2016-05-01 10:39:00,77.209358,12.715878,Channapatna,
261444,2254618,4617845501292647807,2016-05-06 01:26:28,77.209358,12.715878,Channapatna,
261445,3067685,4617845501292647807,2016-05-05 14:13:56,77.209358,12.715878,Channapatna,
261446,37462,6435030445996454477,2016-05-07 08:15:26,88.619415,25.484459,Gangarampur,
261447,206518,6435030445996454477,2016-05-07 16:43:26,88.619415,25.484459,Gangarampur,
261448,220690,6435030445996454477,2016-05-07 08:02:02,88.619415,25.484459,Gangarampur,
261449,546873,6435030445996454477,2016-05-05 09:20:54,88.619415,25.484459,Gangarampur,
261450,579602,6435030445996454477,2016-05-06 14:23:21,88.619415,25.484459,Gangarampur,
261451,762084,6435030445996454477,2016-05-01 08:14:50,88.619415,25.484459,Gangarampur,
261452,811041,6435030445996454477,2016-05-05 08:11:02,88.619415,25.484459,Gangarampur,
261453,904996,6435030445996454477,2016-05-07 15:20:54,88.619415,25.484459,Gangarampur,
261454,1070365,6435030445996454477,2016-05-07 17:03:06,88.619415,25.484459,Gangarampur,
261455,1196730,6435030445996454477,2016-05-03 08:36:15,88.619415,25.484459,Gangarampur,
261456,1221721,6435030445996454477,2016-05-05 08:41:36,88.619415,25.484459,Gangarampur,
261457,1275863,6435030445996454477,2016-05-07 07:58:01,88.619415,25.484459,Gangarampur,
261458,1362054,6435030445996454477,2016-05-06 08:08:30,88.619415,25.484459,Gangarampur,
261459,1362315,6435030445996454477,2016-05-07 08:07:33,88.619415,25.484459,Gangarampur,
261460,1499067,6435030445996454477,2016-05-06 09:09:49,88.619415,25.484459,Gangarampur,
261461,1583836,6435030445996454477,2016-05-07 15:01:05,88.619415,25.484459,Gangarampur,
261462,1885568,6435030445996454477,2016-05-02 08:36:55,88.619415,25.484459,Gangarampur,
261463,2204906,6435030445996454477,2016-05-04 08:31:05,88.619415,25.484459,Gangarampur,
261464,2259247,6435030445996454477,2016-05-05 08:32:04,88.619415,25.484459,Gangarampur,
261465,2317479,6435030445996454477,2016-05-06 08:13:41,88.619415,25.484459,Gangarampur,
261466,2336905,6435030445996454477,2016-05-06 14:27:35,88.619415,25.484459,Gangarampur,
261467,2805999,6435030445996454477,2016-05-06 14:26:25,88.619415,25.484459,Gangarampur,
261468,2873949,6435030445996454477,2016-05-05 08:29:51,88.619415,25.484459,Gangarampur,
261469,3057454,6435030445996454477,2016-05-06 07:59:50,88.619415,25.484459,Gangarampur,
261470,3109058,6435030445996454477,2016-05-02 08:35:24,88.619415,25.484459,Gangarampur,
261471,3188932,6435030445996454477,2016-05-05 08:49:15,88.619415,25.484459,Gangarampur,

Here if we observe there are __261472__ event records and __7__ columns in the filtered events datframe

In [199]:
events_df.shape

(261472, 7)

In [200]:
events_df.dtypes

event_id              int64
device_id             int64
timestamp    datetime64[ns]
longitude           float64
latitude            float64
city                 object
state                object
dtype: object

In [201]:
events_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 261472 entries, 0 to 261471
Data columns (total 7 columns):
event_id     261472 non-null int64
device_id    261472 non-null int64
timestamp    261472 non-null datetime64[ns]
longitude    261472 non-null float64
latitude     261472 non-null float64
city         261472 non-null object
state        261472 non-null object
dtypes: datetime64[ns](1), float64(2), int64(2), object(2)
memory usage: 14.0+ MB

In [202]:
events_df.describe()

           event_id     device_id      longitude       latitude
count  2.614720e+05  2.614720e+05  261472.000000  261472.000000
mean   1.625964e+06  1.045706e+16      76.690226      23.250293
std    9.401609e+05  5.422215e+18       2.611555       2.255650
min    1.011700e+04 -9.222173e+18       0.000000       0.000000
25%    8.136908e+05 -4.809885e+18      75.897072      22.749996
50%    1.624940e+06 -1.317661e+16      75.925995      22.782269
75%    2.438994e+06  4.719311e+18      75.956451      22.811922
max    3.252939e+06  9.217862e+18      94.361549      41.871899

In [203]:
events_df.isnull().sum()

event_id     0
device_id    0
timestamp    0
longitude    0
latitude     0
city         0
state        0
dtype: int64

Here, it indicates that there are no null records in events_df

In [204]:
events_df.columns

Index(['event_id', 'device_id', 'timestamp', 'longitude', 'latitude', 'city',
       'state'],
      dtype='object')

In [205]:
events_df.state.unique()

array(['', 'MadhyaPradesh', 'Goa', 'Uttaranchal', 'JammuandKashmir',
       'Chhattisgarh', 'Nagaland'], dtype=object)

In [206]:
events_df.state.value_counts()

MadhyaPradesh      232690
Chhattisgarh         9754
Uttaranchal          7720
JammuandKashmir      5385
Goa                  3250
Nagaland             2298
                      375
Name: state, dtype: int64

Here_if we observe there are __375__ null records for __"state"__ column

In [207]:
events_df.city.unique()

array(['Delhi', 'Pune', 'Chennai', 'Visakhapatnam', 'Indore', 'Raghogarh',
       'Sheopur', 'Madgaon', 'Sidhi', 'Sarni', 'Betul', 'Pithoragarh',
       'Sehore', 'Kashipur', 'DehraDun', 'Datia', 'Rurki', 'Dabra',
       'Guna', 'Rewa', 'Ratlam', 'Anantnag', 'Bhind', 'Raipur', 'Itarsi',
       'Dhar', 'Dewas', 'Wokha', 'Nagda', 'Mandidip', 'Damoh', 'Kathua',
       'Murwara', 'JabalpurCantonment', 'Gwalior', 'Tikamgarh',
       'Chhindwara', 'Jammu', 'Sopur', 'Udhampur', 'Hoshangabad',
       'Shahdol', 'Harda', 'Korba', 'DehraDunCantonment', 'Raigarh',
       'Haldwani', 'Jabalpur', 'Jagdalpur', 'Bilaspur', 'Mormugao',
       'Bhilai', 'Shivapuri', 'Nimach', 'Shajapur', 'Bhopal', 'Chirmiri',
       'Dimapur', 'Sagar', 'Baramula', 'Rajnandgaon', 'Morena',
       'Chhatarpur', 'Ashoknagar', 'Seoni', 'Singrauli', 'Rishikesh',
       'Balaghat', 'Srinagar', 'Vidisha', 'Kohima', 'Jaora', 'Charoda',
       'Mandsaur', 'Khandwa', 'Satna', 'Panaji', 'Durg', 'Burhanpur',
       'Basoda', 'Ambikapur', 'Khargone', 'Sendhwa', 'Haridwar', 'Gohad',
       'Ujjain', 'Dhamtari', 'Mau', 'BinaEtawa', 'Jaipur', 'Arambagh',
       'Channapatna', 'Gangarampur'], dtype=object)

In [208]:
events_df.city.nunique()

93

In [209]:
events_df.device_id.value_counts()

-1006357788560227421    1522
-2352378818132978317    1174
 2910512278206447328    1103
 5672687091943675105     810
-6323947408222396680     797
 2587947544317670526     791
 307616831527372008      772
-1091662848712494159     770
 4561183983846096871     754
 1392264042282265820     728
 3873130292532361879     691
-8048145294701481782     632
 5803195849211443945     592
-9094978442188953627     584
 5247822590115492676     582
 2713215938393666118     573
 1957647269489382435     552
-8469609588260229483     547
 6935209854426753673     542
-1474976378266851901     534
-2702565426550760211     520
-8300348161203546591     509
-7287543625425117387     493
 3124371427215689760     493
-6356258739211690148     485
 2355628888130685284     478
-8006379673496594769     478
 415255282275943305      472
 8012710953286953219     471
 8119832475692761130     467
                        ...
 1434658426358714389       1
-1507231220912610914       1
 8529056820030294734       1
 4986391986485258254       1
-7773880518172398064       1
 4041128820833280641       1
 6299751190479516280       1
 6134958356307545024       1
 1724364440670156997       1
 9029325375416991588       1
-6286417660195551003       1
 5849382836627579254       1
 8378406907081471959       1
 6983306750851656079       1
-1494437884213119340       1
 2540009498749154319       1
 558368676953833609        1
-218466242494798653        1
-3965900139993062690       1
-8221168912050487481       1
 1723594768642730624       1
 67374767746444376         1
-3656390190037550559       1
-4359752549882079576       1
-3351044937394558164       1
-8877371566098593515       1
-5452296576472749332       1
 531339241649248330        1
 5723516650863943334       1
-7184597958874800801       1
Name: device_id, Length: 4314, dtype: int64

In [210]:
events_df.device_id.nunique()

4314

In [211]:
events_df.state.value_counts()

MadhyaPradesh      232690
Chhattisgarh         9754
Uttaranchal          7720
JammuandKashmir      5385
Goa                  3250
Nagaland             2298
                      375
Name: state, dtype: int64

In [212]:
c=events_df.groupby(['state','city'])['city'].count()
c

state            city
                 Arambagh                16
                 Channapatna             14
                 Chennai                 47
                 Delhi                   64
                 Gangarampur             26
                 Indore                  51
                 Jaipur                  49
                 Pune                    61
                 Visakhapatnam           47
Chhattisgarh     Ambikapur              539
                 Bhilai                 911
                 Bilaspur              1145
                 Charoda                645
                 Chirmiri               816
                 Dhamtari               326
                 Durg                   873
                 Jagdalpur             1382
                 Korba                  858
                 Raigarh                577
                 Raipur                 648
                 Rajnandgaon           1034
Goa              Madgaon                497
                 Mormugao              2352
                 Panaji                 401
JammuandKashmir  Anantnag              1103
                 Baramula               519
                 Jammu                  771
                 Kathua                 944
                 Sopur                  961
                 Srinagar               342
                                       ...
MadhyaPradesh    Nimach                 600
                 Raghogarh             1140
                 Ratlam                 824
                 Rewa                   593
                 Sagar                  646
                 Sarni                  843
                 Satna                  513
                 Sehore                1002
                 Sendhwa                348
                 Seoni                  364
                 Shahdol               1778
                 Shajapur              1132
                 Sheopur                570
                 Shivapuri              635
                 Sidhi                  922
                 Singrauli              894
                 Tikamgarh             1268
                 Ujjain                 480
                 Vidisha                873
Nagaland         Dimapur                584
                 Kohima                 614
                 Wokha                 1100
Uttaranchal      DehraDun              1053
                 DehraDunCantonment     923
                 Haldwani              1135
                 Haridwar               427
                 Kashipur              1711
                 Pithoragarh            697
                 Rishikesh              500
                 Rurki                 1274
Name: city, Length: 94, dtype: int64

In [213]:
c.Chhattisgarh.get_values

<bound method Series.get_values of city
Ambikapur       539
Bhilai          911
Bilaspur       1145
Charoda         645
Chirmiri        816
Dhamtari        326
Durg            873
Jagdalpur      1382
Korba           858
Raigarh         577
Raipur          648
Rajnandgaon    1034
Name: city, dtype: int64>

In [214]:
c.Goa.get_values

<bound method Series.get_values of city
Madgaon      497
Mormugao    2352
Panaji       401
Name: city, dtype: int64>

In [215]:
c.JammuandKashmir.get_values

<bound method Series.get_values of city
Anantnag    1103
Baramula     519
Jammu        771
Kathua       944
Sopur        961
Srinagar     342
Udhampur     745
Name: city, dtype: int64>

In [216]:
c.MadhyaPradesh.get_values

<bound method Series.get_values of city
Ashoknagar              1145
Balaghat                 534
Basoda                   973
Betul                   1301
Bhind                    666
Bhopal                  1083
BinaEtawa                422
Burhanpur                501
Chhatarpur              1050
Chhindwara              1658
Dabra                    808
Damoh                   1505
Datia                    950
Dewas                    506
Dhar                     905
Gohad                    854
Guna                     915
Gwalior                  868
Harda                    895
Hoshangabad              585
Indore                189753
Itarsi                   983
Jabalpur                 759
JabalpurCantonment       918
Jaora                    584
Khandwa                  973
Khargone                 539
Mandidip                 830
Mandsaur                 636
Mau                      642
Morena                   909
Murwara                  649
Nagda                    966
Nimach                   600
Raghogarh               1140
Ratlam                   824
Rewa                     593
Sagar                    646
Sarni                    843
Satna                    513
Sehore                  1002
Sendhwa                  348
Seoni                    364
Shahdol                 1778
Shajapur                1132
Sheopur                  570
Shivapuri                635
Sidhi                    922
Singrauli                894
Tikamgarh               1268
Ujjain                   480
Vidisha                  873
Name: city, dtype: int64>

In [217]:
c.Nagaland.get_values

<bound method Series.get_values of city
Dimapur     584
Kohima      614
Wokha      1100
Name: city, dtype: int64>

In [218]:
c.Uttaranchal.get_values

<bound method Series.get_values of city
DehraDun              1053
DehraDunCantonment     923
Haldwani              1135
Haridwar               427
Kashipur              1711
Pithoragarh            697
Rishikesh              500
Rurki                 1274
Name: city, dtype: int64>

### Checking for Null State records

In [219]:
tt=events_df.loc[(events_df.state=='')]
tt

,event_id,device_id,timestamp,longitude,latitude,city,state
0,110877,-2528288616400397961,2016-05-06 18:55:56,77.305984,28.688980,Delhi,
1,839872,-2528288616400397961,2016-05-03 09:17:18,77.305984,28.688980,Delhi,
2,1205581,-2528288616400397961,2016-05-03 15:38:26,77.305984,28.688980,Delhi,
3,1789293,-2528288616400397961,2016-05-05 23:47:59,77.305984,28.688980,Delhi,
4,2120793,-2528288616400397961,2016-05-04 20:37:36,77.305984,28.688980,Delhi,
5,2217023,-2528288616400397961,2016-05-04 18:43:46,77.305984,28.688980,Delhi,
6,2360774,-2528288616400397961,2016-05-02 22:22:52,77.305984,28.688980,Delhi,
7,2511839,-2528288616400397961,2016-05-06 10:49:03,77.305984,28.688980,Delhi,
8,2518480,-2528288616400397961,2016-05-02 13:04:54,77.305984,28.688980,Delhi,
9,2682749,-2528288616400397961,2016-05-05 22:10:30,77.305984,28.688980,Delhi,
10,2842593,-2528288616400397961,2016-05-03 00:15:54,77.305984,28.688980,Delhi,
11,2848497,-2528288616400397961,2016-05-06 08:22:30,77.305984,28.688980,Delhi,
12,3115579,-2528288616400397961,2016-05-06 16:36:00,77.305984,28.688980,Delhi,
13,3173896,-2528288616400397961,2016-05-05 12:16:41,77.305984,28.688980,Delhi,
14,115439,6391032074311733588,2016-05-04 20:00:54,77.292480,28.719967,Delhi,
15,282938,6391032074311733588,2016-05-04 16:51:32,77.292480,28.719967,Delhi,
16,295760,6391032074311733588,2016-05-06 05:07:53,77.292480,28.719967,Delhi,
17,435661,6391032074311733588,2016-05-02 06:55:42,77.292480,28.719967,Delhi,
18,462952,6391032074311733588,2016-05-02 23:04:40,77.292480,28.719967,Delhi,
19,816535,6391032074311733588,2016-05-04 12:29:17,77.292480,28.719967,Delhi,
20,845167,6391032074311733588,2016-05-03 12:54:34,77.292480,28.719967,Delhi,
21,915230,6391032074311733588,2016-05-02 23:23:31,77.292480,28.719967,Delhi,
22,1120945,6391032074311733588,2016-05-03 15:15:59,77.292480,28.719967,Delhi,
23,1315477,6391032074311733588,2016-05-03 15:13:24,77.292480,28.719967,Delhi,
24,1372022,6391032074311733588,2016-05-04 14:29:54,77.292480,28.719967,Delhi,
25,2025490,6391032074311733588,2016-05-04 14:38:13,77.292480,28.719967,Delhi,
26,2029645,6391032074311733588,2016-05-06 17:11:19,77.292480,28.719967,Delhi,
27,2480247,6391032074311733588,2016-05-04 14:18:47,77.292480,28.719967,Delhi,
28,2595628,6391032074311733588,2016-05-02 19:57:57,77.292480,28.719967,Delhi,
29,2616934,6391032074311733588,2016-05-07 14:29:15,77.292480,28.719967,Delhi,
...,...,...,...,...,...,...,...
261442,2174824,4617845501292647807,2016-05-06 04:01:00,77.209358,12.715878,Channapatna,
261443,2180368,4617845501292647807,2016-05-01 10:39:00,77.209358,12.715878,Channapatna,
261444,2254618,4617845501292647807,2016-05-06 01:26:28,77.209358,12.715878,Channapatna,
261445,3067685,4617845501292647807,2016-05-05 14:13:56,77.209358,12.715878,Channapatna,
261446,37462,6435030445996454477,2016-05-07 08:15:26,88.619415,25.484459,Gangarampur,
261447,206518,6435030445996454477,2016-05-07 16:43:26,88.619415,25.484459,Gangarampur,
261448,220690,6435030445996454477,2016-05-07 08:02:02,88.619415,25.484459,Gangarampur,
261449,546873,6435030445996454477,2016-05-05 09:20:54,88.619415,25.484459,Gangarampur,
261450,579602,6435030445996454477,2016-05-06 14:23:21,88.619415,25.484459,Gangarampur,
261451,762084,6435030445996454477,2016-05-01 08:14:50,88.619415,25.484459,Gangarampur,
261452,811041,6435030445996454477,2016-05-05 08:11:02,88.619415,25.484459,Gangarampur,
261453,904996,6435030445996454477,2016-05-07 15:20:54,88.619415,25.484459,Gangarampur,
261454,1070365,6435030445996454477,2016-05-07 17:03:06,88.619415,25.484459,Gangarampur,
261455,1196730,6435030445996454477,2016-05-03 08:36:15,88.619415,25.484459,Gangarampur,
261456,1221721,6435030445996454477,2016-05-05 08:41:36,88.619415,25.484459,Gangarampur,
261457,1275863,6435030445996454477,2016-05-07 07:58:01,88.619415,25.484459,Gangarampur,
261458,1362054,6435030445996454477,2016-05-06 08:08:30,88.619415,25.484459,Gangarampur,
261459,1362315,6435030445996454477,2016-05-07 08:07:33,88.619415,25.484459,Gangarampur,
261460,1499067,6435030445996454477,2016-05-06 09:09:49,88.619415,25.484459,Gangarampur,
261461,1583836,6435030445996454477,2016-05-07 15:01:05,88.619415,25.484459,Gangarampur,
261462,1885568,6435030445996454477,2016-05-02 08:36:55,88.619415,25.484459,Gangarampur,
261463,2204906,6435030445996454477,2016-05-04 08:31:05,88.619415,25.484459,Gangarampur,
261464,2259247,6435030445996454477,2016-05-05 08:32:04,88.619415,25.484459,Gangarampur,
261465,2317479,6435030445996454477,2016-05-06 08:13:41,88.619415,25.484459,Gangarampur,
261466,2336905,6435030445996454477,2016-05-06 14:27:35,88.619415,25.484459,Gangarampur,
261467,2805999,6435030445996454477,2016-05-06 14:26:25,88.619415,25.484459,Gangarampur,
261468,2873949,6435030445996454477,2016-05-05 08:29:51,88.619415,25.484459,Gangarampur,
261469,3057454,6435030445996454477,2016-05-06 07:59:50,88.619415,25.484459,Gangarampur,
261470,3109058,6435030445996454477,2016-05-02 08:35:24,88.619415,25.484459,Gangarampur,
261471,3188932,6435030445996454477,2016-05-05 08:49:15,88.619415,25.484459,Gangarampur,

In [220]:
tt.city.nunique()

9

In [221]:
tt.city.unique()

array(['Delhi', 'Pune', 'Chennai', 'Visakhapatnam', 'Indore', 'Jaipur',
       'Arambagh', 'Channapatna', 'Gangarampur'], dtype=object)

Here if we observe, only our concerned state city is __Indore__ whereas reaining cities having null states are not from our respective states

In [222]:
tt.device_id.nunique()

21

In [223]:
tt.device_id.value_counts()

 682614382692443840     29
 8920766020924210360    27
 6435030445996454477    26
 2566442097100657792    25
 6391032074311733588    23
-8330768594253487769    23
-8516174944156742424    21
 2910512278206447328    19
-1453899082119740642    19
-4631068140763118168    17
 1457210736255520731    17
-2352378818132978317    17
-7386006239880230734    16
-1006357788560227421    15
-2528288616400397961    14
 4617845501292647807    14
-609654747637122070     13
-7417923246586466312    13
-3843588625675275781    13
 6966898582299260642     7
 8752220781043590337     7
Name: device_id, dtype: int64

### Checking and updating null state records by device_id

In [224]:
events_df.loc[(events_df.device_id==682614382692443840)]

,event_id,device_id,timestamp,longitude,latitude,city,state
96,18500,682614382692443840,2016-05-01 17:19:04,73.851669,18.593313,Pune,
97,130413,682614382692443840,2016-05-07 11:17:09,73.851669,18.593313,Pune,
98,331787,682614382692443840,2016-05-03 09:13:07,73.851669,18.593313,Pune,
99,340057,682614382692443840,2016-05-04 06:00:58,73.851669,18.593313,Pune,
100,344911,682614382692443840,2016-05-04 10:09:08,73.851669,18.593313,Pune,
101,348917,682614382692443840,2016-05-05 12:49:01,73.851669,18.593313,Pune,
102,465977,682614382692443840,2016-05-06 16:23:23,73.851669,18.593313,Pune,
103,602599,682614382692443840,2016-05-05 11:54:14,73.851669,18.593313,Pune,
104,654030,682614382692443840,2016-05-04 06:44:30,73.851669,18.593313,Pune,
105,816332,682614382692443840,2016-05-04 12:36:23,73.851669,18.593313,Pune,
106,897280,682614382692443840,2016-05-04 09:17:53,73.851669,18.593313,Pune,
107,1012570,682614382692443840,2016-05-06 12:29:45,73.851669,18.593313,Pune,
108,1118115,682614382692443840,2016-05-01 13:00:25,73.851669,18.593313,Pune,
109,1154259,682614382692443840,2016-05-03 17:24:23,73.851669,18.593313,Pune,
110,1256034,682614382692443840,2016-05-02 15:11:54,73.851669,18.593313,Pune,
111,1289716,682614382692443840,2016-05-04 17:41:59,73.851669,18.593313,Pune,
112,1377569,682614382692443840,2016-05-06 16:17:58,73.851669,18.593313,Pune,
113,1776194,682614382692443840,2016-05-06 14:24:40,73.851669,18.593313,Pune,
114,1971453,682614382692443840,2016-05-01 16:24:00,73.851669,18.593313,Pune,
115,1990227,682614382692443840,2016-05-01 08:37:47,73.851669,18.593313,Pune,
116,2027130,682614382692443840,2016-05-05 14:59:41,73.851669,18.593313,Pune,
117,2184782,682614382692443840,2016-05-03 13:49:18,73.851669,18.593313,Pune,
118,2233534,682614382692443840,2016-05-05 10:19:18,73.851669,18.593313,Pune,
119,2599606,682614382692443840,2016-05-03 22:31:23,73.851669,18.593313,Pune,
120,2622507,682614382692443840,2016-05-03 19:37:24,73.851669,18.593313,Pune,
121,2648116,682614382692443840,2016-05-02 10:29:37,73.851669,18.593313,Pune,
122,2658385,682614382692443840,2016-05-07 12:23:05,73.851669,18.593313,Pune,
123,2933919,682614382692443840,2016-05-04 07:45:30,73.851669,18.593313,Pune,
124,3041434,682614382692443840,2016-05-04 00:06:28,73.851669,18.593313,Pune,

Here, we have __29__ null state records

In [225]:
events_df.loc[(events_df.device_id==8920766020924210360)]

,event_id,device_id,timestamp,longitude,latitude,city,state
37,142356,8920766020924210360,2016-05-06 10:42:57,77.231659,28.730684,Delhi,
38,182366,8920766020924210360,2016-05-02 18:22:32,77.231659,28.730684,Delhi,
39,210792,8920766020924210360,2016-05-02 21:32:29,77.231659,28.730684,Delhi,
40,214881,8920766020924210360,2016-05-06 23:20:15,77.231659,28.730684,Delhi,
41,258696,8920766020924210360,2016-05-02 18:53:06,77.231659,28.730684,Delhi,
42,291064,8920766020924210360,2016-05-07 22:20:29,77.231659,28.730684,Delhi,
43,348924,8920766020924210360,2016-05-05 12:01:01,77.231659,28.730684,Delhi,
44,445438,8920766020924210360,2016-05-05 10:57:26,77.231659,28.730684,Delhi,
45,642825,8920766020924210360,2016-05-04 19:23:39,77.231659,28.730684,Delhi,
46,675923,8920766020924210360,2016-05-01 12:03:40,77.231659,28.730684,Delhi,
47,765253,8920766020924210360,2016-05-05 10:20:16,77.231659,28.730684,Delhi,
48,788436,8920766020924210360,2016-05-05 09:09:39,77.231659,28.730684,Delhi,
49,917170,8920766020924210360,2016-05-06 23:25:58,77.231659,28.730684,Delhi,
50,1387154,8920766020924210360,2016-05-06 10:09:05,77.231659,28.730684,Delhi,
51,1417768,8920766020924210360,2016-05-06 23:31:07,77.231659,28.730684,Delhi,
52,1432082,8920766020924210360,2016-05-02 18:20:34,77.231659,28.730684,Delhi,
53,1448847,8920766020924210360,2016-05-05 10:10:33,77.231659,28.730684,Delhi,
54,1519073,8920766020924210360,2016-05-02 19:14:43,77.231659,28.730684,Delhi,
55,1846684,8920766020924210360,2016-05-06 07:47:03,77.231659,28.730684,Delhi,
56,1898441,8920766020924210360,2016-05-04 18:22:01,77.231659,28.730684,Delhi,
57,2032143,8920766020924210360,2016-05-04 19:20:09,77.231659,28.730684,Delhi,
58,2285511,8920766020924210360,2016-05-05 10:10:46,77.231659,28.730684,Delhi,
59,2541767,8920766020924210360,2016-05-06 23:37:19,77.231659,28.730684,Delhi,
60,2745991,8920766020924210360,2016-05-03 21:15:58,77.231659,28.730684,Delhi,
61,2895281,8920766020924210360,2016-05-07 00:43:15,77.231659,28.730684,Delhi,
62,3008485,8920766020924210360,2016-05-04 19:26:17,77.231659,28.730684,Delhi,
63,3111602,8920766020924210360,2016-05-06 09:43:20,77.231659,28.730684,Delhi,

Here , we have __27__ null state records

In [226]:
events_df.loc[(events_df.device_id==6435030445996454477)]

,event_id,device_id,timestamp,longitude,latitude,city,state
261446,37462,6435030445996454477,2016-05-07 08:15:26,88.619415,25.484459,Gangarampur,
261447,206518,6435030445996454477,2016-05-07 16:43:26,88.619415,25.484459,Gangarampur,
261448,220690,6435030445996454477,2016-05-07 08:02:02,88.619415,25.484459,Gangarampur,
261449,546873,6435030445996454477,2016-05-05 09:20:54,88.619415,25.484459,Gangarampur,
261450,579602,6435030445996454477,2016-05-06 14:23:21,88.619415,25.484459,Gangarampur,
261451,762084,6435030445996454477,2016-05-01 08:14:50,88.619415,25.484459,Gangarampur,
261452,811041,6435030445996454477,2016-05-05 08:11:02,88.619415,25.484459,Gangarampur,
261453,904996,6435030445996454477,2016-05-07 15:20:54,88.619415,25.484459,Gangarampur,
261454,1070365,6435030445996454477,2016-05-07 17:03:06,88.619415,25.484459,Gangarampur,
261455,1196730,6435030445996454477,2016-05-03 08:36:15,88.619415,25.484459,Gangarampur,
261456,1221721,6435030445996454477,2016-05-05 08:41:36,88.619415,25.484459,Gangarampur,
261457,1275863,6435030445996454477,2016-05-07 07:58:01,88.619415,25.484459,Gangarampur,
261458,1362054,6435030445996454477,2016-05-06 08:08:30,88.619415,25.484459,Gangarampur,
261459,1362315,6435030445996454477,2016-05-07 08:07:33,88.619415,25.484459,Gangarampur,
261460,1499067,6435030445996454477,2016-05-06 09:09:49,88.619415,25.484459,Gangarampur,
261461,1583836,6435030445996454477,2016-05-07 15:01:05,88.619415,25.484459,Gangarampur,
261462,1885568,6435030445996454477,2016-05-02 08:36:55,88.619415,25.484459,Gangarampur,
261463,2204906,6435030445996454477,2016-05-04 08:31:05,88.619415,25.484459,Gangarampur,
261464,2259247,6435030445996454477,2016-05-05 08:32:04,88.619415,25.484459,Gangarampur,
261465,2317479,6435030445996454477,2016-05-06 08:13:41,88.619415,25.484459,Gangarampur,
261466,2336905,6435030445996454477,2016-05-06 14:27:35,88.619415,25.484459,Gangarampur,
261467,2805999,6435030445996454477,2016-05-06 14:26:25,88.619415,25.484459,Gangarampur,
261468,2873949,6435030445996454477,2016-05-05 08:29:51,88.619415,25.484459,Gangarampur,
261469,3057454,6435030445996454477,2016-05-06 07:59:50,88.619415,25.484459,Gangarampur,
261470,3109058,6435030445996454477,2016-05-02 08:35:24,88.619415,25.484459,Gangarampur,
261471,3188932,6435030445996454477,2016-05-05 08:49:15,88.619415,25.484459,Gangarampur,

Here, we have __26__ null state records

In [227]:
events_df.loc[(events_df.device_id==2566442097100657792)]

,event_id,device_id,timestamp,longitude,latitude,city,state
261391,153199,2566442097100657792,2016-05-01 15:22:15,75.865532,26.987566,Jaipur,
261392,283562,2566442097100657792,2016-05-07 16:26:27,75.865532,26.987566,Jaipur,
261393,350195,2566442097100657792,2016-05-03 13:46:48,75.865532,26.987566,Jaipur,
261394,587485,2566442097100657792,2016-05-05 20:15:15,75.865532,26.987566,Jaipur,
261395,713255,2566442097100657792,2016-05-02 17:24:28,75.865532,26.987566,Jaipur,
261396,818874,2566442097100657792,2016-05-05 14:44:34,75.865532,26.987566,Jaipur,
261397,853287,2566442097100657792,2016-05-03 17:55:28,75.865532,26.987566,Jaipur,
261398,929564,2566442097100657792,2016-05-03 14:30:24,75.865532,26.987566,Jaipur,
261399,959683,2566442097100657792,2016-05-03 14:05:45,75.865532,26.987566,Jaipur,
261400,1037634,2566442097100657792,2016-05-03 12:43:15,75.865532,26.987566,Jaipur,
261401,1097277,2566442097100657792,2016-05-03 18:35:23,75.865532,26.987566,Jaipur,
261402,1657107,2566442097100657792,2016-05-05 20:00:10,75.865532,26.987566,Jaipur,
261403,2152568,2566442097100657792,2016-05-03 12:50:08,75.865532,26.987566,Jaipur,
261404,2166181,2566442097100657792,2016-05-05 20:16:55,75.865532,26.987566,Jaipur,
261405,2183172,2566442097100657792,2016-05-02 12:09:11,75.865532,26.987566,Jaipur,
261406,2288879,2566442097100657792,2016-05-02 13:00:34,75.865532,26.987566,Jaipur,
261407,2483134,2566442097100657792,2016-05-06 16:56:48,75.865532,26.987566,Jaipur,
261408,2516478,2566442097100657792,2016-05-02 12:19:15,75.865532,26.987566,Jaipur,
261409,2595726,2566442097100657792,2016-05-02 20:53:52,75.865532,26.987566,Jaipur,
261410,2617353,2566442097100657792,2016-05-03 15:05:38,75.865532,26.987566,Jaipur,
261411,2788231,2566442097100657792,2016-05-05 20:03:24,75.865532,26.987566,Jaipur,
261412,2810395,2566442097100657792,2016-05-03 18:04:31,75.865532,26.987566,Jaipur,
261413,2909862,2566442097100657792,2016-05-02 13:25:46,75.865532,26.987566,Jaipur,
261414,2936692,2566442097100657792,2016-05-02 09:07:39,75.865532,26.987566,Jaipur,
261415,3078559,2566442097100657792,2016-05-06 07:21:36,75.865532,26.987566,Jaipur,

Here, we have __25__ null state records

In [228]:
events_df.loc[(events_df.device_id==6391032074311733588)]

,event_id,device_id,timestamp,longitude,latitude,city,state
14,115439,6391032074311733588,2016-05-04 20:00:54,77.29248,28.719967,Delhi,
15,282938,6391032074311733588,2016-05-04 16:51:32,77.29248,28.719967,Delhi,
16,295760,6391032074311733588,2016-05-06 05:07:53,77.29248,28.719967,Delhi,
17,435661,6391032074311733588,2016-05-02 06:55:42,77.29248,28.719967,Delhi,
18,462952,6391032074311733588,2016-05-02 23:04:40,77.29248,28.719967,Delhi,
19,816535,6391032074311733588,2016-05-04 12:29:17,77.29248,28.719967,Delhi,
20,845167,6391032074311733588,2016-05-03 12:54:34,77.29248,28.719967,Delhi,
21,915230,6391032074311733588,2016-05-02 23:23:31,77.29248,28.719967,Delhi,
22,1120945,6391032074311733588,2016-05-03 15:15:59,77.29248,28.719967,Delhi,
23,1315477,6391032074311733588,2016-05-03 15:13:24,77.29248,28.719967,Delhi,
24,1372022,6391032074311733588,2016-05-04 14:29:54,77.29248,28.719967,Delhi,
25,2025490,6391032074311733588,2016-05-04 14:38:13,77.29248,28.719967,Delhi,
26,2029645,6391032074311733588,2016-05-06 17:11:19,77.29248,28.719967,Delhi,
27,2480247,6391032074311733588,2016-05-04 14:18:47,77.29248,28.719967,Delhi,
28,2595628,6391032074311733588,2016-05-02 19:57:57,77.29248,28.719967,Delhi,
29,2616934,6391032074311733588,2016-05-07 14:29:15,77.29248,28.719967,Delhi,
30,2648800,6391032074311733588,2016-05-03 10:17:14,77.29248,28.719967,Delhi,
31,2650918,6391032074311733588,2016-05-03 11:37:05,77.29248,28.719967,Delhi,
32,2813340,6391032074311733588,2016-05-04 20:38:42,77.29248,28.719967,Delhi,
33,2852253,6391032074311733588,2016-05-03 11:38:58,77.29248,28.719967,Delhi,
34,2856449,6391032074311733588,2016-05-04 13:58:11,77.29248,28.719967,Delhi,
35,3097921,6391032074311733588,2016-05-02 12:28:05,77.29248,28.719967,Delhi,
36,3170435,6391032074311733588,2016-05-02 22:12:28,77.29248,28.719967,Delhi,

Here, we have __23__ null state records

In [229]:
events_df.loc[(events_df.device_id==-8330768594253487769)]

,event_id,device_id,timestamp,longitude,latitude,city,state
172,12189,-8330768594253487769,2016-05-05 12:44:47,83.319786,17.81658,Visakhapatnam,
173,161723,-8330768594253487769,2016-05-04 01:05:07,83.319786,17.81658,Visakhapatnam,
174,169370,-8330768594253487769,2016-05-01 23:53:46,83.319786,17.81658,Visakhapatnam,
175,340356,-8330768594253487769,2016-05-06 06:39:54,83.319786,17.81658,Visakhapatnam,
176,451793,-8330768594253487769,2016-05-02 13:36:44,83.319786,17.81658,Visakhapatnam,
177,490788,-8330768594253487769,2016-05-01 01:49:58,83.319786,17.81658,Visakhapatnam,
178,500631,-8330768594253487769,2016-05-04 14:35:09,83.319786,17.81658,Visakhapatnam,
179,782664,-8330768594253487769,2016-05-07 00:56:57,83.319786,17.81658,Visakhapatnam,
180,1153478,-8330768594253487769,2016-05-07 16:53:00,83.319786,17.81658,Visakhapatnam,
181,1392017,-8330768594253487769,2016-05-02 19:23:36,83.319786,17.81658,Visakhapatnam,
182,1561496,-8330768594253487769,2016-05-03 23:38:49,83.319786,17.81658,Visakhapatnam,
183,1708781,-8330768594253487769,2016-05-04 08:52:58,83.319786,17.81658,Visakhapatnam,
184,1740794,-8330768594253487769,2016-05-03 08:39:58,83.319786,17.81658,Visakhapatnam,
185,1788983,-8330768594253487769,2016-05-03 23:30:12,83.319786,17.81658,Visakhapatnam,
186,1816887,-8330768594253487769,2016-05-07 01:04:20,83.319786,17.81658,Visakhapatnam,
187,1919462,-8330768594253487769,2016-05-07 00:37:04,83.319786,17.81658,Visakhapatnam,
188,2108368,-8330768594253487769,2016-05-06 10:32:00,83.319786,17.81658,Visakhapatnam,
189,2517676,-8330768594253487769,2016-05-07 12:48:20,83.319786,17.81658,Visakhapatnam,
190,2577499,-8330768594253487769,2016-05-01 09:32:05,83.319786,17.81658,Visakhapatnam,
191,2595538,-8330768594253487769,2016-05-01 20:43:12,83.319786,17.81658,Visakhapatnam,
192,2861719,-8330768594253487769,2016-05-01 19:17:38,83.319786,17.81658,Visakhapatnam,
193,2872845,-8330768594253487769,2016-05-06 07:46:42,83.319786,17.81658,Visakhapatnam,
194,3025417,-8330768594253487769,2016-05-05 23:32:44,83.319786,17.81658,Visakhapatnam,

Here, we have __23__ null state records

In [230]:
events_df.loc[(events_df.device_id==-8516174944156742424)]

,event_id,device_id,timestamp,longitude,latitude,city,state
138,460124,-8516174944156742424,2016-05-01 21:30:10,80.359795,13.128174,Chennai,
139,595629,-8516174944156742424,2016-05-05 06:32:31,80.359795,13.128174,Chennai,
140,614530,-8516174944156742424,2016-05-04 21:33:50,80.359795,13.128174,Chennai,
141,680016,-8516174944156742424,2016-05-04 14:01:46,80.359795,13.128174,Chennai,
142,751485,-8516174944156742424,2016-05-03 19:22:21,80.359795,13.128174,Chennai,
143,868476,-8516174944156742424,2016-05-01 13:45:40,80.359795,13.128174,Chennai,
144,979837,-8516174944156742424,2016-05-01 06:59:00,80.359795,13.128174,Chennai,
145,1369496,-8516174944156742424,2016-05-07 12:51:04,80.359795,13.128174,Chennai,
146,1488420,-8516174944156742424,2016-05-06 21:02:54,80.359795,13.128174,Chennai,
147,1756400,-8516174944156742424,2016-05-04 20:47:33,80.359795,13.128174,Chennai,
148,1875309,-8516174944156742424,2016-05-04 01:54:25,80.359795,13.128174,Chennai,
149,2044076,-8516174944156742424,2016-05-03 06:54:10,80.359795,13.128174,Chennai,
150,2058749,-8516174944156742424,2016-05-03 18:42:39,80.359795,13.128174,Chennai,
151,2401738,-8516174944156742424,2016-05-04 14:58:41,80.359795,13.128174,Chennai,
152,2424640,-8516174944156742424,2016-05-01 23:38:02,80.359795,13.128174,Chennai,
153,2552799,-8516174944156742424,2016-05-07 11:42:43,80.359795,13.128174,Chennai,
154,2622600,-8516174944156742424,2016-05-03 19:00:46,80.359795,13.128174,Chennai,
155,2845315,-8516174944156742424,2016-05-07 05:40:00,80.359795,13.128174,Chennai,
156,2872571,-8516174944156742424,2016-05-05 06:57:04,80.359795,13.128174,Chennai,
157,2932903,-8516174944156742424,2016-05-06 06:22:59,80.359795,13.128174,Chennai,
158,3219792,-8516174944156742424,2016-05-02 00:23:43,80.359795,13.128174,Chennai,
246920,167679,-8516174944156742424,2016-05-02 08:29:38,78.062973,30.414165,DehraDun,Uttaranchal
246921,1277745,-8516174944156742424,2016-05-01 10:15:15,78.062973,30.414165,DehraDun,Uttaranchal
246922,1447022,-8516174944156742424,2016-05-02 09:02:54,78.062973,30.414165,DehraDun,Uttaranchal
246923,1640285,-8516174944156742424,2016-05-01 09:22:27,78.062973,30.414165,DehraDun,Uttaranchal
246924,2323442,-8516174944156742424,2016-05-01 10:57:50,78.062973,30.414165,DehraDun,Uttaranchal

Here, if we observe the __device_id__ __ -8516174944156742424__  has correct values for __Denhradun__ city in __Uttaranchal__ state and few events of this device has recorded its events in __chennai__, these records hace to be replaced with correct values

In [231]:
events_df.loc[(events_df.device_id==-8516174944156742424)&(events_df.city=='Chennai')]

,event_id,device_id,timestamp,longitude,latitude,city,state
138,460124,-8516174944156742424,2016-05-01 21:30:10,80.359795,13.128174,Chennai,
139,595629,-8516174944156742424,2016-05-05 06:32:31,80.359795,13.128174,Chennai,
140,614530,-8516174944156742424,2016-05-04 21:33:50,80.359795,13.128174,Chennai,
141,680016,-8516174944156742424,2016-05-04 14:01:46,80.359795,13.128174,Chennai,
142,751485,-8516174944156742424,2016-05-03 19:22:21,80.359795,13.128174,Chennai,
143,868476,-8516174944156742424,2016-05-01 13:45:40,80.359795,13.128174,Chennai,
144,979837,-8516174944156742424,2016-05-01 06:59:00,80.359795,13.128174,Chennai,
145,1369496,-8516174944156742424,2016-05-07 12:51:04,80.359795,13.128174,Chennai,
146,1488420,-8516174944156742424,2016-05-06 21:02:54,80.359795,13.128174,Chennai,
147,1756400,-8516174944156742424,2016-05-04 20:47:33,80.359795,13.128174,Chennai,
148,1875309,-8516174944156742424,2016-05-04 01:54:25,80.359795,13.128174,Chennai,
149,2044076,-8516174944156742424,2016-05-03 06:54:10,80.359795,13.128174,Chennai,
150,2058749,-8516174944156742424,2016-05-03 18:42:39,80.359795,13.128174,Chennai,
151,2401738,-8516174944156742424,2016-05-04 14:58:41,80.359795,13.128174,Chennai,
152,2424640,-8516174944156742424,2016-05-01 23:38:02,80.359795,13.128174,Chennai,
153,2552799,-8516174944156742424,2016-05-07 11:42:43,80.359795,13.128174,Chennai,
154,2622600,-8516174944156742424,2016-05-03 19:00:46,80.359795,13.128174,Chennai,
155,2845315,-8516174944156742424,2016-05-07 05:40:00,80.359795,13.128174,Chennai,
156,2872571,-8516174944156742424,2016-05-05 06:57:04,80.359795,13.128174,Chennai,
157,2932903,-8516174944156742424,2016-05-06 06:22:59,80.359795,13.128174,Chennai,
158,3219792,-8516174944156742424,2016-05-02 00:23:43,80.359795,13.128174,Chennai,

In [232]:
events_df.city.loc[(events_df['device_id']==-8516174944156742424)]='DehraDun'
events_df.state.loc[(events_df['device_id']==-8516174944156742424)]='Uttaranchal'
events_df.latitude.loc[(events_df['device_id']==-8516174944156742424)]=30.414165
events_df.longitude.loc[(events_df['device_id']==-8516174944156742424)]=78.062973

C:\Users\DELL\Anaconda3\lib\site-packages\pandas\core\indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [233]:
events_df.loc[(events_df.device_id==-8516174944156742424)&(events_df.city=='Chennai')]

Empty DataFrame
Columns: [event_id, device_id, timestamp, longitude, latitude, city, state]
Index: []

In [234]:
events_df.loc[(events_df.device_id==-8516174944156742424)]

,event_id,device_id,timestamp,longitude,latitude,city,state
138,460124,-8516174944156742424,2016-05-01 21:30:10,78.062973,30.414165,DehraDun,Uttaranchal
139,595629,-8516174944156742424,2016-05-05 06:32:31,78.062973,30.414165,DehraDun,Uttaranchal
140,614530,-8516174944156742424,2016-05-04 21:33:50,78.062973,30.414165,DehraDun,Uttaranchal
141,680016,-8516174944156742424,2016-05-04 14:01:46,78.062973,30.414165,DehraDun,Uttaranchal
142,751485,-8516174944156742424,2016-05-03 19:22:21,78.062973,30.414165,DehraDun,Uttaranchal
143,868476,-8516174944156742424,2016-05-01 13:45:40,78.062973,30.414165,DehraDun,Uttaranchal
144,979837,-8516174944156742424,2016-05-01 06:59:00,78.062973,30.414165,DehraDun,Uttaranchal
145,1369496,-8516174944156742424,2016-05-07 12:51:04,78.062973,30.414165,DehraDun,Uttaranchal
146,1488420,-8516174944156742424,2016-05-06 21:02:54,78.062973,30.414165,DehraDun,Uttaranchal
147,1756400,-8516174944156742424,2016-05-04 20:47:33,78.062973,30.414165,DehraDun,Uttaranchal
148,1875309,-8516174944156742424,2016-05-04 01:54:25,78.062973,30.414165,DehraDun,Uttaranchal
149,2044076,-8516174944156742424,2016-05-03 06:54:10,78.062973,30.414165,DehraDun,Uttaranchal
150,2058749,-8516174944156742424,2016-05-03 18:42:39,78.062973,30.414165,DehraDun,Uttaranchal
151,2401738,-8516174944156742424,2016-05-04 14:58:41,78.062973,30.414165,DehraDun,Uttaranchal
152,2424640,-8516174944156742424,2016-05-01 23:38:02,78.062973,30.414165,DehraDun,Uttaranchal
153,2552799,-8516174944156742424,2016-05-07 11:42:43,78.062973,30.414165,DehraDun,Uttaranchal
154,2622600,-8516174944156742424,2016-05-03 19:00:46,78.062973,30.414165,DehraDun,Uttaranchal
155,2845315,-8516174944156742424,2016-05-07 05:40:00,78.062973,30.414165,DehraDun,Uttaranchal
156,2872571,-8516174944156742424,2016-05-05 06:57:04,78.062973,30.414165,DehraDun,Uttaranchal
157,2932903,-8516174944156742424,2016-05-06 06:22:59,78.062973,30.414165,DehraDun,Uttaranchal
158,3219792,-8516174944156742424,2016-05-02 00:23:43,78.062973,30.414165,DehraDun,Uttaranchal
246920,167679,-8516174944156742424,2016-05-02 08:29:38,78.062973,30.414165,DehraDun,Uttaranchal
246921,1277745,-8516174944156742424,2016-05-01 10:15:15,78.062973,30.414165,DehraDun,Uttaranchal
246922,1447022,-8516174944156742424,2016-05-02 09:02:54,78.062973,30.414165,DehraDun,Uttaranchal
246923,1640285,-8516174944156742424,2016-05-01 09:22:27,78.062973,30.414165,DehraDun,Uttaranchal
246924,2323442,-8516174944156742424,2016-05-01 10:57:50,78.062973,30.414165,DehraDun,Uttaranchal

In [235]:
events_df.loc[(events_df.device_id==2910512278206447328)]

,event_id,device_id,timestamp,longitude,latitude,city,state
14298,10384,2910512278206447328,2016-05-03 11:42:27,75.930969,22.818846,Indore,MadhyaPradesh
14299,13375,2910512278206447328,2016-05-03 12:59:46,75.930969,22.818846,Indore,MadhyaPradesh
14300,22810,2910512278206447328,2016-05-07 19:04:40,75.930969,22.818846,Indore,MadhyaPradesh
14301,22813,2910512278206447328,2016-05-07 19:05:40,75.930969,22.818846,Indore,
14302,24817,2910512278206447328,2016-05-03 21:12:56,75.930969,22.818846,Indore,MadhyaPradesh
14303,24996,2910512278206447328,2016-05-04 21:15:49,75.930969,22.818846,Indore,MadhyaPradesh
14304,24998,2910512278206447328,2016-05-04 21:25:28,75.930969,22.818846,Indore,MadhyaPradesh
14305,26208,2910512278206447328,2016-05-02 22:08:00,75.930969,22.818846,Indore,MadhyaPradesh
14306,26209,2910512278206447328,2016-05-02 22:19:32,75.930969,22.818846,Indore,MadhyaPradesh
14307,28007,2910512278206447328,2016-05-02 23:15:59,75.930969,22.818846,Indore,MadhyaPradesh
14308,28136,2910512278206447328,2016-05-03 23:41:03,75.930969,22.818846,Indore,MadhyaPradesh
14309,48127,2910512278206447328,2016-05-02 15:43:26,75.930969,22.818846,Indore,MadhyaPradesh
14310,60541,2910512278206447328,2016-05-02 22:05:23,75.930969,22.818846,Indore,MadhyaPradesh
14311,60691,2910512278206447328,2016-05-02 22:18:03,75.930969,22.818846,Indore,MadhyaPradesh
14312,62263,2910512278206447328,2016-05-02 23:01:32,75.930969,22.818846,Indore,MadhyaPradesh
14313,84577,2910512278206447328,2016-05-03 13:29:43,75.930969,22.818846,Indore,MadhyaPradesh
14314,84604,2910512278206447328,2016-05-03 13:02:42,75.930969,22.818846,Indore,MadhyaPradesh
14315,90374,2910512278206447328,2016-05-03 10:22:40,75.930969,22.818846,Indore,MadhyaPradesh
14316,96640,2910512278206447328,2016-05-03 12:53:41,75.930969,22.818846,Indore,MadhyaPradesh
14317,99389,2910512278206447328,2016-05-03 13:22:03,75.930969,22.818846,Indore,MadhyaPradesh
14318,100822,2910512278206447328,2016-05-02 19:20:39,75.930969,22.818846,Indore,MadhyaPradesh
14319,101008,2910512278206447328,2016-05-02 19:04:05,75.930969,22.818846,Indore,MadhyaPradesh
14320,104981,2910512278206447328,2016-05-03 20:43:08,75.930969,22.818846,Indore,MadhyaPradesh
14321,109403,2910512278206447328,2016-05-02 18:39:11,75.930969,22.818846,Indore,MadhyaPradesh
14322,109610,2910512278206447328,2016-05-02 18:47:45,75.930969,22.818846,Indore,MadhyaPradesh
14323,110905,2910512278206447328,2016-05-02 22:46:12,75.930969,22.818846,Indore,
14324,111704,2910512278206447328,2016-05-03 22:56:32,75.930969,22.818846,Indore,MadhyaPradesh
14325,111911,2910512278206447328,2016-05-02 19:08:54,75.930969,22.818846,Indore,MadhyaPradesh
14326,111912,2910512278206447328,2016-05-02 19:09:24,75.930969,22.818846,Indore,MadhyaPradesh
14327,111915,2910512278206447328,2016-05-02 19:08:43,75.930969,22.818846,Indore,MadhyaPradesh
...,...,...,...,...,...,...,...
15371,3164151,2910512278206447328,2016-05-03 23:42:09,75.930969,22.818846,Indore,MadhyaPradesh
15372,3164158,2910512278206447328,2016-05-03 23:45:55,75.930969,22.818846,Indore,MadhyaPradesh
15373,3167629,2910512278206447328,2016-05-03 20:53:55,75.930969,22.818846,Indore,MadhyaPradesh
15374,3169009,2910512278206447328,2016-05-03 21:14:13,75.930969,22.818846,Indore,MadhyaPradesh
15375,3172273,2910512278206447328,2016-05-02 23:25:37,75.930969,22.818846,Indore,MadhyaPradesh
15376,3172628,2910512278206447328,2016-05-03 23:26:34,75.930969,22.818846,Indore,MadhyaPradesh
15377,3188297,2910512278206447328,2016-05-03 21:57:18,75.930969,22.818846,Indore,MadhyaPradesh
15378,3188325,2910512278206447328,2016-05-03 22:10:44,75.930969,22.818846,Indore,MadhyaPradesh
15379,3191027,2910512278206447328,2016-05-02 22:51:46,75.930969,22.818846,Indore,MadhyaPradesh
15380,3191424,2910512278206447328,2016-05-03 23:43:25,75.930969,22.818846,Indore,MadhyaPradesh
15381,3200368,2910512278206447328,2016-05-03 13:08:33,75.930969,22.818846,Indore,MadhyaPradesh
15382,3208013,2910512278206447328,2016-05-02 18:54:30,75.930969,22.818846,Indore,MadhyaPradesh
15383,3210059,2910512278206447328,2016-05-02 20:06:59,75.930969,22.818846,Indore,MadhyaPradesh
15384,3210340,2910512278206447328,2016-05-03 20:50:50,75.930969,22.818846,Indore,MadhyaPradesh
15385,3214156,2910512278206447328,2016-05-02 22:19:33,75.930969,22.818846,Indore,MadhyaPradesh
15386,3215626,2910512278206447328,2016-05-02 23:20:54,75.930969,22.818846,Indore,MadhyaPradesh
15387,3216892,2910512278206447328,2016-05-04 21:24:32,75.930969,22.818846,Indore,MadhyaPradesh
15388,3217899,2910512278206447328,2016-05-02 22:32:27,75.930969,22.818846,Indore,MadhyaPradesh
15389,3217913,2910512278206447328,2016-05-02 22:28:56,75.930969,22.818846,Indore,MadhyaPradesh
15390,3217997,2910512278206447328,2016-05-03 22:20:52,75.930969,22.818846,Indore,MadhyaPradesh
15391,3232014,2910512278206447328,2016-05-03 11:46:18,75.930969,22.818846,Indore,MadhyaPradesh
15392,3232150,2910512278206447328,2016-05-03 11:14:29,75.930969,22.818846,Indore,MadhyaPradesh
15393,3232163,2910512278206447328,2016-05-03 11:45:25,75.930969,22.818846,Indore,MadhyaPradesh
15394,3233634,2910512278206447328,2016-05-03 12:51:59,75.930969,22.818846,Indore,MadhyaPradesh
15395,3235733,2910512278206447328,2016-05-05 13:29:39,75.930969,22.818846,Indore,MadhyaPradesh
15396,3237769,2910512278206447328,2016-05-02 15:17:33,75.930969,22.818846,Indore,MadhyaPradesh
15397,3248047,2910512278206447328,2016-05-02 21:43:51,75.930969,22.818846,Indore,MadhyaPradesh
15398,3249860,2910512278206447328,2016-05-02 22:42:05,75.930969,22.818846,Indore,MadhyaPradesh
15399,3251848,2910512278206447328,2016-05-03 23:23:34,75.930969,22.818846,Indore,MadhyaPradesh
15400,3251849,2910512278206447328,2016-05-03 23:25:34,75.930969,22.818846,Indore,MadhyaPradesh

In [236]:
events_df.loc[(events_df.device_id==2910512278206447328)& (events_df.state=='')]

,event_id,device_id,timestamp,longitude,latitude,city,state
14301,22813,2910512278206447328,2016-05-07 19:05:40,75.930969,22.818846,Indore,
14323,110905,2910512278206447328,2016-05-02 22:46:12,75.930969,22.818846,Indore,
14359,202329,2910512278206447328,2016-05-02 13:18:58,75.930969,22.818846,Indore,
14620,967266,2910512278206447328,2016-05-02 19:18:38,75.930969,22.818846,Indore,
14661,1068940,2910512278206447328,2016-05-04 16:09:17,75.930969,22.818846,Indore,
14676,1094189,2910512278206447328,2016-05-02 15:58:05,75.930969,22.818846,Indore,
14786,1397137,2910512278206447328,2016-05-03 20:56:43,75.930969,22.818846,Indore,
14847,1565402,2910512278206447328,2016-05-02 22:46:08,75.930969,22.818846,Indore,
14848,1565416,2910512278206447328,2016-05-02 22:54:15,75.930969,22.818846,Indore,
15000,2064901,2910512278206447328,2016-05-03 23:18:43,75.930969,22.818846,Indore,
15003,2079745,2910512278206447328,2016-05-02 11:34:52,75.930969,22.818846,Indore,
15011,2089349,2910512278206447328,2016-05-02 19:20:27,75.930969,22.818846,Indore,
15034,2182097,2910512278206447328,2016-05-03 11:24:35,75.930969,22.818846,Indore,
15140,2523046,2910512278206447328,2016-05-02 15:16:56,75.930969,22.818846,Indore,
15244,2766143,2910512278206447328,2016-05-03 23:20:43,75.930969,22.818846,Indore,
15270,2858299,2910512278206447328,2016-05-02 16:10:37,75.930969,22.818846,Indore,
15288,2893654,2910512278206447328,2016-05-03 23:52:56,75.930969,22.818846,Indore,
15353,3117013,2910512278206447328,2016-05-02 18:39:45,75.930969,22.818846,Indore,
15357,3134441,2910512278206447328,2016-05-03 12:46:54,75.930969,22.818846,Indore,

In [237]:
events_df.state.loc[(events_df.device_id==2910512278206447328)& (events_df.state=='')]='MadhyaPradesh'

C:\Users\DELL\Anaconda3\lib\site-packages\pandas\core\indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [238]:
events_df.loc[(events_df.device_id==2910512278206447328)& (events_df.state=='')]

Empty DataFrame
Columns: [event_id, device_id, timestamp, longitude, latitude, city, state]
Index: []

In [239]:
events_df.loc[(events_df.device_id==2910512278206447328)]

,event_id,device_id,timestamp,longitude,latitude,city,state
14298,10384,2910512278206447328,2016-05-03 11:42:27,75.930969,22.818846,Indore,MadhyaPradesh
14299,13375,2910512278206447328,2016-05-03 12:59:46,75.930969,22.818846,Indore,MadhyaPradesh
14300,22810,2910512278206447328,2016-05-07 19:04:40,75.930969,22.818846,Indore,MadhyaPradesh
14301,22813,2910512278206447328,2016-05-07 19:05:40,75.930969,22.818846,Indore,MadhyaPradesh
14302,24817,2910512278206447328,2016-05-03 21:12:56,75.930969,22.818846,Indore,MadhyaPradesh
14303,24996,2910512278206447328,2016-05-04 21:15:49,75.930969,22.818846,Indore,MadhyaPradesh
14304,24998,2910512278206447328,2016-05-04 21:25:28,75.930969,22.818846,Indore,MadhyaPradesh
14305,26208,2910512278206447328,2016-05-02 22:08:00,75.930969,22.818846,Indore,MadhyaPradesh
14306,26209,2910512278206447328,2016-05-02 22:19:32,75.930969,22.818846,Indore,MadhyaPradesh
14307,28007,2910512278206447328,2016-05-02 23:15:59,75.930969,22.818846,Indore,MadhyaPradesh
14308,28136,2910512278206447328,2016-05-03 23:41:03,75.930969,22.818846,Indore,MadhyaPradesh
14309,48127,2910512278206447328,2016-05-02 15:43:26,75.930969,22.818846,Indore,MadhyaPradesh
14310,60541,2910512278206447328,2016-05-02 22:05:23,75.930969,22.818846,Indore,MadhyaPradesh
14311,60691,2910512278206447328,2016-05-02 22:18:03,75.930969,22.818846,Indore,MadhyaPradesh
14312,62263,2910512278206447328,2016-05-02 23:01:32,75.930969,22.818846,Indore,MadhyaPradesh
14313,84577,2910512278206447328,2016-05-03 13:29:43,75.930969,22.818846,Indore,MadhyaPradesh
14314,84604,2910512278206447328,2016-05-03 13:02:42,75.930969,22.818846,Indore,MadhyaPradesh
14315,90374,2910512278206447328,2016-05-03 10:22:40,75.930969,22.818846,Indore,MadhyaPradesh
14316,96640,2910512278206447328,2016-05-03 12:53:41,75.930969,22.818846,Indore,MadhyaPradesh
14317,99389,2910512278206447328,2016-05-03 13:22:03,75.930969,22.818846,Indore,MadhyaPradesh
14318,100822,2910512278206447328,2016-05-02 19:20:39,75.930969,22.818846,Indore,MadhyaPradesh
14319,101008,2910512278206447328,2016-05-02 19:04:05,75.930969,22.818846,Indore,MadhyaPradesh
14320,104981,2910512278206447328,2016-05-03 20:43:08,75.930969,22.818846,Indore,MadhyaPradesh
14321,109403,2910512278206447328,2016-05-02 18:39:11,75.930969,22.818846,Indore,MadhyaPradesh
14322,109610,2910512278206447328,2016-05-02 18:47:45,75.930969,22.818846,Indore,MadhyaPradesh
14323,110905,2910512278206447328,2016-05-02 22:46:12,75.930969,22.818846,Indore,MadhyaPradesh
14324,111704,2910512278206447328,2016-05-03 22:56:32,75.930969,22.818846,Indore,MadhyaPradesh
14325,111911,2910512278206447328,2016-05-02 19:08:54,75.930969,22.818846,Indore,MadhyaPradesh
14326,111912,2910512278206447328,2016-05-02 19:09:24,75.930969,22.818846,Indore,MadhyaPradesh
14327,111915,2910512278206447328,2016-05-02 19:08:43,75.930969,22.818846,Indore,MadhyaPradesh
...,...,...,...,...,...,...,...
15371,3164151,2910512278206447328,2016-05-03 23:42:09,75.930969,22.818846,Indore,MadhyaPradesh
15372,3164158,2910512278206447328,2016-05-03 23:45:55,75.930969,22.818846,Indore,MadhyaPradesh
15373,3167629,2910512278206447328,2016-05-03 20:53:55,75.930969,22.818846,Indore,MadhyaPradesh
15374,3169009,2910512278206447328,2016-05-03 21:14:13,75.930969,22.818846,Indore,MadhyaPradesh
15375,3172273,2910512278206447328,2016-05-02 23:25:37,75.930969,22.818846,Indore,MadhyaPradesh
15376,3172628,2910512278206447328,2016-05-03 23:26:34,75.930969,22.818846,Indore,MadhyaPradesh
15377,3188297,2910512278206447328,2016-05-03 21:57:18,75.930969,22.818846,Indore,MadhyaPradesh
15378,3188325,2910512278206447328,2016-05-03 22:10:44,75.930969,22.818846,Indore,MadhyaPradesh
15379,3191027,2910512278206447328,2016-05-02 22:51:46,75.930969,22.818846,Indore,MadhyaPradesh
15380,3191424,2910512278206447328,2016-05-03 23:43:25,75.930969,22.818846,Indore,MadhyaPradesh
15381,3200368,2910512278206447328,2016-05-03 13:08:33,75.930969,22.818846,Indore,MadhyaPradesh
15382,3208013,2910512278206447328,2016-05-02 18:54:30,75.930969,22.818846,Indore,MadhyaPradesh
15383,3210059,2910512278206447328,2016-05-02 20:06:59,75.930969,22.818846,Indore,MadhyaPradesh
15384,3210340,2910512278206447328,2016-05-03 20:50:50,75.930969,22.818846,Indore,MadhyaPradesh
15385,3214156,2910512278206447328,2016-05-02 22:19:33,75.930969,22.818846,Indore,MadhyaPradesh
15386,3215626,2910512278206447328,2016-05-02 23:20:54,75.930969,22.818846,Indore,MadhyaPradesh
15387,3216892,2910512278206447328,2016-05-04 21:24:32,75.930969,22.818846,Indore,MadhyaPradesh
15388,3217899,2910512278206447328,2016-05-02 22:32:27,75.930969,22.818846,Indore,MadhyaPradesh
15389,3217913,2910512278206447328,2016-05-02 22:28:56,75.930969,22.818846,Indore,MadhyaPradesh
15390,3217997,2910512278206447328,2016-05-03 22:20:52,75.930969,22.818846,Indore,MadhyaPradesh
15391,3232014,2910512278206447328,2016-05-03 11:46:18,75.930969,22.818846,Indore,MadhyaPradesh
15392,3232150,2910512278206447328,2016-05-03 11:14:29,75.930969,22.818846,Indore,MadhyaPradesh
15393,3232163,2910512278206447328,2016-05-03 11:45:25,75.930969,22.818846,Indore,MadhyaPradesh
15394,3233634,2910512278206447328,2016-05-03 12:51:59,75.930969,22.818846,Indore,MadhyaPradesh
15395,3235733,2910512278206447328,2016-05-05 13:29:39,75.930969,22.818846,Indore,MadhyaPradesh
15396,3237769,2910512278206447328,2016-05-02 15:17:33,75.930969,22.818846,Indore,MadhyaPradesh
15397,3248047,2910512278206447328,2016-05-02 21:43:51,75.930969,22.818846,Indore,MadhyaPradesh
15398,3249860,2910512278206447328,2016-05-02 22:42:05,75.930969,22.818846,Indore,MadhyaPradesh
15399,3251848,2910512278206447328,2016-05-03 23:23:34,75.930969,22.818846,Indore,MadhyaPradesh
15400,3251849,2910512278206447328,2016-05-03 23:25:34,75.930969,22.818846,Indore,MadhyaPradesh

In [240]:
events_df.loc[(events_df.device_id==-1453899082119740642)]

,event_id,device_id,timestamp,longitude,latitude,city,state
77,421155,-1453899082119740642,2016-04-30 23:57:48,73.926254,18.616127,Pune,
78,464605,-1453899082119740642,2016-05-05 15:03:26,73.926254,18.616127,Pune,
79,535698,-1453899082119740642,2016-05-06 21:17:59,73.926254,18.616127,Pune,
80,603751,-1453899082119740642,2016-05-04 12:54:07,73.926254,18.616127,Pune,
81,868239,-1453899082119740642,2016-05-07 12:20:18,73.926254,18.616127,Pune,
82,1176029,-1453899082119740642,2016-05-04 11:38:34,73.926254,18.616127,Pune,
83,1286279,-1453899082119740642,2016-05-04 15:49:02,73.926254,18.616127,Pune,
84,1515143,-1453899082119740642,2016-05-04 09:14:14,73.926254,18.616127,Pune,
85,1644899,-1453899082119740642,2016-05-05 11:02:36,73.926254,18.616127,Pune,
86,1790432,-1453899082119740642,2016-05-05 00:05:46,73.926254,18.616127,Pune,
87,1829431,-1453899082119740642,2016-05-05 14:15:13,73.926254,18.616127,Pune,
88,2348518,-1453899082119740642,2016-05-07 18:47:50,73.926254,18.616127,Pune,
89,2626218,-1453899082119740642,2016-05-06 21:06:42,73.926254,18.616127,Pune,
90,2647165,-1453899082119740642,2016-05-06 09:36:28,73.926254,18.616127,Pune,
91,2654897,-1453899082119740642,2016-05-01 12:05:45,73.926254,18.616127,Pune,
92,2762335,-1453899082119740642,2016-05-07 20:35:13,73.926254,18.616127,Pune,
93,2818201,-1453899082119740642,2016-05-03 00:55:03,73.926254,18.616127,Pune,
94,3193125,-1453899082119740642,2016-05-05 09:36:58,73.926254,18.616127,Pune,
95,3241595,-1453899082119740642,2016-05-04 17:45:22,73.926254,18.616127,Pune,

Here, we have __19__ null state records

In [241]:
events_df.loc[(events_df.device_id==-4631068140763118168)]

,event_id,device_id,timestamp,longitude,latitude,city,state
195,47924,-4631068140763118168,2016-05-07 14:04:10,83.373009,17.775417,Visakhapatnam,
196,302089,-4631068140763118168,2016-05-02 10:08:57,83.373009,17.775417,Visakhapatnam,
197,550850,-4631068140763118168,2016-05-07 12:13:02,83.373009,17.775417,Visakhapatnam,
198,765967,-4631068140763118168,2016-05-01 11:49:35,83.373009,17.775417,Visakhapatnam,
199,933046,-4631068140763118168,2016-05-01 17:00:30,83.373009,17.775417,Visakhapatnam,
200,973783,-4631068140763118168,2016-05-06 22:43:53,83.373009,17.775417,Visakhapatnam,
201,1066041,-4631068140763118168,2016-05-02 14:54:56,83.373009,17.775417,Visakhapatnam,
202,1479799,-4631068140763118168,2016-05-07 14:05:28,83.373009,17.775417,Visakhapatnam,
203,1855670,-4631068140763118168,2016-05-07 14:02:11,83.373009,17.775417,Visakhapatnam,
204,1888818,-4631068140763118168,2016-05-02 15:04:06,83.373009,17.775417,Visakhapatnam,
205,2185035,-4631068140763118168,2016-05-04 13:20:58,83.373009,17.775417,Visakhapatnam,
206,2206803,-4631068140763118168,2016-05-07 09:42:37,83.373009,17.775417,Visakhapatnam,
207,2290130,-4631068140763118168,2016-05-02 14:52:02,83.373009,17.775417,Visakhapatnam,
208,2349475,-4631068140763118168,2016-05-03 19:08:24,83.373009,17.775417,Visakhapatnam,
209,2381514,-4631068140763118168,2016-05-03 23:12:53,83.373009,17.775417,Visakhapatnam,
210,2386628,-4631068140763118168,2016-05-01 06:42:24,83.373009,17.775417,Visakhapatnam,
211,2476517,-4631068140763118168,2016-05-07 10:41:07,83.373009,17.775417,Visakhapatnam,

Here, we have __17__ null state records

In [242]:
events_df.loc[(events_df.device_id==1457210736255520731)]

,event_id,device_id,timestamp,longitude,latitude,city,state
261367,62469,1457210736255520731,2016-05-04 23:04:17,75.894058,26.949745,Jaipur,
261368,330348,1457210736255520731,2016-05-01 08:01:51,75.894058,26.949745,Jaipur,
261369,581677,1457210736255520731,2016-05-03 16:01:37,75.894058,26.949745,Jaipur,
261370,897152,1457210736255520731,2016-05-04 09:03:04,75.894058,26.949745,Jaipur,
261371,1077023,1457210736255520731,2016-05-01 00:11:18,75.894058,26.949745,Jaipur,
261372,1082720,1457210736255520731,2016-05-06 07:54:36,75.894058,26.949745,Jaipur,
261373,1138470,1457210736255520731,2016-05-01 08:03:41,75.894058,26.949745,Jaipur,
261374,1631905,1457210736255520731,2016-05-04 07:22:35,75.894058,26.949745,Jaipur,
261375,2093953,1457210736255520731,2016-05-03 22:11:43,75.894058,26.949745,Jaipur,
261376,2102808,1457210736255520731,2016-05-07 06:51:34,75.894058,26.949745,Jaipur,
261377,2444907,1457210736255520731,2016-05-03 07:01:02,75.894058,26.949745,Jaipur,
261378,2474247,1457210736255520731,2016-05-04 09:03:51,75.894058,26.949745,Jaipur,
261379,2591320,1457210736255520731,2016-05-05 17:49:32,75.894058,26.949745,Jaipur,
261380,2613649,1457210736255520731,2016-05-03 12:21:52,75.894058,26.949745,Jaipur,
261381,2641920,1457210736255520731,2016-05-06 08:39:46,75.894058,26.949745,Jaipur,
261382,2642077,1457210736255520731,2016-05-04 07:31:14,75.894058,26.949745,Jaipur,
261383,2732593,1457210736255520731,2016-05-02 06:17:04,75.894058,26.949745,Jaipur,

Here, we have __17__ records

In [243]:
events_df.loc[(events_df.device_id==-2352378818132978317)]

,event_id,device_id,timestamp,longitude,latitude,city,state
61161,11534,-2352378818132978317,2016-05-02 12:51:47,75.906532,22.732515,Indore,MadhyaPradesh
61162,11568,-2352378818132978317,2016-05-02 12:46:05,75.906532,22.732515,Indore,MadhyaPradesh
61163,18729,-2352378818132978317,2016-05-02 17:55:23,75.906532,22.732515,Indore,MadhyaPradesh
61164,19983,-2352378818132978317,2016-05-01 18:33:29,75.906532,22.732515,Indore,MadhyaPradesh
61165,20056,-2352378818132978317,2016-05-02 18:11:06,75.906532,22.732515,Indore,MadhyaPradesh
61166,20146,-2352378818132978317,2016-05-02 18:31:38,75.906532,22.732515,Indore,MadhyaPradesh
61167,23458,-2352378818132978317,2016-05-03 20:55:33,75.906532,22.732515,Indore,MadhyaPradesh
61168,24012,-2352378818132978317,2016-05-06 20:05:09,75.906532,22.732515,Indore,MadhyaPradesh
61169,25778,-2352378818132978317,2016-05-07 21:31:50,75.906532,22.732515,Indore,MadhyaPradesh
61170,25783,-2352378818132978317,2016-05-07 21:24:12,75.906532,22.732515,Indore,MadhyaPradesh
61171,26009,-2352378818132978317,2016-05-01 22:57:57,75.906532,22.732515,Indore,MadhyaPradesh
61172,27088,-2352378818132978317,2016-05-05 22:02:48,75.906532,22.732515,Indore,MadhyaPradesh
61173,39194,-2352378818132978317,2016-05-07 09:39:00,75.906532,22.732515,Indore,MadhyaPradesh
61174,43245,-2352378818132978317,2016-05-02 12:47:29,75.906532,22.732515,Indore,
61175,43872,-2352378818132978317,2016-05-04 12:24:01,75.906532,22.732515,Indore,MadhyaPradesh
61176,51613,-2352378818132978317,2016-05-02 17:48:08,75.906532,22.732515,Indore,MadhyaPradesh
61177,53233,-2352378818132978317,2016-05-02 18:16:05,75.906532,22.732515,Indore,MadhyaPradesh
61178,53346,-2352378818132978317,2016-05-02 18:32:14,75.906532,22.732515,Indore,MadhyaPradesh
61179,60054,-2352378818132978317,2016-05-07 21:30:51,75.906532,22.732515,Indore,MadhyaPradesh
61180,60151,-2352378818132978317,2016-05-07 21:52:38,75.906532,22.732515,Indore,MadhyaPradesh
61181,61550,-2352378818132978317,2016-05-06 22:40:01,75.906532,22.732515,Indore,MadhyaPradesh
61182,61757,-2352378818132978317,2016-05-06 22:52:01,75.906532,22.732515,Indore,MadhyaPradesh
61183,61759,-2352378818132978317,2016-05-06 22:49:08,75.906532,22.732515,Indore,MadhyaPradesh
61184,61760,-2352378818132978317,2016-05-06 22:53:01,75.906532,22.732515,Indore,MadhyaPradesh
61185,63584,-2352378818132978317,2016-05-04 00:47:46,75.906532,22.732515,Indore,MadhyaPradesh
61186,69699,-2352378818132978317,2016-05-02 00:49:55,75.906532,22.732515,Indore,MadhyaPradesh
61187,79719,-2352378818132978317,2016-05-05 11:51:22,75.906532,22.732515,Indore,MadhyaPradesh
61188,92660,-2352378818132978317,2016-05-07 09:55:50,75.906532,22.732515,Indore,MadhyaPradesh
61189,98811,-2352378818132978317,2016-05-04 18:16:00,75.906532,22.732515,Indore,MadhyaPradesh
61190,98812,-2352378818132978317,2016-05-04 18:16:30,75.906532,22.732515,Indore,MadhyaPradesh
...,...,...,...,...,...,...,...
62305,3169485,-2352378818132978317,2016-05-05 20:54:59,75.906532,22.732515,Indore,MadhyaPradesh
62306,3170952,-2352378818132978317,2016-05-04 21:59:50,75.906532,22.732515,Indore,MadhyaPradesh
62307,3172253,-2352378818132978317,2016-05-01 23:14:02,75.906532,22.732515,Indore,MadhyaPradesh
62308,3185718,-2352378818132978317,2016-05-03 21:39:16,75.906532,22.732515,Indore,MadhyaPradesh
62309,3186325,-2352378818132978317,2016-05-05 21:35:19,75.906532,22.732515,Indore,MadhyaPradesh
62310,3186600,-2352378818132978317,2016-05-05 21:39:45,75.906532,22.732515,Indore,MadhyaPradesh
62311,3186741,-2352378818132978317,2016-05-05 21:28:49,75.906532,22.732515,Indore,MadhyaPradesh
62312,3187741,-2352378818132978317,2016-05-01 22:43:48,75.906532,22.732515,Indore,MadhyaPradesh
62313,3188769,-2352378818132978317,2016-05-04 22:13:38,75.906532,22.732515,Indore,MadhyaPradesh
62314,3188942,-2352378818132978317,2016-05-04 22:46:14,75.906532,22.732515,Indore,MadhyaPradesh
62315,3194773,-2352378818132978317,2016-05-04 10:03:11,75.906532,22.732515,Indore,MadhyaPradesh
62316,3197307,-2352378818132978317,2016-05-02 18:00:19,75.906532,22.732515,Indore,MadhyaPradesh
62317,3213822,-2352378818132978317,2016-05-01 21:38:53,75.906532,22.732515,Indore,MadhyaPradesh
62318,3213881,-2352378818132978317,2016-05-01 22:50:48,75.906532,22.732515,Indore,MadhyaPradesh
62319,3214283,-2352378818132978317,2016-05-03 22:12:24,75.906532,22.732515,Indore,MadhyaPradesh
62320,3215118,-2352378818132978317,2016-05-06 22:18:31,75.906532,22.732515,Indore,MadhyaPradesh
62321,3217310,-2352378818132978317,2016-05-06 21:46:07,75.906532,22.732515,Indore,MadhyaPradesh
62322,3217590,-2352378818132978317,2016-05-07 21:53:49,75.906532,22.732515,Indore,MadhyaPradesh
62323,3218616,-2352378818132978317,2016-05-06 22:31:02,75.906532,22.732515,Indore,MadhyaPradesh
62324,3231257,-2352378818132978317,2016-05-07 10:04:48,75.906532,22.732515,Indore,MadhyaPradesh
62325,3242513,-2352378818132978317,2016-05-01 18:34:28,75.906532,22.732515,Indore,MadhyaPradesh
62326,3242780,-2352378818132978317,2016-05-02 18:09:03,75.906532,22.732515,Indore,MadhyaPradesh
62327,3242797,-2352378818132978317,2016-05-02 18:37:10,75.906532,22.732515,Indore,MadhyaPradesh
62328,3246908,-2352378818132978317,2016-05-05 20:53:43,75.906532,22.732515,Indore,MadhyaPradesh
62329,3248883,-2352378818132978317,2016-05-05 21:21:19,75.906532,22.732515,Indore,MadhyaPradesh
62330,3249543,-2352378818132978317,2016-05-07 21:11:20,75.906532,22.732515,Indore,MadhyaPradesh
62331,3249545,-2352378818132978317,2016-05-07 21:20:20,75.906532,22.732515,Indore,MadhyaPradesh
62332,3250246,-2352378818132978317,2016-05-03 22:41:35,75.906532,22.732515,Indore,MadhyaPradesh
62333,3250932,-2352378818132978317,2016-05-06 22:23:31,75.906532,22.732515,Indore,MadhyaPradesh
62334,3251173,-2352378818132978317,2016-05-07 22:08:57,75.906532,22.732515,Indore,MadhyaPradesh

In [244]:
events_df.loc[(events_df.device_id==-2352378818132978317)&(events_df.state=='')]

,event_id,device_id,timestamp,longitude,latitude,city,state
61174,43245,-2352378818132978317,2016-05-02 12:47:29,75.906532,22.732515,Indore,
61227,188116,-2352378818132978317,2016-05-03 21:35:20,75.906532,22.732515,Indore,
61326,457448,-2352378818132978317,2016-05-01 18:48:35,75.906532,22.732515,Indore,
61485,890098,-2352378818132978317,2016-05-02 00:52:39,75.906532,22.732515,Indore,
61608,1264093,-2352378818132978317,2016-05-03 21:21:24,75.906532,22.732515,Indore,
61701,1527739,-2352378818132978317,2016-05-03 21:37:16,75.906532,22.732515,Indore,
61737,1620388,-2352378818132978317,2016-05-05 20:52:43,75.906532,22.732515,Indore,
61746,1631782,-2352378818132978317,2016-05-02 00:36:53,75.906532,22.732515,Indore,
61821,1814157,-2352378818132978317,2016-05-06 22:20:25,75.906532,22.732515,Indore,
61854,1909043,-2352378818132978317,2016-05-01 18:44:29,75.906532,22.732515,Indore,
61886,1964490,-2352378818132978317,2016-05-04 10:01:42,75.906532,22.732515,Indore,
61932,2093571,-2352378818132978317,2016-05-01 22:43:31,75.906532,22.732515,Indore,
62027,2363865,-2352378818132978317,2016-05-02 12:48:33,75.906532,22.732515,Indore,
62148,2683073,-2352378818132978317,2016-05-03 21:31:46,75.906532,22.732515,Indore,
62172,2738361,-2352378818132978317,2016-05-02 18:15:04,75.906532,22.732515,Indore,
62192,2798902,-2352378818132978317,2016-05-07 08:28:46,75.906532,22.732515,Indore,
62277,3078345,-2352378818132978317,2016-05-05 21:15:11,75.906532,22.732515,Indore,

In [245]:
events_df.state.loc[(events_df['device_id']==-2352378818132978317)& (events_df['state']=='')]='MadhyaPradesh'

C:\Users\DELL\Anaconda3\lib\site-packages\pandas\core\indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [246]:
events_df.loc[(events_df['device_id']==-2352378818132978317)]

,event_id,device_id,timestamp,longitude,latitude,city,state
61161,11534,-2352378818132978317,2016-05-02 12:51:47,75.906532,22.732515,Indore,MadhyaPradesh
61162,11568,-2352378818132978317,2016-05-02 12:46:05,75.906532,22.732515,Indore,MadhyaPradesh
61163,18729,-2352378818132978317,2016-05-02 17:55:23,75.906532,22.732515,Indore,MadhyaPradesh
61164,19983,-2352378818132978317,2016-05-01 18:33:29,75.906532,22.732515,Indore,MadhyaPradesh
61165,20056,-2352378818132978317,2016-05-02 18:11:06,75.906532,22.732515,Indore,MadhyaPradesh
61166,20146,-2352378818132978317,2016-05-02 18:31:38,75.906532,22.732515,Indore,MadhyaPradesh
61167,23458,-2352378818132978317,2016-05-03 20:55:33,75.906532,22.732515,Indore,MadhyaPradesh
61168,24012,-2352378818132978317,2016-05-06 20:05:09,75.906532,22.732515,Indore,MadhyaPradesh
61169,25778,-2352378818132978317,2016-05-07 21:31:50,75.906532,22.732515,Indore,MadhyaPradesh
61170,25783,-2352378818132978317,2016-05-07 21:24:12,75.906532,22.732515,Indore,MadhyaPradesh
61171,26009,-2352378818132978317,2016-05-01 22:57:57,75.906532,22.732515,Indore,MadhyaPradesh
61172,27088,-2352378818132978317,2016-05-05 22:02:48,75.906532,22.732515,Indore,MadhyaPradesh
61173,39194,-2352378818132978317,2016-05-07 09:39:00,75.906532,22.732515,Indore,MadhyaPradesh
61174,43245,-2352378818132978317,2016-05-02 12:47:29,75.906532,22.732515,Indore,MadhyaPradesh
61175,43872,-2352378818132978317,2016-05-04 12:24:01,75.906532,22.732515,Indore,MadhyaPradesh
61176,51613,-2352378818132978317,2016-05-02 17:48:08,75.906532,22.732515,Indore,MadhyaPradesh
61177,53233,-2352378818132978317,2016-05-02 18:16:05,75.906532,22.732515,Indore,MadhyaPradesh
61178,53346,-2352378818132978317,2016-05-02 18:32:14,75.906532,22.732515,Indore,MadhyaPradesh
61179,60054,-2352378818132978317,2016-05-07 21:30:51,75.906532,22.732515,Indore,MadhyaPradesh
61180,60151,-2352378818132978317,2016-05-07 21:52:38,75.906532,22.732515,Indore,MadhyaPradesh
61181,61550,-2352378818132978317,2016-05-06 22:40:01,75.906532,22.732515,Indore,MadhyaPradesh
61182,61757,-2352378818132978317,2016-05-06 22:52:01,75.906532,22.732515,Indore,MadhyaPradesh
61183,61759,-2352378818132978317,2016-05-06 22:49:08,75.906532,22.732515,Indore,MadhyaPradesh
61184,61760,-2352378818132978317,2016-05-06 22:53:01,75.906532,22.732515,Indore,MadhyaPradesh
61185,63584,-2352378818132978317,2016-05-04 00:47:46,75.906532,22.732515,Indore,MadhyaPradesh
61186,69699,-2352378818132978317,2016-05-02 00:49:55,75.906532,22.732515,Indore,MadhyaPradesh
61187,79719,-2352378818132978317,2016-05-05 11:51:22,75.906532,22.732515,Indore,MadhyaPradesh
61188,92660,-2352378818132978317,2016-05-07 09:55:50,75.906532,22.732515,Indore,MadhyaPradesh
61189,98811,-2352378818132978317,2016-05-04 18:16:00,75.906532,22.732515,Indore,MadhyaPradesh
61190,98812,-2352378818132978317,2016-05-04 18:16:30,75.906532,22.732515,Indore,MadhyaPradesh
...,...,...,...,...,...,...,...
62305,3169485,-2352378818132978317,2016-05-05 20:54:59,75.906532,22.732515,Indore,MadhyaPradesh
62306,3170952,-2352378818132978317,2016-05-04 21:59:50,75.906532,22.732515,Indore,MadhyaPradesh
62307,3172253,-2352378818132978317,2016-05-01 23:14:02,75.906532,22.732515,Indore,MadhyaPradesh
62308,3185718,-2352378818132978317,2016-05-03 21:39:16,75.906532,22.732515,Indore,MadhyaPradesh
62309,3186325,-2352378818132978317,2016-05-05 21:35:19,75.906532,22.732515,Indore,MadhyaPradesh
62310,3186600,-2352378818132978317,2016-05-05 21:39:45,75.906532,22.732515,Indore,MadhyaPradesh
62311,3186741,-2352378818132978317,2016-05-05 21:28:49,75.906532,22.732515,Indore,MadhyaPradesh
62312,3187741,-2352378818132978317,2016-05-01 22:43:48,75.906532,22.732515,Indore,MadhyaPradesh
62313,3188769,-2352378818132978317,2016-05-04 22:13:38,75.906532,22.732515,Indore,MadhyaPradesh
62314,3188942,-2352378818132978317,2016-05-04 22:46:14,75.906532,22.732515,Indore,MadhyaPradesh
62315,3194773,-2352378818132978317,2016-05-04 10:03:11,75.906532,22.732515,Indore,MadhyaPradesh
62316,3197307,-2352378818132978317,2016-05-02 18:00:19,75.906532,22.732515,Indore,MadhyaPradesh
62317,3213822,-2352378818132978317,2016-05-01 21:38:53,75.906532,22.732515,Indore,MadhyaPradesh
62318,3213881,-2352378818132978317,2016-05-01 22:50:48,75.906532,22.732515,Indore,MadhyaPradesh
62319,3214283,-2352378818132978317,2016-05-03 22:12:24,75.906532,22.732515,Indore,MadhyaPradesh
62320,3215118,-2352378818132978317,2016-05-06 22:18:31,75.906532,22.732515,Indore,MadhyaPradesh
62321,3217310,-2352378818132978317,2016-05-06 21:46:07,75.906532,22.732515,Indore,MadhyaPradesh
62322,3217590,-2352378818132978317,2016-05-07 21:53:49,75.906532,22.732515,Indore,MadhyaPradesh
62323,3218616,-2352378818132978317,2016-05-06 22:31:02,75.906532,22.732515,Indore,MadhyaPradesh
62324,3231257,-2352378818132978317,2016-05-07 10:04:48,75.906532,22.732515,Indore,MadhyaPradesh
62325,3242513,-2352378818132978317,2016-05-01 18:34:28,75.906532,22.732515,Indore,MadhyaPradesh
62326,3242780,-2352378818132978317,2016-05-02 18:09:03,75.906532,22.732515,Indore,MadhyaPradesh
62327,3242797,-2352378818132978317,2016-05-02 18:37:10,75.906532,22.732515,Indore,MadhyaPradesh
62328,3246908,-2352378818132978317,2016-05-05 20:53:43,75.906532,22.732515,Indore,MadhyaPradesh
62329,3248883,-2352378818132978317,2016-05-05 21:21:19,75.906532,22.732515,Indore,MadhyaPradesh
62330,3249543,-2352378818132978317,2016-05-07 21:11:20,75.906532,22.732515,Indore,MadhyaPradesh
62331,3249545,-2352378818132978317,2016-05-07 21:20:20,75.906532,22.732515,Indore,MadhyaPradesh
62332,3250246,-2352378818132978317,2016-05-03 22:41:35,75.906532,22.732515,Indore,MadhyaPradesh
62333,3250932,-2352378818132978317,2016-05-06 22:23:31,75.906532,22.732515,Indore,MadhyaPradesh
62334,3251173,-2352378818132978317,2016-05-07 22:08:57,75.906532,22.732515,Indore,MadhyaPradesh

In [247]:
events_df.loc[(events_df['device_id']==-7386006239880230734)]

,event_id,device_id,timestamp,longitude,latitude,city,state
261416,48277,-7386006239880230734,2016-05-03 15:44:53,87.812714,22.957979,Arambagh,
261417,145171,-7386006239880230734,2016-05-07 20:38:45,87.812714,22.957979,Arambagh,
261418,210255,-7386006239880230734,2016-05-04 20:19:14,87.812714,22.957979,Arambagh,
261419,395937,-7386006239880230734,2016-05-06 20:25:32,87.812714,22.957979,Arambagh,
261420,647507,-7386006239880230734,2016-05-02 22:33:08,87.812714,22.957979,Arambagh,
261421,911965,-7386006239880230734,2016-05-02 21:37:29,87.812714,22.957979,Arambagh,
261422,1111901,-7386006239880230734,2016-05-04 08:34:00,87.812714,22.957979,Arambagh,
261423,1224121,-7386006239880230734,2016-05-03 10:45:46,87.812714,22.957979,Arambagh,
261424,1558239,-7386006239880230734,2016-05-07 20:19:35,87.812714,22.957979,Arambagh,
261425,1642661,-7386006239880230734,2016-05-03 10:19:52,87.812714,22.957979,Arambagh,
261426,1993518,-7386006239880230734,2016-05-03 10:17:54,87.812714,22.957979,Arambagh,
261427,2355787,-7386006239880230734,2016-05-02 22:40:50,87.812714,22.957979,Arambagh,
261428,2684331,-7386006239880230734,2016-05-06 21:15:29,87.812714,22.957979,Arambagh,
261429,2736244,-7386006239880230734,2016-05-04 08:17:34,87.812714,22.957979,Arambagh,
261430,2798389,-7386006239880230734,2016-05-04 08:13:34,87.812714,22.957979,Arambagh,
261431,2841136,-7386006239880230734,2016-05-01 23:14:18,87.812714,22.957979,Arambagh,

Here, we have __16__ null records

In [248]:
events_df.loc[(events_df.device_id==-1006357788560227421)]

,event_id,device_id,timestamp,longitude,latitude,city,state
125059,13143,-1006357788560227421,2016-05-02 12:58:13,75.895462,22.809816,Indore,MadhyaPradesh
125060,18144,-1006357788560227421,2016-05-06 16:24:27,75.895462,22.809816,Indore,MadhyaPradesh
125061,18476,-1006357788560227421,2016-05-01 17:48:19,75.895462,22.809816,Indore,MadhyaPradesh
125062,20237,-1006357788560227421,2016-05-03 18:40:14,75.895462,22.809816,Indore,MadhyaPradesh
125063,21426,-1006357788560227421,2016-05-02 19:00:54,75.895462,22.809816,Indore,MadhyaPradesh
125064,21665,-1006357788560227421,2016-05-03 19:10:51,75.895462,22.809816,Indore,MadhyaPradesh
125065,21759,-1006357788560227421,2016-05-03 19:18:51,75.895462,22.809816,Indore,MadhyaPradesh
125066,22512,-1006357788560227421,2016-05-06 19:43:48,75.895462,22.809816,Indore,MadhyaPradesh
125067,22577,-1006357788560227421,2016-05-06 19:44:48,75.895462,22.809816,Indore,MadhyaPradesh
125068,24364,-1006357788560227421,2016-05-07 19:57:31,75.895462,22.809816,Indore,MadhyaPradesh
125069,27098,-1006357788560227421,2016-05-05 22:08:48,75.895462,22.809816,Indore,MadhyaPradesh
125070,29022,-1006357788560227421,2016-05-01 00:08:10,75.895462,22.809816,Indore,MadhyaPradesh
125071,44442,-1006357788560227421,2016-05-06 12:32:28,75.895462,22.809816,Indore,MadhyaPradesh
125072,45521,-1006357788560227421,2016-05-04 13:30:57,75.895462,22.809816,Indore,MadhyaPradesh
125073,45772,-1006357788560227421,2016-05-05 13:01:28,75.895462,22.809816,Indore,MadhyaPradesh
125074,45883,-1006357788560227421,2016-05-05 13:55:10,75.895462,22.809816,Indore,MadhyaPradesh
125075,48380,-1006357788560227421,2016-05-03 15:39:15,75.895462,22.809816,Indore,MadhyaPradesh
125076,48829,-1006357788560227421,2016-05-05 15:26:15,75.895462,22.809816,Indore,MadhyaPradesh
125077,50394,-1006357788560227421,2016-05-05 16:23:17,75.895462,22.809816,Indore,MadhyaPradesh
125078,50570,-1006357788560227421,2016-05-05 16:43:17,75.895462,22.809816,Indore,MadhyaPradesh
125079,51176,-1006357788560227421,2016-05-01 17:26:28,75.895462,22.809816,Indore,MadhyaPradesh
125080,53290,-1006357788560227421,2016-05-02 18:47:54,75.895462,22.809816,Indore,MadhyaPradesh
125081,55024,-1006357788560227421,2016-05-02 19:44:54,75.895462,22.809816,Indore,MadhyaPradesh
125082,57021,-1006357788560227421,2016-05-03 20:06:58,75.895462,22.809816,Indore,MadhyaPradesh
125083,57211,-1006357788560227421,2016-05-04 20:03:02,75.895462,22.809816,Indore,MadhyaPradesh
125084,57419,-1006357788560227421,2016-05-05 20:09:44,75.895462,22.809816,Indore,MadhyaPradesh
125085,57856,-1006357788560227421,2016-05-06 19:56:48,75.895462,22.809816,Indore,
125086,59308,-1006357788560227421,2016-05-04 21:26:17,75.895462,22.809816,Indore,MadhyaPradesh
125087,67180,-1006357788560227421,2016-05-02 02:03:31,75.895462,22.809816,Indore,MadhyaPradesh
125088,70855,-1006357788560227421,2016-05-06 01:04:04,75.895462,22.809816,Indore,MadhyaPradesh
...,...,...,...,...,...,...,...
126551,3190872,-1006357788560227421,2016-05-01 23:35:31,75.895462,22.809816,Indore,MadhyaPradesh
126552,3193411,-1006357788560227421,2016-05-03 16:29:22,75.895462,22.809816,Indore,MadhyaPradesh
126553,3197292,-1006357788560227421,2016-05-02 16:58:56,75.895462,22.809816,Indore,MadhyaPradesh
126554,3197493,-1006357788560227421,2016-05-01 12:50:59,75.895462,22.809816,Indore,MadhyaPradesh
126555,3203192,-1006357788560227421,2016-05-01 15:35:56,75.895462,22.809816,Indore,MadhyaPradesh
126556,3203392,-1006357788560227421,2016-05-07 18:25:55,75.895462,22.809816,Indore,MadhyaPradesh
126557,3204655,-1006357788560227421,2016-05-05 15:06:18,75.895462,22.809816,Indore,MadhyaPradesh
126558,3205091,-1006357788560227421,2016-05-01 16:23:52,75.895462,22.809816,Indore,MadhyaPradesh
126559,3210550,-1006357788560227421,2016-05-04 20:27:56,75.895462,22.809816,Indore,MadhyaPradesh
126560,3211977,-1006357788560227421,2016-05-01 20:59:05,75.895462,22.809816,Indore,MadhyaPradesh
126561,3212692,-1006357788560227421,2016-05-04 21:03:12,75.895462,22.809816,Indore,MadhyaPradesh
126562,3212746,-1006357788560227421,2016-05-05 21:04:00,75.895462,22.809816,Indore,MadhyaPradesh
126563,3212898,-1006357788560227421,2016-05-05 21:14:44,75.895462,22.809816,Indore,MadhyaPradesh
126564,3213259,-1006357788560227421,2016-05-06 20:45:48,75.895462,22.809816,Indore,MadhyaPradesh
126565,3218503,-1006357788560227421,2016-05-06 22:30:02,75.895462,22.809816,Indore,MadhyaPradesh
126566,3231622,-1006357788560227421,2016-05-01 11:33:19,75.895462,22.809816,Indore,MadhyaPradesh
126567,3232564,-1006357788560227421,2016-05-05 11:34:48,75.895462,22.809816,Indore,MadhyaPradesh
126568,3233279,-1006357788560227421,2016-05-01 12:52:59,75.895462,22.809816,Indore,MadhyaPradesh
126569,3233538,-1006357788560227421,2016-05-02 12:18:03,75.895462,22.809816,Indore,MadhyaPradesh
126570,3235910,-1006357788560227421,2016-05-06 13:26:28,75.895462,22.809816,Indore,MadhyaPradesh
126571,3236039,-1006357788560227421,2016-05-06 13:45:04,75.895462,22.809816,Indore,MadhyaPradesh
126572,3236410,-1006357788560227421,2016-05-01 14:37:28,75.895462,22.809816,Indore,MadhyaPradesh
126573,3236991,-1006357788560227421,2016-05-04 14:01:43,75.895462,22.809816,Indore,MadhyaPradesh
126574,3242726,-1006357788560227421,2016-05-02 18:04:17,75.895462,22.809816,Indore,MadhyaPradesh
126575,3244278,-1006357788560227421,2016-05-01 19:05:34,75.895462,22.809816,Indore,MadhyaPradesh
126576,3247319,-1006357788560227421,2016-05-06 20:07:48,75.895462,22.809816,Indore,MadhyaPradesh
126577,3248740,-1006357788560227421,2016-05-05 21:25:44,75.895462,22.809816,Indore,MadhyaPradesh
126578,3250161,-1006357788560227421,2016-05-03 22:44:20,75.895462,22.809816,Indore,MadhyaPradesh
126579,3252371,-1006357788560227421,2016-05-05 23:32:14,75.895462,22.809816,Indore,MadhyaPradesh
126580,3252372,-1006357788560227421,2016-05-05 23:32:11,75.895462,22.809816,Indore,MadhyaPradesh

In [249]:
events_df.loc[(events_df.device_id==-1006357788560227421)& (events_df.state=='')]

,event_id,device_id,timestamp,longitude,latitude,city,state
125085,57856,-1006357788560227421,2016-05-06 19:56:48,75.895462,22.809816,Indore,
125193,275118,-1006357788560227421,2016-05-03 10:50:44,75.895462,22.809816,Indore,
125326,583039,-1006357788560227421,2016-05-03 17:50:54,75.895462,22.809816,Indore,
125546,1026531,-1006357788560227421,2016-05-02 00:54:31,75.895462,22.809816,Indore,
125590,1150261,-1006357788560227421,2016-05-06 14:08:23,75.895462,22.809816,Indore,
125816,1631819,-1006357788560227421,2016-05-02 00:23:31,75.895462,22.809816,Indore,
126019,2037961,-1006357788560227421,2016-05-01 09:51:36,75.895462,22.809816,Indore,
126029,2063197,-1006357788560227421,2016-05-01 22:04:50,75.895462,22.809816,Indore,
126173,2390956,-1006357788560227421,2016-05-01 09:09:35,75.895462,22.809816,Indore,
126187,2410870,-1006357788560227421,2016-05-05 19:09:41,75.895462,22.809816,Indore,
126248,2557501,-1006357788560227421,2016-05-03 15:08:06,75.895462,22.809816,Indore,
126272,2600200,-1006357788560227421,2016-05-05 22:14:44,75.895462,22.809816,Indore,
126295,2653933,-1006357788560227421,2016-05-05 12:00:07,75.895462,22.809816,Indore,
126299,2659852,-1006357788560227421,2016-05-05 14:29:56,75.895462,22.809816,Indore,
126340,2749776,-1006357788560227421,2016-05-05 22:46:34,75.895462,22.809816,Indore,

In [250]:
events_df.state.loc[(events_df.device_id==-1006357788560227421)& (events_df.state=='')]='MadhyaPradesh'

C:\Users\DELL\Anaconda3\lib\site-packages\pandas\core\indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [251]:
events_df.loc[(events_df.device_id==-1006357788560227421)& (events_df.state=='')]

Empty DataFrame
Columns: [event_id, device_id, timestamp, longitude, latitude, city, state]
Index: []

In [252]:
events_df.loc[(events_df.device_id==-2528288616400397961)]

,event_id,device_id,timestamp,longitude,latitude,city,state
0,110877,-2528288616400397961,2016-05-06 18:55:56,77.305984,28.68898,Delhi,
1,839872,-2528288616400397961,2016-05-03 09:17:18,77.305984,28.68898,Delhi,
2,1205581,-2528288616400397961,2016-05-03 15:38:26,77.305984,28.68898,Delhi,
3,1789293,-2528288616400397961,2016-05-05 23:47:59,77.305984,28.68898,Delhi,
4,2120793,-2528288616400397961,2016-05-04 20:37:36,77.305984,28.68898,Delhi,
5,2217023,-2528288616400397961,2016-05-04 18:43:46,77.305984,28.68898,Delhi,
6,2360774,-2528288616400397961,2016-05-02 22:22:52,77.305984,28.68898,Delhi,
7,2511839,-2528288616400397961,2016-05-06 10:49:03,77.305984,28.68898,Delhi,
8,2518480,-2528288616400397961,2016-05-02 13:04:54,77.305984,28.68898,Delhi,
9,2682749,-2528288616400397961,2016-05-05 22:10:30,77.305984,28.68898,Delhi,
10,2842593,-2528288616400397961,2016-05-03 00:15:54,77.305984,28.68898,Delhi,
11,2848497,-2528288616400397961,2016-05-06 08:22:30,77.305984,28.68898,Delhi,
12,3115579,-2528288616400397961,2016-05-06 16:36:00,77.305984,28.68898,Delhi,
13,3173896,-2528288616400397961,2016-05-05 12:16:41,77.305984,28.68898,Delhi,

Here, we have __14__ null records

In [253]:
events_df.loc[(events_df.device_id==4617845501292647807)]

,event_id,device_id,timestamp,longitude,latitude,city,state
261432,59495,4617845501292647807,2016-05-05 21:03:58,77.209358,12.715878,Channapatna,
261433,256538,4617845501292647807,2016-05-05 16:06:55,77.209358,12.715878,Channapatna,
261434,498648,4617845501292647807,2016-05-05 13:00:35,77.209358,12.715878,Channapatna,
261435,909775,4617845501292647807,2016-05-05 19:19:30,77.209358,12.715878,Channapatna,
261436,1364353,4617845501292647807,2016-05-01 10:19:49,77.209358,12.715878,Channapatna,
261437,1700714,4617845501292647807,2016-05-05 23:20:57,77.209358,12.715878,Channapatna,
261438,1712728,4617845501292647807,2016-05-05 10:49:10,77.209358,12.715878,Channapatna,
261439,1964406,4617845501292647807,2016-05-04 10:40:12,77.209358,12.715878,Channapatna,
261440,2096183,4617845501292647807,2016-05-01 14:13:43,77.209358,12.715878,Channapatna,
261441,2133941,4617845501292647807,2016-05-05 20:59:31,77.209358,12.715878,Channapatna,
261442,2174824,4617845501292647807,2016-05-06 04:01:00,77.209358,12.715878,Channapatna,
261443,2180368,4617845501292647807,2016-05-01 10:39:00,77.209358,12.715878,Channapatna,
261444,2254618,4617845501292647807,2016-05-06 01:26:28,77.209358,12.715878,Channapatna,
261445,3067685,4617845501292647807,2016-05-05 14:13:56,77.209358,12.715878,Channapatna,

Here, we have __14__ null records

In [254]:
events_df.loc[(events_df.device_id==-609654747637122070)]

,event_id,device_id,timestamp,longitude,latitude,city,state
159,401815,-609654747637122070,2016-05-05 02:29:10,80.309013,13.114228,Chennai,
160,682317,-609654747637122070,2016-05-01 16:34:11,80.309013,13.114228,Chennai,
161,697724,-609654747637122070,2016-05-02 04:34:03,80.309013,13.114228,Chennai,
162,850878,-609654747637122070,2016-05-01 16:06:00,80.309013,13.114228,Chennai,
163,860640,-609654747637122070,2016-05-04 07:13:07,80.309013,13.114228,Chennai,
164,906157,-609654747637122070,2016-05-07 16:40:39,80.309013,13.114228,Chennai,
165,1048396,-609654747637122070,2016-05-07 00:58:27,80.309013,13.114228,Chennai,
166,1164135,-609654747637122070,2016-05-06 21:56:23,80.309013,13.114228,Chennai,
167,1723657,-609654747637122070,2016-05-02 17:06:26,80.309013,13.114228,Chennai,
168,2025265,-609654747637122070,2016-05-03 14:19:39,80.309013,13.114228,Chennai,
169,2226981,-609654747637122070,2016-05-04 04:39:48,80.309013,13.114228,Chennai,
170,2921356,-609654747637122070,2016-05-04 20:56:56,80.309013,13.114228,Chennai,
171,3002615,-609654747637122070,2016-05-07 15:11:07,80.309013,13.114228,Chennai,
99924,12476,-609654747637122070,2016-05-06 12:20:48,75.903046,22.817104,Indore,MadhyaPradesh
99925,43011,-609654747637122070,2016-05-01 12:10:47,75.903046,22.817104,Indore,MadhyaPradesh
99926,53620,-609654747637122070,2016-05-03 18:04:47,75.903046,22.817104,Indore,MadhyaPradesh
99927,60413,-609654747637122070,2016-05-01 22:33:25,75.903046,22.817104,Indore,MadhyaPradesh
99928,87116,-609654747637122070,2016-05-03 14:05:12,75.903046,22.817104,Indore,MadhyaPradesh
99929,101110,-609654747637122070,2016-05-04 08:37:28,75.903046,22.817104,Indore,MadhyaPradesh
99930,127944,-609654747637122070,2016-05-02 10:24:26,75.903046,22.817104,Indore,MadhyaPradesh
99931,146790,-609654747637122070,2016-05-01 12:40:56,75.903046,22.817104,Indore,MadhyaPradesh
99932,173853,-609654747637122070,2016-05-04 11:23:52,75.903046,22.817104,Indore,MadhyaPradesh
99933,174688,-609654747637122070,2016-05-01 12:56:04,75.903046,22.817104,Indore,MadhyaPradesh
99934,176326,-609654747637122070,2016-05-03 13:27:05,75.903046,22.817104,Indore,MadhyaPradesh
99935,196083,-609654747637122070,2016-05-03 08:08:22,75.903046,22.817104,Indore,MadhyaPradesh
99936,199468,-609654747637122070,2016-05-01 11:45:03,75.903046,22.817104,Indore,MadhyaPradesh
99937,210882,-609654747637122070,2016-05-03 20:58:04,75.903046,22.817104,Indore,MadhyaPradesh
99938,221233,-609654747637122070,2016-05-03 09:28:58,75.903046,22.817104,Indore,MadhyaPradesh
99939,227040,-609654747637122070,2016-05-02 14:49:24,75.903046,22.817104,Indore,MadhyaPradesh
99940,257574,-609654747637122070,2016-05-03 17:38:04,75.903046,22.817104,Indore,MadhyaPradesh
...,...,...,...,...,...,...,...
100118,2829059,-609654747637122070,2016-05-06 12:44:52,75.903046,22.817104,Indore,MadhyaPradesh
100119,2832496,-609654747637122070,2016-05-04 15:47:04,75.903046,22.817104,Indore,MadhyaPradesh
100120,2844283,-609654747637122070,2016-05-04 03:49:13,75.903046,22.817104,Indore,MadhyaPradesh
100121,2847506,-609654747637122070,2016-05-01 08:26:18,75.903046,22.817104,Indore,MadhyaPradesh
100122,2850838,-609654747637122070,2016-05-03 10:21:24,75.903046,22.817104,Indore,MadhyaPradesh
100123,2868904,-609654747637122070,2016-05-06 01:53:21,75.903046,22.817104,Indore,MadhyaPradesh
100124,2870175,-609654747637122070,2016-05-06 04:43:53,75.903046,22.817104,Indore,MadhyaPradesh
100125,2873392,-609654747637122070,2016-05-02 08:36:21,75.903046,22.817104,Indore,MadhyaPradesh
100126,2883922,-609654747637122070,2016-05-03 16:31:17,75.903046,22.817104,Indore,MadhyaPradesh
100127,2887913,-609654747637122070,2016-05-03 19:19:03,75.903046,22.817104,Indore,MadhyaPradesh
100128,2936652,-609654747637122070,2016-05-01 09:51:01,75.903046,22.817104,Indore,MadhyaPradesh
100129,2943464,-609654747637122070,2016-05-01 13:15:45,75.903046,22.817104,Indore,MadhyaPradesh
100130,2946986,-609654747637122070,2016-05-03 15:08:08,75.903046,22.817104,Indore,MadhyaPradesh
100131,2957357,-609654747637122070,2016-05-02 21:16:58,75.903046,22.817104,Indore,MadhyaPradesh
100132,2957358,-609654747637122070,2016-05-02 21:20:29,75.903046,22.817104,Indore,MadhyaPradesh
100133,2981351,-609654747637122070,2016-05-03 20:42:12,75.903046,22.817104,Indore,MadhyaPradesh
100134,3011525,-609654747637122070,2016-05-06 02:48:29,75.903046,22.817104,Indore,MadhyaPradesh
100135,3022550,-609654747637122070,2016-05-01 11:54:54,75.903046,22.817104,Indore,MadhyaPradesh
100136,3072769,-609654747637122070,2016-05-03 18:01:30,75.903046,22.817104,Indore,MadhyaPradesh
100137,3091435,-609654747637122070,2016-05-04 08:25:34,75.903046,22.817104,Indore,MadhyaPradesh
100138,3097859,-609654747637122070,2016-05-02 12:00:18,75.903046,22.817104,Indore,MadhyaPradesh
100139,3103293,-609654747637122070,2016-05-06 11:02:40,75.903046,22.817104,Indore,MadhyaPradesh
100140,3122666,-609654747637122070,2016-05-01 21:41:19,75.903046,22.817104,Indore,MadhyaPradesh
100141,3143637,-609654747637122070,2016-05-04 10:14:31,75.903046,22.817104,Indore,MadhyaPradesh
100142,3188314,-609654747637122070,2016-05-03 22:17:13,75.903046,22.817104,Indore,MadhyaPradesh
100143,3200768,-609654747637122070,2016-05-03 18:32:49,75.903046,22.817104,Indore,MadhyaPradesh
100144,3228759,-609654747637122070,2016-05-04 09:03:05,75.903046,22.817104,Indore,MadhyaPradesh
100145,3234795,-609654747637122070,2016-05-01 13:10:29,75.903046,22.817104,Indore,MadhyaPradesh
100146,3235263,-609654747637122070,2016-05-03 13:42:50,75.903046,22.817104,Indore,MadhyaPradesh
100147,3237945,-609654747637122070,2016-05-03 15:32:52,75.903046,22.817104,Indore,MadhyaPradesh

In [255]:
events_df.loc[(events_df.device_id==-609654747637122070)& (events_df.state=='')]

,event_id,device_id,timestamp,longitude,latitude,city,state
159,401815,-609654747637122070,2016-05-05 02:29:10,80.309013,13.114228,Chennai,
160,682317,-609654747637122070,2016-05-01 16:34:11,80.309013,13.114228,Chennai,
161,697724,-609654747637122070,2016-05-02 04:34:03,80.309013,13.114228,Chennai,
162,850878,-609654747637122070,2016-05-01 16:06:00,80.309013,13.114228,Chennai,
163,860640,-609654747637122070,2016-05-04 07:13:07,80.309013,13.114228,Chennai,
164,906157,-609654747637122070,2016-05-07 16:40:39,80.309013,13.114228,Chennai,
165,1048396,-609654747637122070,2016-05-07 00:58:27,80.309013,13.114228,Chennai,
166,1164135,-609654747637122070,2016-05-06 21:56:23,80.309013,13.114228,Chennai,
167,1723657,-609654747637122070,2016-05-02 17:06:26,80.309013,13.114228,Chennai,
168,2025265,-609654747637122070,2016-05-03 14:19:39,80.309013,13.114228,Chennai,
169,2226981,-609654747637122070,2016-05-04 04:39:48,80.309013,13.114228,Chennai,
170,2921356,-609654747637122070,2016-05-04 20:56:56,80.309013,13.114228,Chennai,
171,3002615,-609654747637122070,2016-05-07 15:11:07,80.309013,13.114228,Chennai,

In [256]:
events_df.city.loc[(events_df['device_id']==-609654747637122070)]='Indore'
events_df.state.loc[(events_df['device_id']==-609654747637122070)]='MadhyaPradesh'
events_df.latitude.loc[(events_df['device_id']==-609654747637122070)]=22.817104
events_df.longitude.loc[(events_df['device_id']==-609654747637122070)]=75.903046

C:\Users\DELL\Anaconda3\lib\site-packages\pandas\core\indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [257]:
events_df.loc[(events_df.device_id==-609654747637122070)]

,event_id,device_id,timestamp,longitude,latitude,city,state
159,401815,-609654747637122070,2016-05-05 02:29:10,75.903046,22.817104,Indore,MadhyaPradesh
160,682317,-609654747637122070,2016-05-01 16:34:11,75.903046,22.817104,Indore,MadhyaPradesh
161,697724,-609654747637122070,2016-05-02 04:34:03,75.903046,22.817104,Indore,MadhyaPradesh
162,850878,-609654747637122070,2016-05-01 16:06:00,75.903046,22.817104,Indore,MadhyaPradesh
163,860640,-609654747637122070,2016-05-04 07:13:07,75.903046,22.817104,Indore,MadhyaPradesh
164,906157,-609654747637122070,2016-05-07 16:40:39,75.903046,22.817104,Indore,MadhyaPradesh
165,1048396,-609654747637122070,2016-05-07 00:58:27,75.903046,22.817104,Indore,MadhyaPradesh
166,1164135,-609654747637122070,2016-05-06 21:56:23,75.903046,22.817104,Indore,MadhyaPradesh
167,1723657,-609654747637122070,2016-05-02 17:06:26,75.903046,22.817104,Indore,MadhyaPradesh
168,2025265,-609654747637122070,2016-05-03 14:19:39,75.903046,22.817104,Indore,MadhyaPradesh
169,2226981,-609654747637122070,2016-05-04 04:39:48,75.903046,22.817104,Indore,MadhyaPradesh
170,2921356,-609654747637122070,2016-05-04 20:56:56,75.903046,22.817104,Indore,MadhyaPradesh
171,3002615,-609654747637122070,2016-05-07 15:11:07,75.903046,22.817104,Indore,MadhyaPradesh
99924,12476,-609654747637122070,2016-05-06 12:20:48,75.903046,22.817104,Indore,MadhyaPradesh
99925,43011,-609654747637122070,2016-05-01 12:10:47,75.903046,22.817104,Indore,MadhyaPradesh
99926,53620,-609654747637122070,2016-05-03 18:04:47,75.903046,22.817104,Indore,MadhyaPradesh
99927,60413,-609654747637122070,2016-05-01 22:33:25,75.903046,22.817104,Indore,MadhyaPradesh
99928,87116,-609654747637122070,2016-05-03 14:05:12,75.903046,22.817104,Indore,MadhyaPradesh
99929,101110,-609654747637122070,2016-05-04 08:37:28,75.903046,22.817104,Indore,MadhyaPradesh
99930,127944,-609654747637122070,2016-05-02 10:24:26,75.903046,22.817104,Indore,MadhyaPradesh
99931,146790,-609654747637122070,2016-05-01 12:40:56,75.903046,22.817104,Indore,MadhyaPradesh
99932,173853,-609654747637122070,2016-05-04 11:23:52,75.903046,22.817104,Indore,MadhyaPradesh
99933,174688,-609654747637122070,2016-05-01 12:56:04,75.903046,22.817104,Indore,MadhyaPradesh
99934,176326,-609654747637122070,2016-05-03 13:27:05,75.903046,22.817104,Indore,MadhyaPradesh
99935,196083,-609654747637122070,2016-05-03 08:08:22,75.903046,22.817104,Indore,MadhyaPradesh
99936,199468,-609654747637122070,2016-05-01 11:45:03,75.903046,22.817104,Indore,MadhyaPradesh
99937,210882,-609654747637122070,2016-05-03 20:58:04,75.903046,22.817104,Indore,MadhyaPradesh
99938,221233,-609654747637122070,2016-05-03 09:28:58,75.903046,22.817104,Indore,MadhyaPradesh
99939,227040,-609654747637122070,2016-05-02 14:49:24,75.903046,22.817104,Indore,MadhyaPradesh
99940,257574,-609654747637122070,2016-05-03 17:38:04,75.903046,22.817104,Indore,MadhyaPradesh
...,...,...,...,...,...,...,...
100118,2829059,-609654747637122070,2016-05-06 12:44:52,75.903046,22.817104,Indore,MadhyaPradesh
100119,2832496,-609654747637122070,2016-05-04 15:47:04,75.903046,22.817104,Indore,MadhyaPradesh
100120,2844283,-609654747637122070,2016-05-04 03:49:13,75.903046,22.817104,Indore,MadhyaPradesh
100121,2847506,-609654747637122070,2016-05-01 08:26:18,75.903046,22.817104,Indore,MadhyaPradesh
100122,2850838,-609654747637122070,2016-05-03 10:21:24,75.903046,22.817104,Indore,MadhyaPradesh
100123,2868904,-609654747637122070,2016-05-06 01:53:21,75.903046,22.817104,Indore,MadhyaPradesh
100124,2870175,-609654747637122070,2016-05-06 04:43:53,75.903046,22.817104,Indore,MadhyaPradesh
100125,2873392,-609654747637122070,2016-05-02 08:36:21,75.903046,22.817104,Indore,MadhyaPradesh
100126,2883922,-609654747637122070,2016-05-03 16:31:17,75.903046,22.817104,Indore,MadhyaPradesh
100127,2887913,-609654747637122070,2016-05-03 19:19:03,75.903046,22.817104,Indore,MadhyaPradesh
100128,2936652,-609654747637122070,2016-05-01 09:51:01,75.903046,22.817104,Indore,MadhyaPradesh
100129,2943464,-609654747637122070,2016-05-01 13:15:45,75.903046,22.817104,Indore,MadhyaPradesh
100130,2946986,-609654747637122070,2016-05-03 15:08:08,75.903046,22.817104,Indore,MadhyaPradesh
100131,2957357,-609654747637122070,2016-05-02 21:16:58,75.903046,22.817104,Indore,MadhyaPradesh
100132,2957358,-609654747637122070,2016-05-02 21:20:29,75.903046,22.817104,Indore,MadhyaPradesh
100133,2981351,-609654747637122070,2016-05-03 20:42:12,75.903046,22.817104,Indore,MadhyaPradesh
100134,3011525,-609654747637122070,2016-05-06 02:48:29,75.903046,22.817104,Indore,MadhyaPradesh
100135,3022550,-609654747637122070,2016-05-01 11:54:54,75.903046,22.817104,Indore,MadhyaPradesh
100136,3072769,-609654747637122070,2016-05-03 18:01:30,75.903046,22.817104,Indore,MadhyaPradesh
100137,3091435,-609654747637122070,2016-05-04 08:25:34,75.903046,22.817104,Indore,MadhyaPradesh
100138,3097859,-609654747637122070,2016-05-02 12:00:18,75.903046,22.817104,Indore,MadhyaPradesh
100139,3103293,-609654747637122070,2016-05-06 11:02:40,75.903046,22.817104,Indore,MadhyaPradesh
100140,3122666,-609654747637122070,2016-05-01 21:41:19,75.903046,22.817104,Indore,MadhyaPradesh
100141,3143637,-609654747637122070,2016-05-04 10:14:31,75.903046,22.817104,Indore,MadhyaPradesh
100142,3188314,-609654747637122070,2016-05-03 22:17:13,75.903046,22.817104,Indore,MadhyaPradesh
100143,3200768,-609654747637122070,2016-05-03 18:32:49,75.903046,22.817104,Indore,MadhyaPradesh
100144,3228759,-609654747637122070,2016-05-04 09:03:05,75.903046,22.817104,Indore,MadhyaPradesh
100145,3234795,-609654747637122070,2016-05-01 13:10:29,75.903046,22.817104,Indore,MadhyaPradesh
100146,3235263,-609654747637122070,2016-05-03 13:42:50,75.903046,22.817104,Indore,MadhyaPradesh
100147,3237945,-609654747637122070,2016-05-03 15:32:52,75.903046,22.817104,Indore,MadhyaPradesh

In [258]:
events_df.loc[(events_df.device_id==-609654747637122070)&(events_df.state=='')]

Empty DataFrame
Columns: [event_id, device_id, timestamp, longitude, latitude, city, state]
Index: []

In [259]:
events_df.loc[(events_df.device_id==-7417923246586466312)]

,event_id,device_id,timestamp,longitude,latitude,city,state
125,123429,-7417923246586466312,2016-05-02 06:07:48,80.29174,13.145584,Chennai,
126,550473,-7417923246586466312,2016-05-01 12:46:20,80.29174,13.145584,Chennai,
127,807044,-7417923246586466312,2016-05-02 03:44:47,80.29174,13.145584,Chennai,
128,942489,-7417923246586466312,2016-05-01 00:51:00,80.29174,13.145584,Chennai,
129,1004771,-7417923246586466312,2016-05-03 05:58:18,80.29174,13.145584,Chennai,
130,1106123,-7417923246586466312,2016-05-01 00:29:36,80.29174,13.145584,Chennai,
131,1193299,-7417923246586466312,2016-05-03 03:34:44,80.29174,13.145584,Chennai,
132,1631653,-7417923246586466312,2016-05-01 00:18:01,80.29174,13.145584,Chennai,
133,1705687,-7417923246586466312,2016-05-02 06:36:36,80.29174,13.145584,Chennai,
134,2015048,-7417923246586466312,2016-05-02 06:41:10,80.29174,13.145584,Chennai,
135,2819977,-7417923246586466312,2016-05-03 03:34:28,80.29174,13.145584,Chennai,
136,3062942,-7417923246586466312,2016-05-01 10:05:36,80.29174,13.145584,Chennai,
137,3093732,-7417923246586466312,2016-05-03 04:14:38,80.29174,13.145584,Chennai,

Here, we have __13__ null records

In [260]:
events_df.loc[(events_df.device_id==-3843588625675275781)]

,event_id,device_id,timestamp,longitude,latitude,city,state
64,202463,-3843588625675275781,2016-05-03 13:34:02,73.926224,18.575747,Pune,
65,591249,-3843588625675275781,2016-05-03 23:14:54,73.926224,18.575747,Pune,
66,637661,-3843588625675275781,2016-05-06 16:42:47,73.926224,18.575747,Pune,
67,817682,-3843588625675275781,2016-05-04 13:50:20,73.926224,18.575747,Pune,
68,893560,-3843588625675275781,2016-05-04 06:44:27,73.926224,18.575747,Pune,
69,1569843,-3843588625675275781,2016-05-04 03:43:20,73.926224,18.575747,Pune,
70,1628830,-3843588625675275781,2016-05-01 04:45:18,73.926224,18.575747,Pune,
71,1629641,-3843588625675275781,2016-05-01 06:20:23,73.926224,18.575747,Pune,
72,1999521,-3843588625675275781,2016-05-06 14:35:48,73.926224,18.575747,Pune,
73,2023481,-3843588625675275781,2016-05-06 12:55:34,73.926224,18.575747,Pune,
74,2082561,-3843588625675275781,2016-05-06 13:16:50,73.926224,18.575747,Pune,
75,2236245,-3843588625675275781,2016-05-04 12:25:43,73.926224,18.575747,Pune,
76,3032407,-3843588625675275781,2016-05-03 18:01:33,73.926224,18.575747,Pune,

Here, we have __13__ null state records

In [261]:
events_df.loc[(events_df.device_id==6966898582299260642)]

,event_id,device_id,timestamp,longitude,latitude,city,state
212,158589,6966898582299260642,2016-05-02 19:57:31,83.326714,17.829748,Visakhapatnam,
213,519276,6966898582299260642,2016-05-04 15:54:57,83.326714,17.829748,Visakhapatnam,
214,898816,6966898582299260642,2016-05-05 09:59:15,83.326714,17.829748,Visakhapatnam,
215,1351755,6966898582299260642,2016-05-04 22:08:13,83.326714,17.829748,Visakhapatnam,
216,1505261,6966898582299260642,2016-05-06 12:13:30,83.326714,17.829748,Visakhapatnam,
217,1918653,6966898582299260642,2016-05-03 00:46:10,83.326714,17.829748,Visakhapatnam,
218,3196015,6966898582299260642,2016-05-01 11:29:57,83.326714,17.829748,Visakhapatnam,

Here, we have __7__ null state records

In [262]:
events_df.loc[(events_df.device_id==8752220781043590337)]

,event_id,device_id,timestamp,longitude,latitude,city,state
261384,171377,8752220781043590337,2016-05-05 09:01:19,75.836311,26.932726,Jaipur,
261385,1021033,8752220781043590337,2016-05-06 19:33:42,75.836311,26.932726,Jaipur,
261386,1512824,8752220781043590337,2016-05-05 15:01:12,75.836311,26.932726,Jaipur,
261387,2704219,8752220781043590337,2016-05-04 16:03:37,75.836311,26.932726,Jaipur,
261388,3034089,8752220781043590337,2016-05-04 19:23:44,75.836311,26.932726,Jaipur,
261389,3118444,8752220781043590337,2016-05-02 19:45:32,75.836311,26.932726,Jaipur,
261390,3243741,8752220781043590337,2016-05-06 18:43:36,75.836311,26.932726,Jaipur,

Here, we have __7__ null state records

Here, we have total __29+27+26+25+23+23+19+17+17+16+14+14+13+13+7+7=290__ null records

In [263]:
events_df.state.value_counts()

MadhyaPradesh      232754
Chhattisgarh         9754
Uttaranchal          7741
JammuandKashmir      5385
Goa                  3250
Nagaland             2298
                      290
Name: state, dtype: int64

Here, we can drop those __290__ null records

In [264]:
events_df.drop( events_df[ events_df['state'] == '' ].index , inplace=True)

In [265]:
events_df.state.value_counts()

MadhyaPradesh      232754
Chhattisgarh         9754
Uttaranchal          7741
JammuandKashmir      5385
Goa                  3250
Nagaland             2298
Name: state, dtype: int64

### Checking for Latitude and Longitude '0' value records

In [266]:
ss=events_df.loc[(events_df['latitude']==0)]
ss

,event_id,device_id,timestamp,longitude,latitude,city,state
104058,207005,8012710953286953219,2016-05-03 17:45:24,0.0,0.0,Indore,MadhyaPradesh
104087,394759,8012710953286953219,2016-05-07 19:47:11,0.0,0.0,Indore,MadhyaPradesh
104089,420609,8012710953286953219,2016-05-06 15:26:36,0.0,0.0,Indore,MadhyaPradesh
104122,636189,8012710953286953219,2016-05-06 15:01:05,0.0,0.0,Indore,MadhyaPradesh
104141,750187,8012710953286953219,2016-05-07 18:49:35,0.0,0.0,Indore,MadhyaPradesh
104164,912597,8012710953286953219,2016-05-06 21:11:39,0.0,0.0,Indore,MadhyaPradesh
104173,956071,8012710953286953219,2016-05-01 12:50:18,0.0,0.0,Indore,MadhyaPradesh
104174,956978,8012710953286953219,2016-05-05 12:50:44,0.0,0.0,Indore,MadhyaPradesh
104245,1360107,8012710953286953219,2016-05-04 06:53:22,0.0,0.0,Indore,MadhyaPradesh
104251,1373695,8012710953286953219,2016-05-05 15:27:01,0.0,0.0,Indore,MadhyaPradesh
104284,1583423,8012710953286953219,2016-05-04 15:43:28,0.0,0.0,Indore,MadhyaPradesh
104306,1719080,8012710953286953219,2016-05-03 14:04:46,0.0,0.0,Indore,MadhyaPradesh
104312,1801251,8012710953286953219,2016-05-05 12:52:46,0.0,0.0,Indore,MadhyaPradesh
104320,1862474,8012710953286953219,2016-05-01 21:15:39,0.0,0.0,Indore,MadhyaPradesh
104331,1921865,8012710953286953219,2016-05-01 05:21:00,0.0,0.0,Indore,MadhyaPradesh
104332,1931059,8012710953286953219,2016-05-04 11:13:43,0.0,0.0,Indore,MadhyaPradesh
104340,2003509,8012710953286953219,2016-05-03 18:09:43,0.0,0.0,Indore,MadhyaPradesh
104346,2025999,8012710953286953219,2016-05-07 14:07:14,0.0,0.0,Indore,MadhyaPradesh
104361,2143665,8012710953286953219,2016-05-02 07:16:53,0.0,0.0,Indore,MadhyaPradesh
104393,2398300,8012710953286953219,2016-05-02 13:40:19,0.0,0.0,Indore,MadhyaPradesh
104421,2584022,8012710953286953219,2016-05-06 12:12:34,0.0,0.0,Indore,MadhyaPradesh
104437,2702176,8012710953286953219,2016-05-06 14:52:49,0.0,0.0,Indore,MadhyaPradesh
104446,2748249,8012710953286953219,2016-05-01 22:12:06,0.0,0.0,Indore,MadhyaPradesh
104465,2889268,8012710953286953219,2016-05-03 20:03:21,0.0,0.0,Indore,MadhyaPradesh
128044,112077,415255282275943305,2016-05-02 19:39:01,0.0,0.0,Indore,MadhyaPradesh
128073,311125,415255282275943305,2016-05-07 15:23:58,0.0,0.0,Indore,MadhyaPradesh
128075,318410,415255282275943305,2016-05-01 20:42:04,0.0,0.0,Indore,MadhyaPradesh
128108,500572,415255282275943305,2016-05-02 08:51:50,0.0,0.0,Indore,MadhyaPradesh
128127,612636,415255282275943305,2016-05-02 20:54:38,0.0,0.0,Indore,MadhyaPradesh
128150,773090,415255282275943305,2016-05-02 17:41:38,0.0,0.0,Indore,MadhyaPradesh
128159,826749,415255282275943305,2016-05-07 20:06:01,0.0,0.0,Indore,MadhyaPradesh
128160,836382,415255282275943305,2016-05-02 07:55:39,0.0,0.0,Indore,MadhyaPradesh
128231,1284850,415255282275943305,2016-05-03 14:07:31,0.0,0.0,Indore,MadhyaPradesh
128237,1315840,415255282275943305,2016-05-05 15:28:58,0.0,0.0,Indore,MadhyaPradesh
128270,1546336,415255282275943305,2016-05-02 19:37:10,0.0,0.0,Indore,MadhyaPradesh
128292,1720973,415255282275943305,2016-05-06 15:32:26,0.0,0.0,Indore,MadhyaPradesh
128298,1766354,415255282275943305,2016-05-05 07:42:04,0.0,0.0,Indore,MadhyaPradesh
128306,1853112,415255282275943305,2016-05-06 12:19:37,0.0,0.0,Indore,MadhyaPradesh
128317,1991940,415255282275943305,2016-05-03 09:48:04,0.0,0.0,Indore,MadhyaPradesh
128318,1996087,415255282275943305,2016-05-07 11:19:38,0.0,0.0,Indore,MadhyaPradesh
128326,2017136,415255282275943305,2016-05-02 08:05:01,0.0,0.0,Indore,MadhyaPradesh
128347,2165426,415255282275943305,2016-05-02 20:38:10,0.0,0.0,Indore,MadhyaPradesh
128407,2666042,415255282275943305,2016-05-02 17:29:21,0.0,0.0,Indore,MadhyaPradesh
128423,2777258,415255282275943305,2016-05-06 12:00:15,0.0,0.0,Indore,MadhyaPradesh
128432,2830670,415255282275943305,2016-05-02 14:56:35,0.0,0.0,Indore,MadhyaPradesh
128451,2954823,415255282275943305,2016-05-07 19:33:51,0.0,0.0,Indore,MadhyaPradesh
142615,125250,8119832475692761130,2016-05-01 08:50:45,0.0,0.0,Indore,MadhyaPradesh
142646,356978,8119832475692761130,2016-05-03 13:51:16,0.0,0.0,Indore,MadhyaPradesh
142679,586328,8119832475692761130,2016-05-07 19:13:28,0.0,0.0,Indore,MadhyaPradesh
142698,697830,8119832475692761130,2016-05-05 04:50:48,0.0,0.0,Indore,MadhyaPradesh
142721,872825,8119832475692761130,2016-05-05 14:41:25,0.0,0.0,Indore,MadhyaPradesh
142731,915416,8119832475692761130,2016-05-07 00:31:42,0.0,0.0,Indore,MadhyaPradesh
142802,1433088,8119832475692761130,2016-05-07 18:40:29,0.0,0.0,Indore,MadhyaPradesh
142808,1463883,8119832475692761130,2016-05-03 22:04:16,0.0,0.0,Indore,MadhyaPradesh
142841,1675650,8119832475692761130,2016-05-07 09:11:46,0.0,0.0,Indore,MadhyaPradesh
142863,1806744,8119832475692761130,2016-05-04 17:47:37,0.0,0.0,Indore,MadhyaPradesh
142888,1990556,8119832475692761130,2016-05-03 08:23:52,0.0,0.0,Indore,MadhyaPradesh
142889,1992035,8119832475692761130,2016-05-04 09:25:23,0.0,0.0,Indore,MadhyaPradesh
142918,2200784,8119832475692761130,2016-05-03 02:21:57,0.0,0.0,Indore,MadhyaPradesh
142978,2574985,8119832475692761130,2016-05-04 07:14:49,0.0,0.0,Indore,MadhyaPradesh

In [267]:
ss.device_id.unique()

array([8012710953286953219,  415255282275943305, 8119832475692761130],
      dtype=int64)

### Updating latitude and longitude values by device_id

In [268]:
events_df.loc[(events_df['device_id']==8012710953286953219)]

,event_id,device_id,timestamp,longitude,latitude,city,state
104042,12572,8012710953286953219,2016-05-06 12:47:24,75.927757,22.750582,Indore,MadhyaPradesh
104043,17986,8012710953286953219,2016-05-05 16:44:22,75.927757,22.750582,Indore,MadhyaPradesh
104044,24424,8012710953286953219,2016-05-01 21:53:14,75.927757,22.750582,Indore,MadhyaPradesh
104045,26890,8012710953286953219,2016-05-04 22:06:08,75.927757,22.750582,Indore,MadhyaPradesh
104046,44714,8012710953286953219,2016-05-01 13:48:27,75.927757,22.750582,Indore,MadhyaPradesh
104047,58253,8012710953286953219,2016-05-01 21:15:08,75.927757,22.750582,Indore,MadhyaPradesh
104048,74053,8012710953286953219,2016-05-04 07:21:09,75.927757,22.750582,Indore,MadhyaPradesh
104049,81701,8012710953286953219,2016-05-04 12:38:16,75.927757,22.750582,Indore,MadhyaPradesh
104050,83629,8012710953286953219,2016-05-01 13:14:40,75.927757,22.750582,Indore,MadhyaPradesh
104051,126823,8012710953286953219,2016-05-03 09:41:14,75.927757,22.750582,Indore,MadhyaPradesh
104052,143069,8012710953286953219,2016-05-07 18:56:28,75.927757,22.750582,Indore,MadhyaPradesh
104053,158120,8012710953286953219,2016-05-06 19:08:40,75.927757,22.750582,Indore,MadhyaPradesh
104054,158121,8012710953286953219,2016-05-06 19:11:17,75.927757,22.750582,Indore,MadhyaPradesh
104055,187453,8012710953286953219,2016-05-01 21:34:26,75.927757,22.750582,Indore,MadhyaPradesh
104056,192009,8012710953286953219,2016-05-07 22:27:21,75.927757,22.750582,Indore,MadhyaPradesh
104057,193163,8012710953286953219,2016-05-04 06:46:47,75.927757,22.750582,Indore,MadhyaPradesh
104058,207005,8012710953286953219,2016-05-03 17:45:24,0.000000,0.000000,Indore,MadhyaPradesh
104059,210568,8012710953286953219,2016-05-01 21:38:11,75.927757,22.750582,Indore,MadhyaPradesh
104060,216798,8012710953286953219,2016-05-01 05:48:54,75.927757,22.750582,Indore,MadhyaPradesh
104061,216799,8012710953286953219,2016-05-01 05:53:24,75.927757,22.750582,Indore,MadhyaPradesh
104062,216868,8012710953286953219,2016-05-01 05:41:12,75.927757,22.750582,Indore,MadhyaPradesh
104063,247911,8012710953286953219,2016-05-07 09:32:23,75.927757,22.750582,Indore,MadhyaPradesh
104064,252227,8012710953286953219,2016-05-02 13:29:10,75.927757,22.750582,Indore,MadhyaPradesh
104065,253805,8012710953286953219,2016-05-03 14:05:37,75.927757,22.750582,Indore,MadhyaPradesh
104066,261296,8012710953286953219,2016-05-01 20:33:23,75.927757,22.750582,Indore,MadhyaPradesh
104067,262624,8012710953286953219,2016-05-01 21:40:51,75.927757,22.750582,Indore,MadhyaPradesh
104068,263873,8012710953286953219,2016-05-07 21:40:44,75.927757,22.750582,Indore,MadhyaPradesh
104069,271478,8012710953286953219,2016-05-06 07:20:18,75.927757,22.750582,Indore,MadhyaPradesh
104070,274579,8012710953286953219,2016-05-07 09:32:37,75.927757,22.750582,Indore,MadhyaPradesh
104071,284777,8012710953286953219,2016-05-07 17:37:44,75.927757,22.750582,Indore,MadhyaPradesh
...,...,...,...,...,...,...,...
104483,3036240,8012710953286953219,2016-05-07 19:56:24,75.927757,22.750582,Indore,MadhyaPradesh
104484,3043716,8012710953286953219,2016-05-02 05:17:38,75.927757,22.750582,Indore,MadhyaPradesh
104485,3046253,8012710953286953219,2016-05-04 07:41:42,75.927757,22.750582,Indore,MadhyaPradesh
104486,3051705,8012710953286953219,2016-05-02 03:29:11,75.927757,22.750582,Indore,MadhyaPradesh
104487,3060529,8012710953286953219,2016-05-07 09:31:37,75.927757,22.750582,Indore,MadhyaPradesh
104488,3062152,8012710953286953219,2016-05-06 11:19:57,75.927757,22.750582,Indore,MadhyaPradesh
104489,3063401,8012710953286953219,2016-05-06 06:56:06,75.927757,22.750582,Indore,MadhyaPradesh
104490,3067405,8012710953286953219,2016-05-04 14:52:06,75.927757,22.750582,Indore,MadhyaPradesh
104491,3073231,8012710953286953219,2016-05-06 18:19:17,75.927757,22.750582,Indore,MadhyaPradesh
104492,3077142,8012710953286953219,2016-05-07 20:51:44,75.927757,22.750582,Indore,MadhyaPradesh
104493,3092390,8012710953286953219,2016-05-03 09:45:12,75.927757,22.750582,Indore,MadhyaPradesh
104494,3098792,8012710953286953219,2016-05-05 12:50:13,75.927757,22.750582,Indore,MadhyaPradesh
104495,3126846,8012710953286953219,2016-05-05 11:30:38,75.927757,22.750582,Indore,MadhyaPradesh
104496,3130734,8012710953286953219,2016-05-01 05:54:10,75.927757,22.750582,Indore,MadhyaPradesh
104497,3135667,8012710953286953219,2016-05-07 12:27:52,75.927757,22.750582,Indore,MadhyaPradesh
104498,3143401,8012710953286953219,2016-05-03 16:06:11,75.927757,22.750582,Indore,MadhyaPradesh
104499,3155887,8012710953286953219,2016-05-03 15:33:10,75.927757,22.750582,Indore,MadhyaPradesh
104500,3157034,8012710953286953219,2016-05-01 21:34:48,75.927757,22.750582,Indore,MadhyaPradesh
104501,3169798,8012710953286953219,2016-05-07 21:39:04,75.927757,22.750582,Indore,MadhyaPradesh
104502,3176579,8012710953286953219,2016-05-02 13:00:24,75.927757,22.750582,Indore,MadhyaPradesh
104503,3179919,8012710953286953219,2016-05-03 19:54:20,75.927757,22.750582,Indore,MadhyaPradesh
104504,3183007,8012710953286953219,2016-05-01 20:33:19,75.927757,22.750582,Indore,MadhyaPradesh
104505,3183361,8012710953286953219,2016-05-03 19:58:52,75.927757,22.750582,Indore,MadhyaPradesh
104506,3189414,8012710953286953219,2016-05-05 22:26:05,75.927757,22.750582,Indore,MadhyaPradesh
104507,3206615,8012710953286953219,2016-05-01 17:17:26,75.927757,22.750582,Indore,MadhyaPradesh
104508,3208756,8012710953286953219,2016-05-07 18:51:57,75.927757,22.750582,Indore,MadhyaPradesh
104509,3211256,8012710953286953219,2016-05-03 20:35:54,75.927757,22.750582,Indore,MadhyaPradesh
104510,3222937,8012710953286953219,2016-05-01 05:46:41,75.927757,22.750582,Indore,MadhyaPradesh
104511,3223039,8012710953286953219,2016-05-01 05:25:11,75.927757,22.750582,Indore,MadhyaPradesh
104512,3231917,8012710953286953219,2016-05-02 11:13:15,75.927757,22.750582,Indore,MadhyaPradesh

In [269]:
events_df.latitude.loc[(events_df['device_id']==8012710953286953219)& (events_df['latitude']==0)]=22.750582
events_df.longitude.loc[(events_df['device_id']==8012710953286953219)& (events_df['longitude']==0)]=75.927757

C:\Users\DELL\Anaconda3\lib\site-packages\pandas\core\indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [270]:
events_df.loc[(events_df['device_id']==8012710953286953219)]

,event_id,device_id,timestamp,longitude,latitude,city,state
104042,12572,8012710953286953219,2016-05-06 12:47:24,75.927757,22.750582,Indore,MadhyaPradesh
104043,17986,8012710953286953219,2016-05-05 16:44:22,75.927757,22.750582,Indore,MadhyaPradesh
104044,24424,8012710953286953219,2016-05-01 21:53:14,75.927757,22.750582,Indore,MadhyaPradesh
104045,26890,8012710953286953219,2016-05-04 22:06:08,75.927757,22.750582,Indore,MadhyaPradesh
104046,44714,8012710953286953219,2016-05-01 13:48:27,75.927757,22.750582,Indore,MadhyaPradesh
104047,58253,8012710953286953219,2016-05-01 21:15:08,75.927757,22.750582,Indore,MadhyaPradesh
104048,74053,8012710953286953219,2016-05-04 07:21:09,75.927757,22.750582,Indore,MadhyaPradesh
104049,81701,8012710953286953219,2016-05-04 12:38:16,75.927757,22.750582,Indore,MadhyaPradesh
104050,83629,8012710953286953219,2016-05-01 13:14:40,75.927757,22.750582,Indore,MadhyaPradesh
104051,126823,8012710953286953219,2016-05-03 09:41:14,75.927757,22.750582,Indore,MadhyaPradesh
104052,143069,8012710953286953219,2016-05-07 18:56:28,75.927757,22.750582,Indore,MadhyaPradesh
104053,158120,8012710953286953219,2016-05-06 19:08:40,75.927757,22.750582,Indore,MadhyaPradesh
104054,158121,8012710953286953219,2016-05-06 19:11:17,75.927757,22.750582,Indore,MadhyaPradesh
104055,187453,8012710953286953219,2016-05-01 21:34:26,75.927757,22.750582,Indore,MadhyaPradesh
104056,192009,8012710953286953219,2016-05-07 22:27:21,75.927757,22.750582,Indore,MadhyaPradesh
104057,193163,8012710953286953219,2016-05-04 06:46:47,75.927757,22.750582,Indore,MadhyaPradesh
104058,207005,8012710953286953219,2016-05-03 17:45:24,75.927757,22.750582,Indore,MadhyaPradesh
104059,210568,8012710953286953219,2016-05-01 21:38:11,75.927757,22.750582,Indore,MadhyaPradesh
104060,216798,8012710953286953219,2016-05-01 05:48:54,75.927757,22.750582,Indore,MadhyaPradesh
104061,216799,8012710953286953219,2016-05-01 05:53:24,75.927757,22.750582,Indore,MadhyaPradesh
104062,216868,8012710953286953219,2016-05-01 05:41:12,75.927757,22.750582,Indore,MadhyaPradesh
104063,247911,8012710953286953219,2016-05-07 09:32:23,75.927757,22.750582,Indore,MadhyaPradesh
104064,252227,8012710953286953219,2016-05-02 13:29:10,75.927757,22.750582,Indore,MadhyaPradesh
104065,253805,8012710953286953219,2016-05-03 14:05:37,75.927757,22.750582,Indore,MadhyaPradesh
104066,261296,8012710953286953219,2016-05-01 20:33:23,75.927757,22.750582,Indore,MadhyaPradesh
104067,262624,8012710953286953219,2016-05-01 21:40:51,75.927757,22.750582,Indore,MadhyaPradesh
104068,263873,8012710953286953219,2016-05-07 21:40:44,75.927757,22.750582,Indore,MadhyaPradesh
104069,271478,8012710953286953219,2016-05-06 07:20:18,75.927757,22.750582,Indore,MadhyaPradesh
104070,274579,8012710953286953219,2016-05-07 09:32:37,75.927757,22.750582,Indore,MadhyaPradesh
104071,284777,8012710953286953219,2016-05-07 17:37:44,75.927757,22.750582,Indore,MadhyaPradesh
...,...,...,...,...,...,...,...
104483,3036240,8012710953286953219,2016-05-07 19:56:24,75.927757,22.750582,Indore,MadhyaPradesh
104484,3043716,8012710953286953219,2016-05-02 05:17:38,75.927757,22.750582,Indore,MadhyaPradesh
104485,3046253,8012710953286953219,2016-05-04 07:41:42,75.927757,22.750582,Indore,MadhyaPradesh
104486,3051705,8012710953286953219,2016-05-02 03:29:11,75.927757,22.750582,Indore,MadhyaPradesh
104487,3060529,8012710953286953219,2016-05-07 09:31:37,75.927757,22.750582,Indore,MadhyaPradesh
104488,3062152,8012710953286953219,2016-05-06 11:19:57,75.927757,22.750582,Indore,MadhyaPradesh
104489,3063401,8012710953286953219,2016-05-06 06:56:06,75.927757,22.750582,Indore,MadhyaPradesh
104490,3067405,8012710953286953219,2016-05-04 14:52:06,75.927757,22.750582,Indore,MadhyaPradesh
104491,3073231,8012710953286953219,2016-05-06 18:19:17,75.927757,22.750582,Indore,MadhyaPradesh
104492,3077142,8012710953286953219,2016-05-07 20:51:44,75.927757,22.750582,Indore,MadhyaPradesh
104493,3092390,8012710953286953219,2016-05-03 09:45:12,75.927757,22.750582,Indore,MadhyaPradesh
104494,3098792,8012710953286953219,2016-05-05 12:50:13,75.927757,22.750582,Indore,MadhyaPradesh
104495,3126846,8012710953286953219,2016-05-05 11:30:38,75.927757,22.750582,Indore,MadhyaPradesh
104496,3130734,8012710953286953219,2016-05-01 05:54:10,75.927757,22.750582,Indore,MadhyaPradesh
104497,3135667,8012710953286953219,2016-05-07 12:27:52,75.927757,22.750582,Indore,MadhyaPradesh
104498,3143401,8012710953286953219,2016-05-03 16:06:11,75.927757,22.750582,Indore,MadhyaPradesh
104499,3155887,8012710953286953219,2016-05-03 15:33:10,75.927757,22.750582,Indore,MadhyaPradesh
104500,3157034,8012710953286953219,2016-05-01 21:34:48,75.927757,22.750582,Indore,MadhyaPradesh
104501,3169798,8012710953286953219,2016-05-07 21:39:04,75.927757,22.750582,Indore,MadhyaPradesh
104502,3176579,8012710953286953219,2016-05-02 13:00:24,75.927757,22.750582,Indore,MadhyaPradesh
104503,3179919,8012710953286953219,2016-05-03 19:54:20,75.927757,22.750582,Indore,MadhyaPradesh
104504,3183007,8012710953286953219,2016-05-01 20:33:19,75.927757,22.750582,Indore,MadhyaPradesh
104505,3183361,8012710953286953219,2016-05-03 19:58:52,75.927757,22.750582,Indore,MadhyaPradesh
104506,3189414,8012710953286953219,2016-05-05 22:26:05,75.927757,22.750582,Indore,MadhyaPradesh
104507,3206615,8012710953286953219,2016-05-01 17:17:26,75.927757,22.750582,Indore,MadhyaPradesh
104508,3208756,8012710953286953219,2016-05-07 18:51:57,75.927757,22.750582,Indore,MadhyaPradesh
104509,3211256,8012710953286953219,2016-05-03 20:35:54,75.927757,22.750582,Indore,MadhyaPradesh
104510,3222937,8012710953286953219,2016-05-01 05:46:41,75.927757,22.750582,Indore,MadhyaPradesh
104511,3223039,8012710953286953219,2016-05-01 05:25:11,75.927757,22.750582,Indore,MadhyaPradesh
104512,3231917,8012710953286953219,2016-05-02 11:13:15,75.927757,22.750582,Indore,MadhyaPradesh

In [271]:
events_df.loc[(events_df['device_id']==415255282275943305)]

,event_id,device_id,timestamp,longitude,latitude,city,state
128028,13205,415255282275943305,2016-05-03 13:56:46,75.956535,22.793821,Indore,MadhyaPradesh
128029,22931,415255282275943305,2016-05-01 20:49:32,75.956535,22.793821,Indore,MadhyaPradesh
128030,23191,415255282275943305,2016-05-02 20:03:17,75.956535,22.793821,Indore,MadhyaPradesh
128031,25570,415255282275943305,2016-05-06 21:03:06,75.956535,22.793821,Indore,MadhyaPradesh
128032,45909,415255282275943305,2016-05-05 13:51:56,75.956535,22.793821,Indore,MadhyaPradesh
128033,48900,415255282275943305,2016-05-05 15:46:20,75.956535,22.793821,Indore,MadhyaPradesh
128034,56597,415255282275943305,2016-05-02 20:40:47,75.956535,22.793821,Indore,MadhyaPradesh
128035,56625,415255282275943305,2016-05-02 20:34:49,75.956535,22.793821,Indore,MadhyaPradesh
128036,74992,415255282275943305,2016-05-02 07:57:21,75.956535,22.793821,Indore,MadhyaPradesh
128037,75000,415255282275943305,2016-05-02 08:48:17,75.956535,22.793821,Indore,MadhyaPradesh
128038,80118,415255282275943305,2016-05-06 11:25:44,75.956535,22.793821,Indore,MadhyaPradesh
128039,80558,415255282275943305,2016-05-07 11:48:36,75.956535,22.793821,Indore,MadhyaPradesh
128040,91220,415255282275943305,2016-05-06 15:21:32,75.956535,22.793821,Indore,MadhyaPradesh
128041,94212,415255282275943305,2016-05-07 16:49:42,75.956535,22.793821,Indore,MadhyaPradesh
128042,94884,415255282275943305,2016-05-06 11:31:08,75.956535,22.793821,Indore,MadhyaPradesh
128043,102279,415255282275943305,2016-05-07 14:25:57,75.956535,22.793821,Indore,MadhyaPradesh
128044,112077,415255282275943305,2016-05-02 19:39:01,0.000000,0.000000,Indore,MadhyaPradesh
128045,141534,415255282275943305,2016-05-02 19:41:07,75.956535,22.793821,Indore,MadhyaPradesh
128046,153944,415255282275943305,2016-05-05 15:43:43,75.956535,22.793821,Indore,MadhyaPradesh
128047,155456,415255282275943305,2016-05-02 17:33:28,75.956535,22.793821,Indore,MadhyaPradesh
128048,155580,415255282275943305,2016-05-02 17:46:26,75.956535,22.793821,Indore,MadhyaPradesh
128049,155695,415255282275943305,2016-05-03 17:18:11,75.956535,22.793821,Indore,MadhyaPradesh
128050,178364,415255282275943305,2016-05-07 14:12:26,75.956535,22.793821,Indore,MadhyaPradesh
128051,182166,415255282275943305,2016-05-01 18:18:51,75.956535,22.793821,Indore,MadhyaPradesh
128052,182279,415255282275943305,2016-05-02 18:44:14,75.956535,22.793821,Indore,MadhyaPradesh
128053,197487,415255282275943305,2016-05-03 09:48:05,75.956535,22.793821,Indore,MadhyaPradesh
128054,199402,415255282275943305,2016-05-01 11:46:14,75.956535,22.793821,Indore,MadhyaPradesh
128055,206844,415255282275943305,2016-05-02 17:38:17,75.956535,22.793821,Indore,MadhyaPradesh
128056,207584,415255282275943305,2016-05-06 17:14:56,75.956535,22.793821,Indore,MadhyaPradesh
128057,208137,415255282275943305,2016-05-02 18:16:09,75.956535,22.793821,Indore,MadhyaPradesh
...,...,...,...,...,...,...,...
128470,3101044,415255282275943305,2016-05-05 13:35:51,75.956535,22.793821,Indore,MadhyaPradesh
128471,3111644,415255282275943305,2016-05-07 09:03:56,75.956535,22.793821,Indore,MadhyaPradesh
128472,3115619,415255282275943305,2016-05-07 16:50:22,75.956535,22.793821,Indore,MadhyaPradesh
128473,3118486,415255282275943305,2016-05-02 19:19:26,75.956535,22.793821,Indore,MadhyaPradesh
128474,3121092,415255282275943305,2016-05-01 20:41:31,75.956535,22.793821,Indore,MadhyaPradesh
128475,3122316,415255282275943305,2016-05-07 19:59:04,75.956535,22.793821,Indore,MadhyaPradesh
128476,3136799,415255282275943305,2016-05-06 08:07:06,75.956535,22.793821,Indore,MadhyaPradesh
128477,3140229,415255282275943305,2016-05-07 14:06:38,75.956535,22.793821,Indore,MadhyaPradesh
128478,3145458,415255282275943305,2016-05-05 17:10:14,75.956535,22.793821,Indore,MadhyaPradesh
128479,3148628,415255282275943305,2016-05-07 18:02:22,75.956535,22.793821,Indore,MadhyaPradesh
128480,3149730,415255282275943305,2016-05-02 19:40:19,75.956535,22.793821,Indore,MadhyaPradesh
128481,3151597,415255282275943305,2016-05-01 20:46:18,75.956535,22.793821,Indore,MadhyaPradesh
128482,3152207,415255282275943305,2016-05-03 15:06:44,75.956535,22.793821,Indore,MadhyaPradesh
128483,3156782,415255282275943305,2016-05-07 20:01:50,75.956535,22.793821,Indore,MadhyaPradesh
128484,3156971,415255282275943305,2016-05-07 20:03:52,75.956535,22.793821,Indore,MadhyaPradesh
128485,3157716,415255282275943305,2016-05-03 16:02:19,75.956535,22.793821,Indore,MadhyaPradesh
128486,3161533,415255282275943305,2016-05-03 17:13:36,75.956535,22.793821,Indore,MadhyaPradesh
128487,3166935,415255282275943305,2016-05-07 19:35:36,75.956535,22.793821,Indore,MadhyaPradesh
128488,3174303,415255282275943305,2016-05-02 17:54:47,75.956535,22.793821,Indore,MadhyaPradesh
128489,3176731,415255282275943305,2016-05-01 18:13:15,75.956535,22.793821,Indore,MadhyaPradesh
128490,3179590,415255282275943305,2016-05-02 19:29:11,75.956535,22.793821,Indore,MadhyaPradesh
128491,3183013,415255282275943305,2016-05-01 20:38:12,75.956535,22.793821,Indore,MadhyaPradesh
128492,3196041,415255282275943305,2016-05-01 11:55:11,75.956535,22.793821,Indore,MadhyaPradesh
128493,3196517,415255282275943305,2016-05-02 17:53:04,75.956535,22.793821,Indore,MadhyaPradesh
128494,3203368,415255282275943305,2016-05-07 18:00:58,75.956535,22.793821,Indore,MadhyaPradesh
128495,3206892,415255282275943305,2016-05-03 17:22:02,75.956535,22.793821,Indore,MadhyaPradesh
128496,3207744,415255282275943305,2016-05-01 20:43:44,75.956535,22.793821,Indore,MadhyaPradesh
128497,3211011,415255282275943305,2016-05-02 20:54:16,75.956535,22.793821,Indore,MadhyaPradesh
128498,3211749,415255282275943305,2016-05-07 20:17:48,75.956535,22.793821,Indore,MadhyaPradesh
128499,3244437,415255282275943305,2016-05-02 19:16:28,75.956535,22.793821,Indore,MadhyaPradesh

In [272]:
events_df.latitude.loc[(events_df['device_id']==415255282275943305)& (events_df['latitude']==0)]=22.793821
events_df.longitude.loc[(events_df['device_id']==415255282275943305)&(events_df['longitude']==0)]=75.956535

C:\Users\DELL\Anaconda3\lib\site-packages\pandas\core\indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [273]:
events_df.loc[(events_df['device_id']==415255282275943305)]

,event_id,device_id,timestamp,longitude,latitude,city,state
128028,13205,415255282275943305,2016-05-03 13:56:46,75.956535,22.793821,Indore,MadhyaPradesh
128029,22931,415255282275943305,2016-05-01 20:49:32,75.956535,22.793821,Indore,MadhyaPradesh
128030,23191,415255282275943305,2016-05-02 20:03:17,75.956535,22.793821,Indore,MadhyaPradesh
128031,25570,415255282275943305,2016-05-06 21:03:06,75.956535,22.793821,Indore,MadhyaPradesh
128032,45909,415255282275943305,2016-05-05 13:51:56,75.956535,22.793821,Indore,MadhyaPradesh
128033,48900,415255282275943305,2016-05-05 15:46:20,75.956535,22.793821,Indore,MadhyaPradesh
128034,56597,415255282275943305,2016-05-02 20:40:47,75.956535,22.793821,Indore,MadhyaPradesh
128035,56625,415255282275943305,2016-05-02 20:34:49,75.956535,22.793821,Indore,MadhyaPradesh
128036,74992,415255282275943305,2016-05-02 07:57:21,75.956535,22.793821,Indore,MadhyaPradesh
128037,75000,415255282275943305,2016-05-02 08:48:17,75.956535,22.793821,Indore,MadhyaPradesh
128038,80118,415255282275943305,2016-05-06 11:25:44,75.956535,22.793821,Indore,MadhyaPradesh
128039,80558,415255282275943305,2016-05-07 11:48:36,75.956535,22.793821,Indore,MadhyaPradesh
128040,91220,415255282275943305,2016-05-06 15:21:32,75.956535,22.793821,Indore,MadhyaPradesh
128041,94212,415255282275943305,2016-05-07 16:49:42,75.956535,22.793821,Indore,MadhyaPradesh
128042,94884,415255282275943305,2016-05-06 11:31:08,75.956535,22.793821,Indore,MadhyaPradesh
128043,102279,415255282275943305,2016-05-07 14:25:57,75.956535,22.793821,Indore,MadhyaPradesh
128044,112077,415255282275943305,2016-05-02 19:39:01,75.956535,22.793821,Indore,MadhyaPradesh
128045,141534,415255282275943305,2016-05-02 19:41:07,75.956535,22.793821,Indore,MadhyaPradesh
128046,153944,415255282275943305,2016-05-05 15:43:43,75.956535,22.793821,Indore,MadhyaPradesh
128047,155456,415255282275943305,2016-05-02 17:33:28,75.956535,22.793821,Indore,MadhyaPradesh
128048,155580,415255282275943305,2016-05-02 17:46:26,75.956535,22.793821,Indore,MadhyaPradesh
128049,155695,415255282275943305,2016-05-03 17:18:11,75.956535,22.793821,Indore,MadhyaPradesh
128050,178364,415255282275943305,2016-05-07 14:12:26,75.956535,22.793821,Indore,MadhyaPradesh
128051,182166,415255282275943305,2016-05-01 18:18:51,75.956535,22.793821,Indore,MadhyaPradesh
128052,182279,415255282275943305,2016-05-02 18:44:14,75.956535,22.793821,Indore,MadhyaPradesh
128053,197487,415255282275943305,2016-05-03 09:48:05,75.956535,22.793821,Indore,MadhyaPradesh
128054,199402,415255282275943305,2016-05-01 11:46:14,75.956535,22.793821,Indore,MadhyaPradesh
128055,206844,415255282275943305,2016-05-02 17:38:17,75.956535,22.793821,Indore,MadhyaPradesh
128056,207584,415255282275943305,2016-05-06 17:14:56,75.956535,22.793821,Indore,MadhyaPradesh
128057,208137,415255282275943305,2016-05-02 18:16:09,75.956535,22.793821,Indore,MadhyaPradesh
...,...,...,...,...,...,...,...
128470,3101044,415255282275943305,2016-05-05 13:35:51,75.956535,22.793821,Indore,MadhyaPradesh
128471,3111644,415255282275943305,2016-05-07 09:03:56,75.956535,22.793821,Indore,MadhyaPradesh
128472,3115619,415255282275943305,2016-05-07 16:50:22,75.956535,22.793821,Indore,MadhyaPradesh
128473,3118486,415255282275943305,2016-05-02 19:19:26,75.956535,22.793821,Indore,MadhyaPradesh
128474,3121092,415255282275943305,2016-05-01 20:41:31,75.956535,22.793821,Indore,MadhyaPradesh
128475,3122316,415255282275943305,2016-05-07 19:59:04,75.956535,22.793821,Indore,MadhyaPradesh
128476,3136799,415255282275943305,2016-05-06 08:07:06,75.956535,22.793821,Indore,MadhyaPradesh
128477,3140229,415255282275943305,2016-05-07 14:06:38,75.956535,22.793821,Indore,MadhyaPradesh
128478,3145458,415255282275943305,2016-05-05 17:10:14,75.956535,22.793821,Indore,MadhyaPradesh
128479,3148628,415255282275943305,2016-05-07 18:02:22,75.956535,22.793821,Indore,MadhyaPradesh
128480,3149730,415255282275943305,2016-05-02 19:40:19,75.956535,22.793821,Indore,MadhyaPradesh
128481,3151597,415255282275943305,2016-05-01 20:46:18,75.956535,22.793821,Indore,MadhyaPradesh
128482,3152207,415255282275943305,2016-05-03 15:06:44,75.956535,22.793821,Indore,MadhyaPradesh
128483,3156782,415255282275943305,2016-05-07 20:01:50,75.956535,22.793821,Indore,MadhyaPradesh
128484,3156971,415255282275943305,2016-05-07 20:03:52,75.956535,22.793821,Indore,MadhyaPradesh
128485,3157716,415255282275943305,2016-05-03 16:02:19,75.956535,22.793821,Indore,MadhyaPradesh
128486,3161533,415255282275943305,2016-05-03 17:13:36,75.956535,22.793821,Indore,MadhyaPradesh
128487,3166935,415255282275943305,2016-05-07 19:35:36,75.956535,22.793821,Indore,MadhyaPradesh
128488,3174303,415255282275943305,2016-05-02 17:54:47,75.956535,22.793821,Indore,MadhyaPradesh
128489,3176731,415255282275943305,2016-05-01 18:13:15,75.956535,22.793821,Indore,MadhyaPradesh
128490,3179590,415255282275943305,2016-05-02 19:29:11,75.956535,22.793821,Indore,MadhyaPradesh
128491,3183013,415255282275943305,2016-05-01 20:38:12,75.956535,22.793821,Indore,MadhyaPradesh
128492,3196041,415255282275943305,2016-05-01 11:55:11,75.956535,22.793821,Indore,MadhyaPradesh
128493,3196517,415255282275943305,2016-05-02 17:53:04,75.956535,22.793821,Indore,MadhyaPradesh
128494,3203368,415255282275943305,2016-05-07 18:00:58,75.956535,22.793821,Indore,MadhyaPradesh
128495,3206892,415255282275943305,2016-05-03 17:22:02,75.956535,22.793821,Indore,MadhyaPradesh
128496,3207744,415255282275943305,2016-05-01 20:43:44,75.956535,22.793821,Indore,MadhyaPradesh
128497,3211011,415255282275943305,2016-05-02 20:54:16,75.956535,22.793821,Indore,MadhyaPradesh
128498,3211749,415255282275943305,2016-05-07 20:17:48,75.956535,22.793821,Indore,MadhyaPradesh
128499,3244437,415255282275943305,2016-05-02 19:16:28,75.956535,22.793821,Indore,MadhyaPradesh

In [274]:
events_df.loc[(events_df['device_id']==8119832475692761130)]

,event_id,device_id,timestamp,longitude,latitude,city,state
142599,13610,8119832475692761130,2016-05-04 13:07:01,75.933807,22.808014,Indore,MadhyaPradesh
142600,25526,8119832475692761130,2016-05-06 21:00:45,75.933807,22.808014,Indore,MadhyaPradesh
142601,29381,8119832475692761130,2016-05-03 00:55:09,75.933807,22.808014,Indore,MadhyaPradesh
142602,31810,8119832475692761130,2016-05-02 03:15:29,75.933807,22.808014,Indore,MadhyaPradesh
142603,42065,8119832475692761130,2016-05-04 11:27:29,75.933807,22.808014,Indore,MadhyaPradesh
142604,54877,8119832475692761130,2016-05-01 19:08:23,75.933807,22.808014,Indore,MadhyaPradesh
142605,55792,8119832475692761130,2016-05-06 19:05:17,75.933807,22.808014,Indore,MadhyaPradesh
142606,63766,8119832475692761130,2016-05-05 00:50:16,75.933807,22.808014,Indore,MadhyaPradesh
142607,67600,8119832475692761130,2016-05-07 02:18:30,75.933807,22.808014,Indore,MadhyaPradesh
142608,70913,8119832475692761130,2016-05-07 01:44:37,75.933807,22.808014,Indore,MadhyaPradesh
142609,76347,8119832475692761130,2016-05-02 09:31:26,75.933807,22.808014,Indore,MadhyaPradesh
142610,77979,8119832475692761130,2016-05-04 10:42:14,75.933807,22.808014,Indore,MadhyaPradesh
142611,82303,8119832475692761130,2016-05-06 12:05:15,75.933807,22.808014,Indore,MadhyaPradesh
142612,83962,8119832475692761130,2016-05-05 07:11:51,75.933807,22.808014,Indore,MadhyaPradesh
142613,89908,8119832475692761130,2016-05-02 15:56:02,75.933807,22.808014,Indore,MadhyaPradesh
142614,96207,8119832475692761130,2016-05-02 08:26:25,75.933807,22.808014,Indore,MadhyaPradesh
142615,125250,8119832475692761130,2016-05-01 08:50:45,0.000000,0.000000,Indore,MadhyaPradesh
142616,126548,8119832475692761130,2016-05-02 09:36:56,75.933807,22.808014,Indore,MadhyaPradesh
142617,126751,8119832475692761130,2016-05-03 09:27:32,75.933807,22.808014,Indore,MadhyaPradesh
142618,126844,8119832475692761130,2016-05-03 08:59:27,75.933807,22.808014,Indore,MadhyaPradesh
142619,147415,8119832475692761130,2016-05-02 12:49:26,75.933807,22.808014,Indore,MadhyaPradesh
142620,148937,8119832475692761130,2016-05-06 22:30:51,75.933807,22.808014,Indore,MadhyaPradesh
142621,151608,8119832475692761130,2016-05-06 13:04:06,75.933807,22.808014,Indore,MadhyaPradesh
142622,154199,8119832475692761130,2016-05-07 14:58:56,75.933807,22.808014,Indore,MadhyaPradesh
142623,161712,8119832475692761130,2016-05-03 01:05:46,75.933807,22.808014,Indore,MadhyaPradesh
142624,165378,8119832475692761130,2016-05-05 06:37:28,75.933807,22.808014,Indore,MadhyaPradesh
142625,181115,8119832475692761130,2016-05-02 17:20:26,75.933807,22.808014,Indore,MadhyaPradesh
142626,196300,8119832475692761130,2016-05-04 08:53:27,75.933807,22.808014,Indore,MadhyaPradesh
142627,198427,8119832475692761130,2016-05-01 10:44:00,75.933807,22.808014,Indore,MadhyaPradesh
142628,208863,8119832475692761130,2016-05-02 19:32:04,75.933807,22.808014,Indore,MadhyaPradesh
...,...,...,...,...,...,...,...
143036,3056403,8119832475692761130,2016-05-01 08:35:21,75.933807,22.808014,Indore,MadhyaPradesh
143037,3063644,8119832475692761130,2016-05-07 06:14:09,75.933807,22.808014,Indore,MadhyaPradesh
143038,3088245,8119832475692761130,2016-05-05 04:50:11,75.933807,22.808014,Indore,MadhyaPradesh
143039,3096903,8119832475692761130,2016-05-04 11:53:20,75.933807,22.808014,Indore,MadhyaPradesh
143040,3097875,8119832475692761130,2016-05-02 12:31:50,75.933807,22.808014,Indore,MadhyaPradesh
143041,3098609,8119832475692761130,2016-05-04 12:55:11,75.933807,22.808014,Indore,MadhyaPradesh
143042,3112598,8119832475692761130,2016-05-04 10:21:10,75.933807,22.808014,Indore,MadhyaPradesh
143043,3122831,8119832475692761130,2016-05-02 21:55:06,75.933807,22.808014,Indore,MadhyaPradesh
143044,3123456,8119832475692761130,2016-05-06 21:31:13,75.933807,22.808014,Indore,MadhyaPradesh
143045,3130166,8119832475692761130,2016-05-03 03:51:47,75.933807,22.808014,Indore,MadhyaPradesh
143046,3137226,8119832475692761130,2016-05-07 08:17:16,75.933807,22.808014,Indore,MadhyaPradesh
143047,3143594,8119832475692761130,2016-05-04 10:36:19,75.933807,22.808014,Indore,MadhyaPradesh
143048,3145667,8119832475692761130,2016-05-05 17:52:59,75.933807,22.808014,Indore,MadhyaPradesh
143049,3150971,8119832475692761130,2016-05-03 13:40:09,75.933807,22.808014,Indore,MadhyaPradesh
143050,3160032,8119832475692761130,2016-05-05 16:01:58,75.933807,22.808014,Indore,MadhyaPradesh
143051,3167724,8119832475692761130,2016-05-04 20:40:00,75.933807,22.808014,Indore,MadhyaPradesh
143052,3171449,8119832475692761130,2016-05-06 22:42:16,75.933807,22.808014,Indore,MadhyaPradesh
143053,3174709,8119832475692761130,2016-05-02 17:37:03,75.933807,22.808014,Indore,MadhyaPradesh
143054,3183784,8119832475692761130,2016-05-04 20:20:15,75.933807,22.808014,Indore,MadhyaPradesh
143055,3191128,8119832475692761130,2016-05-02 23:02:20,75.933807,22.808014,Indore,MadhyaPradesh
143056,3213995,8119832475692761130,2016-05-01 22:47:56,75.933807,22.808014,Indore,MadhyaPradesh
143057,3218960,8119832475692761130,2016-05-02 23:20:15,75.933807,22.808014,Indore,MadhyaPradesh
143058,3218962,8119832475692761130,2016-05-02 23:14:41,75.933807,22.808014,Indore,MadhyaPradesh
143059,3220715,8119832475692761130,2016-05-01 01:04:42,75.933807,22.808014,Indore,MadhyaPradesh
143060,3221716,8119832475692761130,2016-05-03 02:12:09,75.933807,22.808014,Indore,MadhyaPradesh
143061,3221839,8119832475692761130,2016-05-05 02:40:13,75.933807,22.808014,Indore,MadhyaPradesh
143062,3222643,8119832475692761130,2016-05-03 04:11:42,75.933807,22.808014,Indore,MadhyaPradesh
143063,3230550,8119832475692761130,2016-05-04 10:31:20,75.933807,22.808014,Indore,MadhyaPradesh
143064,3245172,8119832475692761130,2016-05-04 19:05:45,75.933807,22.808014,Indore,MadhyaPradesh
143065,3248668,8119832475692761130,2016-05-04 21:23:17,75.933807,22.808014,Indore,MadhyaPradesh

In [275]:
events_df.latitude.loc[(events_df['device_id']==8119832475692761130)&(events_df['latitude']==0)]=22.808014
events_df.longitude.loc[(events_df['device_id']==8119832475692761130)&(events_df['longitude']==0)]=75.933807

C:\Users\DELL\Anaconda3\lib\site-packages\pandas\core\indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [276]:
events_df.loc[(events_df['device_id']==8119832475692761130)]

,event_id,device_id,timestamp,longitude,latitude,city,state
142599,13610,8119832475692761130,2016-05-04 13:07:01,75.933807,22.808014,Indore,MadhyaPradesh
142600,25526,8119832475692761130,2016-05-06 21:00:45,75.933807,22.808014,Indore,MadhyaPradesh
142601,29381,8119832475692761130,2016-05-03 00:55:09,75.933807,22.808014,Indore,MadhyaPradesh
142602,31810,8119832475692761130,2016-05-02 03:15:29,75.933807,22.808014,Indore,MadhyaPradesh
142603,42065,8119832475692761130,2016-05-04 11:27:29,75.933807,22.808014,Indore,MadhyaPradesh
142604,54877,8119832475692761130,2016-05-01 19:08:23,75.933807,22.808014,Indore,MadhyaPradesh
142605,55792,8119832475692761130,2016-05-06 19:05:17,75.933807,22.808014,Indore,MadhyaPradesh
142606,63766,8119832475692761130,2016-05-05 00:50:16,75.933807,22.808014,Indore,MadhyaPradesh
142607,67600,8119832475692761130,2016-05-07 02:18:30,75.933807,22.808014,Indore,MadhyaPradesh
142608,70913,8119832475692761130,2016-05-07 01:44:37,75.933807,22.808014,Indore,MadhyaPradesh
142609,76347,8119832475692761130,2016-05-02 09:31:26,75.933807,22.808014,Indore,MadhyaPradesh
142610,77979,8119832475692761130,2016-05-04 10:42:14,75.933807,22.808014,Indore,MadhyaPradesh
142611,82303,8119832475692761130,2016-05-06 12:05:15,75.933807,22.808014,Indore,MadhyaPradesh
142612,83962,8119832475692761130,2016-05-05 07:11:51,75.933807,22.808014,Indore,MadhyaPradesh
142613,89908,8119832475692761130,2016-05-02 15:56:02,75.933807,22.808014,Indore,MadhyaPradesh
142614,96207,8119832475692761130,2016-05-02 08:26:25,75.933807,22.808014,Indore,MadhyaPradesh
142615,125250,8119832475692761130,2016-05-01 08:50:45,75.933807,22.808014,Indore,MadhyaPradesh
142616,126548,8119832475692761130,2016-05-02 09:36:56,75.933807,22.808014,Indore,MadhyaPradesh
142617,126751,8119832475692761130,2016-05-03 09:27:32,75.933807,22.808014,Indore,MadhyaPradesh
142618,126844,8119832475692761130,2016-05-03 08:59:27,75.933807,22.808014,Indore,MadhyaPradesh
142619,147415,8119832475692761130,2016-05-02 12:49:26,75.933807,22.808014,Indore,MadhyaPradesh
142620,148937,8119832475692761130,2016-05-06 22:30:51,75.933807,22.808014,Indore,MadhyaPradesh
142621,151608,8119832475692761130,2016-05-06 13:04:06,75.933807,22.808014,Indore,MadhyaPradesh
142622,154199,8119832475692761130,2016-05-07 14:58:56,75.933807,22.808014,Indore,MadhyaPradesh
142623,161712,8119832475692761130,2016-05-03 01:05:46,75.933807,22.808014,Indore,MadhyaPradesh
142624,165378,8119832475692761130,2016-05-05 06:37:28,75.933807,22.808014,Indore,MadhyaPradesh
142625,181115,8119832475692761130,2016-05-02 17:20:26,75.933807,22.808014,Indore,MadhyaPradesh
142626,196300,8119832475692761130,2016-05-04 08:53:27,75.933807,22.808014,Indore,MadhyaPradesh
142627,198427,8119832475692761130,2016-05-01 10:44:00,75.933807,22.808014,Indore,MadhyaPradesh
142628,208863,8119832475692761130,2016-05-02 19:32:04,75.933807,22.808014,Indore,MadhyaPradesh
...,...,...,...,...,...,...,...
143036,3056403,8119832475692761130,2016-05-01 08:35:21,75.933807,22.808014,Indore,MadhyaPradesh
143037,3063644,8119832475692761130,2016-05-07 06:14:09,75.933807,22.808014,Indore,MadhyaPradesh
143038,3088245,8119832475692761130,2016-05-05 04:50:11,75.933807,22.808014,Indore,MadhyaPradesh
143039,3096903,8119832475692761130,2016-05-04 11:53:20,75.933807,22.808014,Indore,MadhyaPradesh
143040,3097875,8119832475692761130,2016-05-02 12:31:50,75.933807,22.808014,Indore,MadhyaPradesh
143041,3098609,8119832475692761130,2016-05-04 12:55:11,75.933807,22.808014,Indore,MadhyaPradesh
143042,3112598,8119832475692761130,2016-05-04 10:21:10,75.933807,22.808014,Indore,MadhyaPradesh
143043,3122831,8119832475692761130,2016-05-02 21:55:06,75.933807,22.808014,Indore,MadhyaPradesh
143044,3123456,8119832475692761130,2016-05-06 21:31:13,75.933807,22.808014,Indore,MadhyaPradesh
143045,3130166,8119832475692761130,2016-05-03 03:51:47,75.933807,22.808014,Indore,MadhyaPradesh
143046,3137226,8119832475692761130,2016-05-07 08:17:16,75.933807,22.808014,Indore,MadhyaPradesh
143047,3143594,8119832475692761130,2016-05-04 10:36:19,75.933807,22.808014,Indore,MadhyaPradesh
143048,3145667,8119832475692761130,2016-05-05 17:52:59,75.933807,22.808014,Indore,MadhyaPradesh
143049,3150971,8119832475692761130,2016-05-03 13:40:09,75.933807,22.808014,Indore,MadhyaPradesh
143050,3160032,8119832475692761130,2016-05-05 16:01:58,75.933807,22.808014,Indore,MadhyaPradesh
143051,3167724,8119832475692761130,2016-05-04 20:40:00,75.933807,22.808014,Indore,MadhyaPradesh
143052,3171449,8119832475692761130,2016-05-06 22:42:16,75.933807,22.808014,Indore,MadhyaPradesh
143053,3174709,8119832475692761130,2016-05-02 17:37:03,75.933807,22.808014,Indore,MadhyaPradesh
143054,3183784,8119832475692761130,2016-05-04 20:20:15,75.933807,22.808014,Indore,MadhyaPradesh
143055,3191128,8119832475692761130,2016-05-02 23:02:20,75.933807,22.808014,Indore,MadhyaPradesh
143056,3213995,8119832475692761130,2016-05-01 22:47:56,75.933807,22.808014,Indore,MadhyaPradesh
143057,3218960,8119832475692761130,2016-05-02 23:20:15,75.933807,22.808014,Indore,MadhyaPradesh
143058,3218962,8119832475692761130,2016-05-02 23:14:41,75.933807,22.808014,Indore,MadhyaPradesh
143059,3220715,8119832475692761130,2016-05-01 01:04:42,75.933807,22.808014,Indore,MadhyaPradesh
143060,3221716,8119832475692761130,2016-05-03 02:12:09,75.933807,22.808014,Indore,MadhyaPradesh
143061,3221839,8119832475692761130,2016-05-05 02:40:13,75.933807,22.808014,Indore,MadhyaPradesh
143062,3222643,8119832475692761130,2016-05-03 04:11:42,75.933807,22.808014,Indore,MadhyaPradesh
143063,3230550,8119832475692761130,2016-05-04 10:31:20,75.933807,22.808014,Indore,MadhyaPradesh
143064,3245172,8119832475692761130,2016-05-04 19:05:45,75.933807,22.808014,Indore,MadhyaPradesh
143065,3248668,8119832475692761130,2016-05-04 21:23:17,75.933807,22.808014,Indore,MadhyaPradesh

In [277]:
events_df.loc[(events_df['latitude']==0)]

Empty DataFrame
Columns: [event_id, device_id, timestamp, longitude, latitude, city, state]
Index: []

In [278]:
events_df.loc[(events_df['longitude']==0)]

Empty DataFrame
Columns: [event_id, device_id, timestamp, longitude, latitude, city, state]
Index: []

### Checking and Updating incorrect latitude and longitude value records

In [279]:
events_df.loc[(events_df['latitude']==34.555302)]

,event_id,device_id,timestamp,longitude,latitude,city,state
219808,252077,4308359086173950657,2016-05-01 15:19:00,69.207497,34.555302,Baramula,JammuandKashmir
219811,301195,4308359086173950657,2016-05-05 11:14:16,69.207497,34.555302,Baramula,JammuandKashmir
219812,305976,4308359086173950657,2016-05-03 14:14:28,69.207497,34.555302,Baramula,JammuandKashmir

In [280]:
events_df.loc[(events_df['device_id']==4308359086173950657)]

,event_id,device_id,timestamp,longitude,latitude,city,state
219801,51415,4308359086173950657,2016-05-01 17:23:36,74.396996,34.254299,Baramula,JammuandKashmir
219802,77143,4308359086173950657,2016-05-05 09:27:29,74.396996,34.254299,Baramula,JammuandKashmir
219803,91228,4308359086173950657,2016-05-06 15:50:22,74.396996,34.254299,Baramula,JammuandKashmir
219804,96772,4308359086173950657,2016-05-03 12:13:43,74.396996,34.254299,Baramula,JammuandKashmir
219805,107295,4308359086173950657,2016-05-01 17:32:49,74.396996,34.254299,Baramula,JammuandKashmir
219806,107309,4308359086173950657,2016-05-02 17:25:06,74.396996,34.254299,Baramula,JammuandKashmir
219807,141740,4308359086173950657,2016-05-05 10:51:04,74.396996,34.254299,Baramula,JammuandKashmir
219808,252077,4308359086173950657,2016-05-01 15:19:00,69.207497,34.555302,Baramula,JammuandKashmir
219809,275643,4308359086173950657,2016-05-05 10:32:04,74.396996,34.254299,Baramula,JammuandKashmir
219810,301194,4308359086173950657,2016-05-05 09:13:46,74.396996,34.254299,Baramula,JammuandKashmir
219811,301195,4308359086173950657,2016-05-05 11:14:16,69.207497,34.555302,Baramula,JammuandKashmir
219812,305976,4308359086173950657,2016-05-03 14:14:28,69.207497,34.555302,Baramula,JammuandKashmir
219813,334310,4308359086173950657,2016-05-05 10:14:19,74.396996,34.254299,Baramula,JammuandKashmir
219814,334312,4308359086173950657,2016-05-05 10:14:49,74.396996,34.254299,Baramula,JammuandKashmir
219815,355342,4308359086173950657,2016-05-01 17:31:43,74.396996,34.254299,Baramula,JammuandKashmir
219816,369682,4308359086173950657,2016-05-03 08:10:09,74.396996,34.254299,Baramula,JammuandKashmir
219817,425110,4308359086173950657,2016-05-01 17:34:57,74.396996,34.254299,Baramula,JammuandKashmir
219818,452971,4308359086173950657,2016-05-02 13:56:47,74.396996,34.254299,Baramula,JammuandKashmir
219819,506525,4308359086173950657,2016-05-05 10:50:22,74.396996,34.254299,Baramula,JammuandKashmir
219820,572975,4308359086173950657,2016-05-05 09:38:16,74.396996,34.254299,Baramula,JammuandKashmir
219821,581545,4308359086173950657,2016-05-03 16:52:36,74.396996,34.254299,Baramula,JammuandKashmir
219822,601095,4308359086173950657,2016-05-05 10:09:35,74.396996,34.254299,Baramula,JammuandKashmir
219823,610989,4308359086173950657,2016-05-05 18:15:22,74.396996,34.254299,Baramula,JammuandKashmir
219824,634117,4308359086173950657,2016-05-02 14:06:09,74.396996,34.254299,Baramula,JammuandKashmir
219825,636173,4308359086173950657,2016-05-06 15:49:12,74.396996,34.254299,Baramula,JammuandKashmir
219826,673312,4308359086173950657,2016-05-05 10:06:53,74.396996,34.254299,Baramula,JammuandKashmir
219827,706618,4308359086173950657,2016-05-01 12:43:47,74.396996,34.254299,Baramula,JammuandKashmir
219828,713275,4308359086173950657,2016-05-01 17:32:19,74.396996,34.254299,Baramula,JammuandKashmir
219829,713291,4308359086173950657,2016-05-02 17:26:13,74.396996,34.254299,Baramula,JammuandKashmir
219830,732051,4308359086173950657,2016-05-05 10:05:10,74.396996,34.254299,Baramula,JammuandKashmir
...,...,...,...,...,...,...,...
219879,2344928,4308359086173950657,2016-05-02 17:35:11,74.396996,34.254299,Baramula,JammuandKashmir
219880,2344992,4308359086173950657,2016-05-02 17:26:14,74.396996,34.254299,Baramula,JammuandKashmir
219881,2345059,4308359086173950657,2016-05-02 17:28:19,74.396996,34.254299,Baramula,JammuandKashmir
219882,2373908,4308359086173950657,2016-05-05 18:13:37,74.396996,34.254299,Baramula,JammuandKashmir
219883,2432649,4308359086173950657,2016-05-02 17:36:49,74.396996,34.254299,Baramula,JammuandKashmir
219884,2451101,4308359086173950657,2016-05-01 12:48:13,74.396996,34.254299,Baramula,JammuandKashmir
219885,2479781,4308359086173950657,2016-05-02 14:04:26,74.396996,34.254299,Baramula,JammuandKashmir
219886,2501550,4308359086173950657,2016-05-05 10:13:49,74.396996,34.254299,Baramula,JammuandKashmir
219887,2511504,4308359086173950657,2016-05-05 10:51:04,74.396996,34.254299,Baramula,JammuandKashmir
219888,2611551,4308359086173950657,2016-05-05 10:24:54,74.396996,34.254299,Baramula,JammuandKashmir
219889,2640651,4308359086173950657,2016-05-03 08:11:16,74.396996,34.254299,Baramula,JammuandKashmir
219890,2668188,4308359086173950657,2016-05-01 17:28:17,74.396996,34.254299,Baramula,JammuandKashmir
219891,2723538,4308359086173950657,2016-05-03 12:14:58,74.396996,34.254299,Baramula,JammuandKashmir
219892,2758638,4308359086173950657,2016-05-05 18:14:07,74.396996,34.254299,Baramula,JammuandKashmir
219893,2783475,4308359086173950657,2016-05-01 17:27:20,74.396996,34.254299,Baramula,JammuandKashmir
219894,2805196,4308359086173950657,2016-05-02 14:02:56,74.396996,34.254299,Baramula,JammuandKashmir
219895,2828049,4308359086173950657,2016-05-01 12:47:19,74.396996,34.254299,Baramula,JammuandKashmir
219896,2849682,4308359086173950657,2016-05-05 09:17:27,74.396996,34.254299,Baramula,JammuandKashmir
219897,2861136,4308359086173950657,2016-05-05 18:17:35,74.396996,34.254299,Baramula,JammuandKashmir
219898,2913352,4308359086173950657,2016-05-06 15:49:23,74.396996,34.254299,Baramula,JammuandKashmir
219899,2950100,4308359086173950657,2016-05-01 17:29:05,74.396996,34.254299,Baramula,JammuandKashmir
219900,3000231,4308359086173950657,2016-05-02 14:05:26,74.396996,34.254299,Baramula,JammuandKashmir
219901,3004313,4308359086173950657,2016-05-01 17:35:40,74.396996,34.254299,Baramula,JammuandKashmir
219902,3018708,4308359086173950657,2016-05-03 08:09:40,74.396996,34.254299,Baramula,JammuandKashmir
219903,3066143,4308359086173950657,2016-05-05 10:13:21,74.396996,34.254299,Baramula,JammuandKashmir
219904,3092730,4308359086173950657,2016-05-05 09:16:26,74.396996,34.254299,Baramula,JammuandKashmir
219905,3098502,4308359086173950657,2016-05-03 12:17:57,74.396996,34.254299,Baramula,JammuandKashmir
219906,3147975,4308359086173950657,2016-05-05 18:18:35,74.396996,34.254299,Baramula,JammuandKashmir
219907,3194852,4308359086173950657,2016-05-05 10:15:43,74.396996,34.254299,Baramula,JammuandKashmir
219908,3206653,4308359086173950657,2016-05-02 17:33:27,74.396996,34.254299,Baramula,JammuandKashmir

In [281]:
events_df.latitude.loc[(events_df['device_id']==4308359086173950657)&(events_df['latitude']==34.555302)]=34.254299
events_df.longitude.loc[(events_df['device_id']==4308359086173950657)&(events_df['longitude']==69.207497)]=74.396996

C:\Users\DELL\Anaconda3\lib\site-packages\pandas\core\indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [282]:
events_df.loc[(events_df['device_id']==4308359086173950657)]

,event_id,device_id,timestamp,longitude,latitude,city,state
219801,51415,4308359086173950657,2016-05-01 17:23:36,74.396996,34.254299,Baramula,JammuandKashmir
219802,77143,4308359086173950657,2016-05-05 09:27:29,74.396996,34.254299,Baramula,JammuandKashmir
219803,91228,4308359086173950657,2016-05-06 15:50:22,74.396996,34.254299,Baramula,JammuandKashmir
219804,96772,4308359086173950657,2016-05-03 12:13:43,74.396996,34.254299,Baramula,JammuandKashmir
219805,107295,4308359086173950657,2016-05-01 17:32:49,74.396996,34.254299,Baramula,JammuandKashmir
219806,107309,4308359086173950657,2016-05-02 17:25:06,74.396996,34.254299,Baramula,JammuandKashmir
219807,141740,4308359086173950657,2016-05-05 10:51:04,74.396996,34.254299,Baramula,JammuandKashmir
219808,252077,4308359086173950657,2016-05-01 15:19:00,74.396996,34.254299,Baramula,JammuandKashmir
219809,275643,4308359086173950657,2016-05-05 10:32:04,74.396996,34.254299,Baramula,JammuandKashmir
219810,301194,4308359086173950657,2016-05-05 09:13:46,74.396996,34.254299,Baramula,JammuandKashmir
219811,301195,4308359086173950657,2016-05-05 11:14:16,74.396996,34.254299,Baramula,JammuandKashmir
219812,305976,4308359086173950657,2016-05-03 14:14:28,74.396996,34.254299,Baramula,JammuandKashmir
219813,334310,4308359086173950657,2016-05-05 10:14:19,74.396996,34.254299,Baramula,JammuandKashmir
219814,334312,4308359086173950657,2016-05-05 10:14:49,74.396996,34.254299,Baramula,JammuandKashmir
219815,355342,4308359086173950657,2016-05-01 17:31:43,74.396996,34.254299,Baramula,JammuandKashmir
219816,369682,4308359086173950657,2016-05-03 08:10:09,74.396996,34.254299,Baramula,JammuandKashmir
219817,425110,4308359086173950657,2016-05-01 17:34:57,74.396996,34.254299,Baramula,JammuandKashmir
219818,452971,4308359086173950657,2016-05-02 13:56:47,74.396996,34.254299,Baramula,JammuandKashmir
219819,506525,4308359086173950657,2016-05-05 10:50:22,74.396996,34.254299,Baramula,JammuandKashmir
219820,572975,4308359086173950657,2016-05-05 09:38:16,74.396996,34.254299,Baramula,JammuandKashmir
219821,581545,4308359086173950657,2016-05-03 16:52:36,74.396996,34.254299,Baramula,JammuandKashmir
219822,601095,4308359086173950657,2016-05-05 10:09:35,74.396996,34.254299,Baramula,JammuandKashmir
219823,610989,4308359086173950657,2016-05-05 18:15:22,74.396996,34.254299,Baramula,JammuandKashmir
219824,634117,4308359086173950657,2016-05-02 14:06:09,74.396996,34.254299,Baramula,JammuandKashmir
219825,636173,4308359086173950657,2016-05-06 15:49:12,74.396996,34.254299,Baramula,JammuandKashmir
219826,673312,4308359086173950657,2016-05-05 10:06:53,74.396996,34.254299,Baramula,JammuandKashmir
219827,706618,4308359086173950657,2016-05-01 12:43:47,74.396996,34.254299,Baramula,JammuandKashmir
219828,713275,4308359086173950657,2016-05-01 17:32:19,74.396996,34.254299,Baramula,JammuandKashmir
219829,713291,4308359086173950657,2016-05-02 17:26:13,74.396996,34.254299,Baramula,JammuandKashmir
219830,732051,4308359086173950657,2016-05-05 10:05:10,74.396996,34.254299,Baramula,JammuandKashmir
...,...,...,...,...,...,...,...
219879,2344928,4308359086173950657,2016-05-02 17:35:11,74.396996,34.254299,Baramula,JammuandKashmir
219880,2344992,4308359086173950657,2016-05-02 17:26:14,74.396996,34.254299,Baramula,JammuandKashmir
219881,2345059,4308359086173950657,2016-05-02 17:28:19,74.396996,34.254299,Baramula,JammuandKashmir
219882,2373908,4308359086173950657,2016-05-05 18:13:37,74.396996,34.254299,Baramula,JammuandKashmir
219883,2432649,4308359086173950657,2016-05-02 17:36:49,74.396996,34.254299,Baramula,JammuandKashmir
219884,2451101,4308359086173950657,2016-05-01 12:48:13,74.396996,34.254299,Baramula,JammuandKashmir
219885,2479781,4308359086173950657,2016-05-02 14:04:26,74.396996,34.254299,Baramula,JammuandKashmir
219886,2501550,4308359086173950657,2016-05-05 10:13:49,74.396996,34.254299,Baramula,JammuandKashmir
219887,2511504,4308359086173950657,2016-05-05 10:51:04,74.396996,34.254299,Baramula,JammuandKashmir
219888,2611551,4308359086173950657,2016-05-05 10:24:54,74.396996,34.254299,Baramula,JammuandKashmir
219889,2640651,4308359086173950657,2016-05-03 08:11:16,74.396996,34.254299,Baramula,JammuandKashmir
219890,2668188,4308359086173950657,2016-05-01 17:28:17,74.396996,34.254299,Baramula,JammuandKashmir
219891,2723538,4308359086173950657,2016-05-03 12:14:58,74.396996,34.254299,Baramula,JammuandKashmir
219892,2758638,4308359086173950657,2016-05-05 18:14:07,74.396996,34.254299,Baramula,JammuandKashmir
219893,2783475,4308359086173950657,2016-05-01 17:27:20,74.396996,34.254299,Baramula,JammuandKashmir
219894,2805196,4308359086173950657,2016-05-02 14:02:56,74.396996,34.254299,Baramula,JammuandKashmir
219895,2828049,4308359086173950657,2016-05-01 12:47:19,74.396996,34.254299,Baramula,JammuandKashmir
219896,2849682,4308359086173950657,2016-05-05 09:17:27,74.396996,34.254299,Baramula,JammuandKashmir
219897,2861136,4308359086173950657,2016-05-05 18:17:35,74.396996,34.254299,Baramula,JammuandKashmir
219898,2913352,4308359086173950657,2016-05-06 15:49:23,74.396996,34.254299,Baramula,JammuandKashmir
219899,2950100,4308359086173950657,2016-05-01 17:29:05,74.396996,34.254299,Baramula,JammuandKashmir
219900,3000231,4308359086173950657,2016-05-02 14:05:26,74.396996,34.254299,Baramula,JammuandKashmir
219901,3004313,4308359086173950657,2016-05-01 17:35:40,74.396996,34.254299,Baramula,JammuandKashmir
219902,3018708,4308359086173950657,2016-05-03 08:09:40,74.396996,34.254299,Baramula,JammuandKashmir
219903,3066143,4308359086173950657,2016-05-05 10:13:21,74.396996,34.254299,Baramula,JammuandKashmir
219904,3092730,4308359086173950657,2016-05-05 09:16:26,74.396996,34.254299,Baramula,JammuandKashmir
219905,3098502,4308359086173950657,2016-05-03 12:17:57,74.396996,34.254299,Baramula,JammuandKashmir
219906,3147975,4308359086173950657,2016-05-05 18:18:35,74.396996,34.254299,Baramula,JammuandKashmir
219907,3194852,4308359086173950657,2016-05-05 10:15:43,74.396996,34.254299,Baramula,JammuandKashmir
219908,3206653,4308359086173950657,2016-05-02 17:33:27,74.396996,34.254299,Baramula,JammuandKashmir

In [283]:
events_df.loc[(events_df['latitude']==25.2048)]

,event_id,device_id,timestamp,longitude,latitude,city,state
34639,278502,5449649014959215855,2016-05-04 14:45:21,55.270802,25.2048,Indore,MadhyaPradesh
34642,421421,5449649014959215855,2016-05-02 02:00:37,55.270802,25.2048,Indore,MadhyaPradesh
34643,466814,5449649014959215855,2016-05-03 19:14:18,55.270802,25.2048,Indore,MadhyaPradesh

In [284]:
events_df.loc[(events_df['device_id']==5449649014959215855)]

,event_id,device_id,timestamp,longitude,latitude,city,state
34632,10846,5449649014959215855,2016-05-05 11:01:33,75.949570,22.77602,Indore,MadhyaPradesh
34633,28907,5449649014959215855,2016-05-07 23:25:56,75.949570,22.77602,Indore,MadhyaPradesh
34634,28914,5449649014959215855,2016-05-07 23:43:42,75.949570,22.77602,Indore,MadhyaPradesh
34635,61122,5449649014959215855,2016-05-04 22:00:08,75.949570,22.77602,Indore,MadhyaPradesh
34636,71498,5449649014959215855,2016-05-02 03:20:27,75.949570,22.77602,Indore,MadhyaPradesh
34637,170596,5449649014959215855,2016-05-07 23:28:14,75.949570,22.77602,Indore,MadhyaPradesh
34638,170684,5449649014959215855,2016-05-07 23:44:12,75.949570,22.77602,Indore,MadhyaPradesh
34639,278502,5449649014959215855,2016-05-04 14:45:21,55.270802,25.20480,Indore,MadhyaPradesh
34640,400816,5449649014959215855,2016-05-07 23:46:11,75.949570,22.77602,Indore,MadhyaPradesh
34641,400817,5449649014959215855,2016-05-07 23:46:42,75.949570,22.77602,Indore,MadhyaPradesh
34642,421421,5449649014959215855,2016-05-02 02:00:37,55.270802,25.20480,Indore,MadhyaPradesh
34643,466814,5449649014959215855,2016-05-03 19:14:18,55.270802,25.20480,Indore,MadhyaPradesh
34644,472582,5449649014959215855,2016-05-04 21:16:54,75.949570,22.77602,Indore,MadhyaPradesh
34645,591901,5449649014959215855,2016-05-07 23:51:58,75.949570,22.77602,Indore,MadhyaPradesh
34646,617013,5449649014959215855,2016-05-07 23:35:41,75.949570,22.77602,Indore,MadhyaPradesh
34647,648647,5449649014959215855,2016-05-07 22:05:58,75.949570,22.77602,Indore,MadhyaPradesh
34648,661092,5449649014959215855,2016-05-05 11:46:31,75.949570,22.77602,Indore,MadhyaPradesh
34649,698567,5449649014959215855,2016-05-07 23:43:12,75.949570,22.77602,Indore,MadhyaPradesh
34650,781156,5449649014959215855,2016-05-07 23:45:42,75.949570,22.77602,Indore,MadhyaPradesh
34651,781192,5449649014959215855,2016-05-07 23:45:11,75.949570,22.77602,Indore,MadhyaPradesh
34652,842020,5449649014959215855,2016-05-05 10:13:56,75.949570,22.77602,Indore,MadhyaPradesh
34653,873732,5449649014959215855,2016-05-07 14:05:08,75.949570,22.77602,Indore,MadhyaPradesh
34654,942344,5449649014959215855,2016-05-07 23:52:27,75.949570,22.77602,Indore,MadhyaPradesh
34655,942425,5449649014959215855,2016-05-07 23:33:40,75.949570,22.77602,Indore,MadhyaPradesh
34656,975734,5449649014959215855,2016-05-07 23:41:42,75.949570,22.77602,Indore,MadhyaPradesh
34657,1049076,5449649014959215855,2016-05-05 02:01:06,75.949570,22.77602,Indore,MadhyaPradesh
34658,1189845,5449649014959215855,2016-05-07 22:10:42,75.949570,22.77602,Indore,MadhyaPradesh
34659,1215685,5449649014959215855,2016-05-07 23:50:44,75.949570,22.77602,Indore,MadhyaPradesh
34660,1301001,5449649014959215855,2016-05-07 23:41:12,75.949570,22.77602,Indore,MadhyaPradesh
34661,1301002,5449649014959215855,2016-05-07 23:42:49,75.949570,22.77602,Indore,MadhyaPradesh
...,...,...,...,...,...,...,...
34666,1562101,5449649014959215855,2016-05-07 23:44:42,75.949570,22.77602,Indore,MadhyaPradesh
34667,1566343,5449649014959215855,2016-05-07 22:11:12,75.949570,22.77602,Indore,MadhyaPradesh
34668,1592995,5449649014959215855,2016-05-07 23:31:40,75.949570,22.77602,Indore,MadhyaPradesh
34669,1626394,5449649014959215855,2016-05-07 23:34:41,75.949570,22.77602,Indore,MadhyaPradesh
34670,1631143,5449649014959215855,2016-05-05 00:00:55,75.949570,22.77602,Indore,MadhyaPradesh
34671,1702790,5449649014959215855,2016-05-05 01:06:15,75.949570,22.77602,Indore,MadhyaPradesh
34672,1710632,5449649014959215855,2016-05-05 09:01:56,75.949570,22.77602,Indore,MadhyaPradesh
34673,1789677,5449649014959215855,2016-05-07 23:33:10,75.949570,22.77602,Indore,MadhyaPradesh
34674,1866216,5449649014959215855,2016-05-07 23:50:08,75.949570,22.77602,Indore,MadhyaPradesh
34675,2053326,5449649014959215855,2016-05-05 13:11:23,75.949570,22.77602,Indore,MadhyaPradesh
34676,2065546,5449649014959215855,2016-05-07 23:48:11,75.949570,22.77602,Indore,MadhyaPradesh
34677,2094669,5449649014959215855,2016-05-07 22:10:12,75.949570,22.77602,Indore,MadhyaPradesh
34678,2126742,5449649014959215855,2016-05-05 17:25:06,75.949570,22.77602,Indore,MadhyaPradesh
34679,2136114,5449649014959215855,2016-05-07 22:12:19,75.949570,22.77602,Indore,MadhyaPradesh
34680,2170620,5449649014959215855,2016-05-07 22:08:23,75.949570,22.77602,Indore,MadhyaPradesh
34681,2230813,5449649014959215855,2016-05-05 08:40:17,75.949570,22.77602,Indore,MadhyaPradesh
34682,2253167,5449649014959215855,2016-05-07 23:32:11,75.949570,22.77602,Indore,MadhyaPradesh
34683,2279163,5449649014959215855,2016-05-02 03:15:38,75.949570,22.77602,Indore,MadhyaPradesh
34684,2321372,5449649014959215855,2016-05-02 02:07:44,75.949570,22.77602,Indore,MadhyaPradesh
34685,2382149,5449649014959215855,2016-05-07 23:42:42,75.949570,22.77602,Indore,MadhyaPradesh
34686,2536978,5449649014959215855,2016-05-07 23:39:19,75.949570,22.77602,Indore,MadhyaPradesh
34687,2541986,5449649014959215855,2016-05-07 23:47:12,75.949570,22.77602,Indore,MadhyaPradesh
34688,2541987,5449649014959215855,2016-05-07 23:47:41,75.949570,22.77602,Indore,MadhyaPradesh
34689,2556881,5449649014959215855,2016-05-07 14:36:01,75.949570,22.77602,Indore,MadhyaPradesh
34690,2630664,5449649014959215855,2016-05-02 01:01:42,75.949570,22.77602,Indore,MadhyaPradesh
34691,2687033,5449649014959215855,2016-05-04 23:07:26,75.949570,22.77602,Indore,MadhyaPradesh
34692,2768654,5449649014959215855,2016-05-02 02:08:08,75.949570,22.77602,Indore,MadhyaPradesh
34693,2894313,5449649014959215855,2016-05-07 23:34:06,75.949570,22.77602,Indore,MadhyaPradesh
34694,3128677,5449649014959215855,2016-05-07 23:30:42,75.949570,22.77602,Indore,MadhyaPradesh
34695,3219512,5449649014959215855,2016-05-07 23:33:29,75.949570,22.77602,Indore,MadhyaPradesh

In [285]:
events_df.latitude.loc[(events_df['device_id']==5449649014959215855)& (events_df['latitude']==25.20480)]=22.77602
events_df.longitude.loc[(events_df['device_id']==5449649014959215855)&(events_df['longitude']==55.270802)]=75.949570

C:\Users\DELL\Anaconda3\lib\site-packages\pandas\core\indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [286]:
events_df.loc[(events_df['latitude']==25.20480)]

Empty DataFrame
Columns: [event_id, device_id, timestamp, longitude, latitude, city, state]
Index: []

In [287]:
events_df.loc[(events_df['longitude']==55.270802)]

Empty DataFrame
Columns: [event_id, device_id, timestamp, longitude, latitude, city, state]
Index: []

In [288]:
events_df.loc[(events_df['longitude']==12.5674)]

,event_id,device_id,timestamp,longitude,latitude,city,state
147659,90771,7571353053895193812,2016-05-05 17:54:37,12.5674,41.871899,Indore,MadhyaPradesh
147661,529485,7571353053895193812,2016-05-03 21:15:34,12.5674,41.871899,Indore,MadhyaPradesh
147679,1503469,7571353053895193812,2016-05-03 03:52:13,12.5674,41.871899,Indore,MadhyaPradesh

In [289]:
events_df.loc[(events_df['device_id']==7571353053895193812)]

,event_id,device_id,timestamp,longitude,latitude,city,state
147656,13743,7571353053895193812,2016-05-05 13:01:03,75.939552,22.819349,Indore,MadhyaPradesh
147657,13778,7571353053895193812,2016-05-05 13:33:07,75.939552,22.819349,Indore,MadhyaPradesh
147658,31352,7571353053895193812,2016-05-03 01:59:37,75.939552,22.819349,Indore,MadhyaPradesh
147659,90771,7571353053895193812,2016-05-05 17:54:37,12.567400,41.871899,Indore,MadhyaPradesh
147660,460387,7571353053895193812,2016-05-02 21:01:29,75.939552,22.819349,Indore,MadhyaPradesh
147661,529485,7571353053895193812,2016-05-03 21:15:34,12.567400,41.871899,Indore,MadhyaPradesh
147662,590686,7571353053895193812,2016-05-07 22:25:19,75.939552,22.819349,Indore,MadhyaPradesh
147663,641868,7571353053895193812,2016-05-01 19:20:16,75.939552,22.819349,Indore,MadhyaPradesh
147664,691410,7571353053895193812,2016-05-04 21:03:44,75.939552,22.819349,Indore,MadhyaPradesh
147665,791656,7571353053895193812,2016-05-02 12:54:05,75.939552,22.819349,Indore,MadhyaPradesh
147666,859170,7571353053895193812,2016-05-05 18:01:24,75.939552,22.819349,Indore,MadhyaPradesh
147667,884502,7571353053895193812,2016-05-05 19:02:52,75.939552,22.819349,Indore,MadhyaPradesh
147668,902257,7571353053895193812,2016-05-06 13:12:17,75.939552,22.819349,Indore,MadhyaPradesh
147669,904469,7571353053895193812,2016-05-04 15:20:01,75.939552,22.819349,Indore,MadhyaPradesh
147670,956560,7571353053895193812,2016-05-03 12:24:15,75.939552,22.819349,Indore,MadhyaPradesh
147671,958116,7571353053895193812,2016-05-03 13:16:22,75.939552,22.819349,Indore,MadhyaPradesh
147672,1161956,7571353053895193812,2016-05-05 21:01:39,75.939552,22.819349,Indore,MadhyaPradesh
147673,1321422,7571353053895193812,2016-05-03 21:08:05,75.939552,22.819349,Indore,MadhyaPradesh
147674,1344506,7571353053895193812,2016-05-07 17:28:47,75.939552,22.819349,Indore,MadhyaPradesh
147675,1364403,7571353053895193812,2016-05-01 10:49:16,75.939552,22.819349,Indore,MadhyaPradesh
147676,1388272,7571353053895193812,2016-05-03 11:26:12,75.939552,22.819349,Indore,MadhyaPradesh
147677,1396731,7571353053895193812,2016-05-02 20:01:25,75.939552,22.819349,Indore,MadhyaPradesh
147678,1399280,7571353053895193812,2016-05-05 20:11:17,75.939552,22.819349,Indore,MadhyaPradesh
147679,1503469,7571353053895193812,2016-05-03 03:52:13,12.567400,41.871899,Indore,MadhyaPradesh
147680,1614355,7571353053895193812,2016-05-01 17:14:31,75.939552,22.819349,Indore,MadhyaPradesh
147681,1651577,7571353053895193812,2016-05-07 16:09:54,75.939552,22.819349,Indore,MadhyaPradesh
147682,1673623,7571353053895193812,2016-05-02 15:21:05,75.939552,22.819349,Indore,MadhyaPradesh
147683,1749013,7571353053895193812,2016-05-04 14:50:44,75.939552,22.819349,Indore,MadhyaPradesh
147684,2026302,7571353053895193812,2016-05-01 15:38:53,75.939552,22.819349,Indore,MadhyaPradesh
147685,2029433,7571353053895193812,2016-05-05 16:58:20,75.939552,22.819349,Indore,MadhyaPradesh
147686,2109868,7571353053895193812,2016-05-06 11:23:03,75.939552,22.819349,Indore,MadhyaPradesh
147687,2198633,7571353053895193812,2016-05-05 23:51:09,75.939552,22.819349,Indore,MadhyaPradesh
147688,2348844,7571353053895193812,2016-05-04 18:30:11,75.939552,22.819349,Indore,MadhyaPradesh
147689,2396445,7571353053895193812,2016-05-02 12:23:58,75.939552,22.819349,Indore,MadhyaPradesh
147690,2406979,7571353053895193812,2016-05-03 17:32:36,75.939552,22.819349,Indore,MadhyaPradesh
147691,2427355,7571353053895193812,2016-05-07 23:21:24,75.939552,22.819349,Indore,MadhyaPradesh
147692,2531456,7571353053895193812,2016-05-04 20:02:48,75.939552,22.819349,Indore,MadhyaPradesh
147693,2665597,7571353053895193812,2016-05-05 16:08:21,75.939552,22.819349,Indore,MadhyaPradesh
147694,2782749,7571353053895193812,2016-05-04 16:33:52,75.939552,22.819349,Indore,MadhyaPradesh
147695,2787831,7571353053895193812,2016-05-03 20:00:38,75.939552,22.819349,Indore,MadhyaPradesh
147696,2811364,7571353053895193812,2016-05-02 19:26:54,75.939552,22.819349,Indore,MadhyaPradesh
147697,2835144,7571353053895193812,2016-05-01 18:20:28,75.939552,22.819349,Indore,MadhyaPradesh
147698,3026414,7571353053895193812,2016-05-01 13:48:58,75.939552,22.819349,Indore,MadhyaPradesh
147699,3030262,7571353053895193812,2016-05-03 16:21:54,75.939552,22.819349,Indore,MadhyaPradesh
147700,3155927,7571353053895193812,2016-05-03 15:13:00,75.939552,22.819349,Indore,MadhyaPradesh
147701,3155993,7571353053895193812,2016-05-01 16:26:14,75.939552,22.819349,Indore,MadhyaPradesh

In [290]:
events_df.latitude.loc[(events_df['device_id']==7571353053895193812)& (events_df['latitude']==41.871899)]=22.819349
events_df.longitude.loc[(events_df['device_id']==7571353053895193812)&(events_df['longitude']==12.5674)]=75.939552

C:\Users\DELL\Anaconda3\lib\site-packages\pandas\core\indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [291]:
events_df.loc[(events_df['longitude']==12.5674)]

Empty DataFrame
Columns: [event_id, device_id, timestamp, longitude, latitude, city, state]
Index: []

In [292]:
events_df.loc[(events_df['latitude']==41.871899)]

Empty DataFrame
Columns: [event_id, device_id, timestamp, longitude, latitude, city, state]
Index: []

### Checking 0's for device_id records and updating records by latitude, longitude values

In [293]:
hh=events_df.loc[(events_df['device_id']==0)]
hh

,event_id,device_id,timestamp,longitude,latitude,city,state
122075,112175,0,2016-05-03 19:29:03,75.936241,22.730848,Indore,MadhyaPradesh
122076,124201,0,2016-05-01 07:39:04,75.936241,22.730848,Indore,MadhyaPradesh
122110,431681,0,2016-05-02 21:37:07,75.936241,22.730848,Indore,MadhyaPradesh
122134,609711,0,2016-05-05 17:37:33,75.936241,22.730848,Indore,MadhyaPradesh
122166,853792,0,2016-05-05 17:35:10,75.936241,22.730848,Indore,MadhyaPradesh
122204,1128361,0,2016-05-03 21:48:36,75.936241,22.730848,Indore,MadhyaPradesh
122216,1201516,0,2016-05-02 12:46:25,75.936241,22.730848,Indore,MadhyaPradesh
122225,1234657,0,2016-05-05 18:40:23,75.936241,22.730848,Indore,MadhyaPradesh
122251,1381670,0,2016-05-04 17:45:06,75.936241,22.730848,Indore,MadhyaPradesh
122262,1470280,0,2016-05-03 07:21:07,75.936241,22.730848,Indore,MadhyaPradesh
122284,1590276,0,2016-05-04 21:51:17,75.936241,22.730848,Indore,MadhyaPradesh
122295,1653938,0,2016-05-05 18:33:50,75.936241,22.730848,Indore,MadhyaPradesh
122339,2057335,0,2016-05-02 17:39:42,75.936241,22.730848,Indore,MadhyaPradesh
122371,2281745,0,2016-05-05 06:58:41,75.936241,22.730848,Indore,MadhyaPradesh
122439,2853629,0,2016-05-02 12:56:25,75.936241,22.730848,Indore,MadhyaPradesh
122467,3055646,0,2016-05-05 07:00:44,75.936241,22.730848,Indore,MadhyaPradesh
122492,3202269,0,2016-05-05 18:25:50,75.936241,22.730848,Indore,MadhyaPradesh
124512,31542,0,2016-05-06 02:20:46,75.874039,22.732832,Indore,MadhyaPradesh
124513,65772,0,2016-05-04 03:27:51,75.874039,22.732832,Indore,MadhyaPradesh
124515,67990,0,2016-05-01 04:10:05,75.874039,22.732832,Indore,MadhyaPradesh
124517,71812,0,2016-05-01 04:23:26,75.874039,22.732832,Indore,MadhyaPradesh
124547,379757,0,2016-05-01 16:05:33,75.874039,22.732832,Indore,MadhyaPradesh
124548,380234,0,2016-05-04 16:46:41,75.874039,22.732832,Indore,MadhyaPradesh
124559,454106,0,2016-05-01 15:11:10,75.874039,22.732832,Indore,MadhyaPradesh
124571,580073,0,2016-05-01 15:10:00,75.874039,22.732832,Indore,MadhyaPradesh
124603,825232,0,2016-05-04 19:04:03,75.874039,22.732832,Indore,MadhyaPradesh
124618,951340,0,2016-05-03 09:21:47,75.874039,22.732832,Indore,MadhyaPradesh
124641,1122111,0,2016-05-02 16:37:41,75.874039,22.732832,Indore,MadhyaPradesh
124653,1230576,0,2016-05-01 15:08:55,75.874039,22.732832,Indore,MadhyaPradesh
124662,1270934,0,2016-05-06 04:40:39,75.874039,22.732832,Indore,MadhyaPradesh
...,...,...,...,...,...,...,...
124776,2095418,0,2016-05-04 23:10:16,75.874039,22.732832,Indore,MadhyaPradesh
124808,2313633,0,2016-05-01 04:17:25,75.874039,22.732832,Indore,MadhyaPradesh
124822,2387824,0,2016-05-01 07:08:59,75.874039,22.732832,Indore,MadhyaPradesh
124868,2730839,0,2016-05-01 16:12:49,75.874039,22.732832,Indore,MadhyaPradesh
124876,2779222,0,2016-05-02 13:09:59,75.874039,22.732832,Indore,MadhyaPradesh
124904,2998820,0,2016-05-02 13:06:01,75.874039,22.732832,Indore,MadhyaPradesh
124929,3130540,0,2016-05-03 04:03:03,75.874039,22.732832,Indore,MadhyaPradesh
140268,46858,0,2016-05-02 14:19:46,75.878548,22.796810,Indore,MadhyaPradesh
140269,51571,0,2016-05-02 17:10:04,75.878548,22.796810,Indore,MadhyaPradesh
140273,65763,0,2016-05-04 00:24:27,75.878548,22.796810,Indore,MadhyaPradesh
140303,273445,0,2016-05-02 10:00:23,75.878548,22.796810,Indore,MadhyaPradesh
140304,275847,0,2016-05-06 09:57:54,75.878548,22.796810,Indore,MadhyaPradesh
140315,318518,0,2016-05-02 20:07:27,75.878548,22.796810,Indore,MadhyaPradesh
140327,383825,0,2016-05-04 19:55:59,75.878548,22.796810,Indore,MadhyaPradesh
140359,712369,0,2016-05-04 16:06:02,75.878548,22.796810,Indore,MadhyaPradesh
140374,860202,0,2016-05-03 07:55:09,75.878548,22.796810,Indore,MadhyaPradesh
140397,994689,0,2016-05-01 19:07:50,75.878548,22.796810,Indore,MadhyaPradesh
140409,1058021,0,2016-05-04 08:15:15,75.878548,22.796810,Indore,MadhyaPradesh
140418,1095908,0,2016-05-03 17:19:18,75.878548,22.796810,Indore,MadhyaPradesh
140444,1320924,0,2016-05-05 20:49:38,75.878548,22.796810,Indore,MadhyaPradesh
140455,1428252,0,2016-05-01 15:09:04,75.878548,22.796810,Indore,MadhyaPradesh
140477,1634045,0,2016-05-06 07:47:29,75.878548,22.796810,Indore,MadhyaPradesh
140488,1686745,0,2016-05-03 15:34:02,75.878548,22.796810,Indore,MadhyaPradesh
140493,1721458,0,2016-05-01 16:16:20,75.878548,22.796810,Indore,MadhyaPradesh
140532,2107526,0,2016-05-03 10:45:39,75.878548,22.796810,Indore,MadhyaPradesh
140564,2310840,0,2016-05-02 10:36:59,75.878548,22.796810,Indore,MadhyaPradesh
140578,2395360,0,2016-05-05 11:55:19,75.878548,22.796810,Indore,MadhyaPradesh
140632,2773949,0,2016-05-05 09:38:40,75.878548,22.796810,Indore,MadhyaPradesh
140660,2984916,0,2016-05-03 23:17:32,75.878548,22.796810,Indore,MadhyaPradesh
140685,3175995,0,2016-05-01 13:39:05,75.878548,22.796810,Indore,MadhyaPradesh

In [294]:
hh.latitude.unique()

array([22.730848, 22.732832, 22.79681 ])

In [295]:
hh.count()

event_id     67
device_id    67
timestamp    67
longitude    67
latitude     67
city         67
state        67
dtype: int64

In [296]:
aa=events_df.loc[(events_df['latitude']==22.732832)]
aa

,event_id,device_id,timestamp,longitude,latitude,city,state
124505,13136,-651897877532458806,2016-05-02 13:56:40,75.874039,22.732832,Indore,MadhyaPradesh
124506,13154,-651897877532458806,2016-05-02 13:10:20,75.874039,22.732832,Indore,MadhyaPradesh
124507,15642,-651897877532458806,2016-05-07 14:37:11,75.874039,22.732832,Indore,MadhyaPradesh
124508,15860,-651897877532458806,2016-05-01 15:53:40,75.874039,22.732832,Indore,MadhyaPradesh
124509,17148,-651897877532458806,2016-05-01 16:09:07,75.874039,22.732832,Indore,MadhyaPradesh
124510,21080,-651897877532458806,2016-05-07 18:33:48,75.874039,22.732832,Indore,MadhyaPradesh
124511,21120,-651897877532458806,2016-05-07 18:34:19,75.874039,22.732832,Indore,MadhyaPradesh
124512,31542,0,2016-05-06 02:20:46,75.874039,22.732832,Indore,MadhyaPradesh
124513,65772,0,2016-05-04 03:27:51,75.874039,22.732832,Indore,MadhyaPradesh
124514,67057,-651897877532458806,2016-05-01 02:21:02,75.874039,22.732832,Indore,MadhyaPradesh
124515,67990,0,2016-05-01 04:10:05,75.874039,22.732832,Indore,MadhyaPradesh
124516,70116,-651897877532458806,2016-05-06 00:18:25,75.874039,22.732832,Indore,MadhyaPradesh
124517,71812,0,2016-05-01 04:23:26,75.874039,22.732832,Indore,MadhyaPradesh
124518,71813,-651897877532458806,2016-05-01 04:22:49,75.874039,22.732832,Indore,MadhyaPradesh
124519,72057,-651897877532458806,2016-05-06 04:45:36,75.874039,22.732832,Indore,MadhyaPradesh
124520,101061,-651897877532458806,2016-05-01 14:53:23,75.874039,22.732832,Indore,MadhyaPradesh
124521,114590,-651897877532458806,2016-05-02 20:35:04,75.874039,22.732832,Indore,MadhyaPradesh
124522,122255,-651897877532458806,2016-05-01 04:22:13,75.874039,22.732832,Indore,MadhyaPradesh
124523,129132,-651897877532458806,2016-05-07 10:18:34,75.874039,22.732832,Indore,MadhyaPradesh
124524,131663,-651897877532458806,2016-05-06 12:38:08,75.874039,22.732832,Indore,MadhyaPradesh
124525,138383,-651897877532458806,2016-05-03 17:58:39,75.874039,22.732832,Indore,MadhyaPradesh
124526,152427,-651897877532458806,2016-05-04 14:04:17,75.874039,22.732832,Indore,MadhyaPradesh
124527,159059,-651897877532458806,2016-05-03 20:35:17,75.874039,22.732832,Indore,MadhyaPradesh
124528,171012,-651897877532458806,2016-05-03 09:02:04,75.874039,22.732832,Indore,MadhyaPradesh
124529,216608,-651897877532458806,2016-05-03 04:06:26,75.874039,22.732832,Indore,MadhyaPradesh
124530,241521,-651897877532458806,2016-05-03 02:24:05,75.874039,22.732832,Indore,MadhyaPradesh
124531,242295,-651897877532458806,2016-05-01 04:25:43,75.874039,22.732832,Indore,MadhyaPradesh
124532,245825,-651897877532458806,2016-05-03 08:07:01,75.874039,22.732832,Indore,MadhyaPradesh
124533,263269,-651897877532458806,2016-05-04 21:10:04,75.874039,22.732832,Indore,MadhyaPradesh
124534,277428,-651897877532458806,2016-05-06 11:14:28,75.874039,22.732832,Indore,MadhyaPradesh
...,...,...,...,...,...,...,...
124913,3059242,-651897877532458806,2016-05-07 09:07:39,75.874039,22.732832,Indore,MadhyaPradesh
124914,3066861,-651897877532458806,2016-05-01 14:32:06,75.874039,22.732832,Indore,MadhyaPradesh
124915,3067051,-651897877532458806,2016-05-02 14:08:16,75.874039,22.732832,Indore,MadhyaPradesh
124916,3070489,-651897877532458806,2016-05-05 16:39:41,75.874039,22.732832,Indore,MadhyaPradesh
124917,3070934,-651897877532458806,2016-05-01 17:47:59,75.874039,22.732832,Indore,MadhyaPradesh
124918,3076555,-651897877532458806,2016-05-05 20:40:17,75.874039,22.732832,Indore,MadhyaPradesh
124919,3088071,-651897877532458806,2016-05-01 04:09:32,75.874039,22.732832,Indore,MadhyaPradesh
124920,3088416,-651897877532458806,2016-05-07 04:12:09,75.874039,22.732832,Indore,MadhyaPradesh
124921,3088428,-651897877532458806,2016-05-01 05:03:02,75.874039,22.732832,Indore,MadhyaPradesh
124922,3088554,-651897877532458806,2016-05-03 05:11:05,75.874039,22.732832,Indore,MadhyaPradesh
124923,3093571,-651897877532458806,2016-05-01 04:17:40,75.874039,22.732832,Indore,MadhyaPradesh
124924,3093572,-651897877532458806,2016-05-01 04:17:22,75.874039,22.732832,Indore,MadhyaPradesh
124925,3098293,-651897877532458806,2016-05-03 05:10:11,75.874039,22.732832,Indore,MadhyaPradesh
124926,3110671,-651897877532458806,2016-05-03 09:21:21,75.874039,22.732832,Indore,MadhyaPradesh
124927,3113804,-651897877532458806,2016-05-02 12:31:47,75.874039,22.732832,Indore,MadhyaPradesh
124928,3117116,-651897877532458806,2016-05-02 18:00:55,75.874039,22.732832,Indore,MadhyaPradesh
124929,3130540,0,2016-05-03 04:03:03,75.874039,22.732832,Indore,MadhyaPradesh
124930,3139632,-651897877532458806,2016-05-05 14:01:00,75.874039,22.732832,Indore,MadhyaPradesh
124931,3148258,-651897877532458806,2016-05-06 11:37:02,75.874039,22.732832,Indore,MadhyaPradesh
124932,3156487,-651897877532458806,2016-05-02 16:14:27,75.874039,22.732832,Indore,MadhyaPradesh
124933,3164034,-651897877532458806,2016-05-04 18:10:56,75.874039,22.732832,Indore,MadhyaPradesh
124934,3175111,-651897877532458806,2016-05-04 17:10:21,75.874039,22.732832,Indore,MadhyaPradesh
124935,3176390,-651897877532458806,2016-05-02 13:05:20,75.874039,22.732832,Indore,MadhyaPradesh
124936,3182091,-651897877532458806,2016-05-03 14:14:04,75.874039,22.732832,Indore,MadhyaPradesh
124937,3182414,-651897877532458806,2016-05-01 07:07:48,75.874039,22.732832,Indore,MadhyaPradesh
124938,3186056,-651897877532458806,2016-05-04 21:22:14,75.874039,22.732832,Indore,MadhyaPradesh
124939,3187428,-651897877532458806,2016-05-03 08:17:30,75.874039,22.732832,Indore,MadhyaPradesh
124940,3195933,-651897877532458806,2016-05-01 11:16:46,75.874039,22.732832,Indore,MadhyaPradesh
124941,3224639,-651897877532458806,2016-05-06 06:41:35,75.874039,22.732832,Indore,MadhyaPradesh
124942,3250577,-651897877532458806,2016-05-04 22:51:51,75.874039,22.732832,Indore,MadhyaPradesh

In [297]:
aa.latitude.unique()

array([22.732832])

In [298]:
events_df.device_id.loc[(events_df['device_id']==0)&(events_df['latitude']==22.732832)]=-651897877532458806

C:\Users\DELL\Anaconda3\lib\site-packages\pandas\core\indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [299]:
events_df.loc[(events_df['latitude']==22.730848)]

,event_id,device_id,timestamp,longitude,latitude,city,state
122068,13094,-1545636384427296125,2016-05-02 12:58:01,75.936241,22.730848,Indore,MadhyaPradesh
122069,16683,-1545636384427296125,2016-05-05 15:31:02,75.936241,22.730848,Indore,MadhyaPradesh
122070,24665,-1545636384427296125,2016-05-02 21:41:01,75.936241,22.730848,Indore,MadhyaPradesh
122071,35854,-1545636384427296125,2016-05-07 07:23:33,75.936241,22.730848,Indore,MadhyaPradesh
122072,60064,-1545636384427296125,2016-05-07 21:18:55,75.936241,22.730848,Indore,MadhyaPradesh
122073,80892,-1545636384427296125,2016-05-02 12:48:19,75.936241,22.730848,Indore,MadhyaPradesh
122074,80893,-1545636384427296125,2016-05-02 12:52:56,75.936241,22.730848,Indore,MadhyaPradesh
122075,112175,0,2016-05-03 19:29:03,75.936241,22.730848,Indore,MadhyaPradesh
122076,124201,0,2016-05-01 07:39:04,75.936241,22.730848,Indore,MadhyaPradesh
122077,129317,-1545636384427296125,2016-05-01 11:39:57,75.936241,22.730848,Indore,MadhyaPradesh
122078,144675,-1545636384427296125,2016-05-05 20:26:53,75.936241,22.730848,Indore,MadhyaPradesh
122079,147068,-1545636384427296125,2016-05-02 12:54:31,75.936241,22.730848,Indore,MadhyaPradesh
122080,153988,-1545636384427296125,2016-05-05 15:34:02,75.936241,22.730848,Indore,MadhyaPradesh
122081,155453,-1545636384427296125,2016-05-02 17:39:16,75.936241,22.730848,Indore,MadhyaPradesh
122082,155528,-1545636384427296125,2016-05-02 17:47:46,75.936241,22.730848,Indore,MadhyaPradesh
122083,187826,-1545636384427296125,2016-05-02 21:55:29,75.936241,22.730848,Indore,MadhyaPradesh
122084,187988,-1545636384427296125,2016-05-02 21:48:31,75.936241,22.730848,Indore,MadhyaPradesh
122085,199440,-1545636384427296125,2016-05-01 11:22:17,75.936241,22.730848,Indore,MadhyaPradesh
122086,205325,-1545636384427296125,2016-05-05 15:33:32,75.936241,22.730848,Indore,MadhyaPradesh
122087,232471,-1545636384427296125,2016-05-05 18:32:50,75.936241,22.730848,Indore,MadhyaPradesh
122088,249004,-1545636384427296125,2016-05-06 10:42:23,75.936241,22.730848,Indore,MadhyaPradesh
122089,254195,-1545636384427296125,2016-05-05 14:27:37,75.936241,22.730848,Indore,MadhyaPradesh
122090,269098,-1545636384427296125,2016-05-04 04:27:04,75.936241,22.730848,Indore,MadhyaPradesh
122091,278006,-1545636384427296125,2016-05-02 12:49:26,75.936241,22.730848,Indore,MadhyaPradesh
122092,283914,-1545636384427296125,2016-05-02 17:33:46,75.936241,22.730848,Indore,MadhyaPradesh
122093,287933,-1545636384427296125,2016-05-05 20:20:38,75.936241,22.730848,Indore,MadhyaPradesh
122094,309742,-1545636384427296125,2016-05-06 14:39:35,75.936241,22.730848,Indore,MadhyaPradesh
122095,320206,-1545636384427296125,2016-05-02 21:43:49,75.936241,22.730848,Indore,MadhyaPradesh
122096,358926,-1545636384427296125,2016-05-03 19:44:47,75.936241,22.730848,Indore,MadhyaPradesh
122097,362681,-1545636384427296125,2016-05-02 21:45:02,75.936241,22.730848,Indore,MadhyaPradesh
...,...,...,...,...,...,...,...
122473,3108345,-1545636384427296125,2016-05-05 07:07:28,75.936241,22.730848,Indore,MadhyaPradesh
122474,3115898,-1545636384427296125,2016-05-02 17:36:16,75.936241,22.730848,Indore,MadhyaPradesh
122475,3122344,-1545636384427296125,2016-05-07 20:29:15,75.936241,22.730848,Indore,MadhyaPradesh
122476,3138359,-1545636384427296125,2016-05-05 14:38:08,75.936241,22.730848,Indore,MadhyaPradesh
122477,3144675,-1545636384427296125,2016-05-02 17:35:16,75.936241,22.730848,Indore,MadhyaPradesh
122478,3158128,-1545636384427296125,2016-05-03 21:48:06,75.936241,22.730848,Indore,MadhyaPradesh
122479,3161839,-1545636384427296125,2016-05-05 17:40:08,75.936241,22.730848,Indore,MadhyaPradesh
122480,3164403,-1545636384427296125,2016-05-05 18:33:19,75.936241,22.730848,Indore,MadhyaPradesh
122481,3171557,-1545636384427296125,2016-05-04 12:43:03,75.936241,22.730848,Indore,MadhyaPradesh
122482,3171559,-1545636384427296125,2016-05-04 12:44:12,75.936241,22.730848,Indore,MadhyaPradesh
122483,3175280,-1545636384427296125,2016-05-07 12:08:07,75.936241,22.730848,Indore,MadhyaPradesh
122484,3178554,-1545636384427296125,2016-05-05 18:25:47,75.936241,22.730848,Indore,MadhyaPradesh
122485,3180377,-1545636384427296125,2016-05-07 13:04:33,75.936241,22.730848,Indore,MadhyaPradesh
122486,3185558,-1545636384427296125,2016-05-02 21:48:02,75.936241,22.730848,Indore,MadhyaPradesh
122487,3187046,-1545636384427296125,2016-05-05 14:35:36,75.936241,22.730848,Indore,MadhyaPradesh
122488,3187711,-1545636384427296125,2016-05-06 14:39:04,75.936241,22.730848,Indore,MadhyaPradesh
122489,3196508,-1545636384427296125,2016-05-02 17:33:21,75.936241,22.730848,Indore,MadhyaPradesh
122490,3196858,-1545636384427296125,2016-05-02 17:34:16,75.936241,22.730848,Indore,MadhyaPradesh
122491,3198615,-1545636384427296125,2016-05-05 17:32:54,75.936241,22.730848,Indore,MadhyaPradesh
122492,3202269,0,2016-05-05 18:25:50,75.936241,22.730848,Indore,MadhyaPradesh
122493,3207494,-1545636384427296125,2016-05-07 17:35:07,75.936241,22.730848,Indore,MadhyaPradesh
122494,3223800,-1545636384427296125,2016-05-02 06:22:48,75.936241,22.730848,Indore,MadhyaPradesh
122495,3225119,-1545636384427296125,2016-05-02 07:51:25,75.936241,22.730848,Indore,MadhyaPradesh
122496,3226056,-1545636384427296125,2016-05-06 07:16:40,75.936241,22.730848,Indore,MadhyaPradesh
122497,3226058,-1545636384427296125,2016-05-06 07:13:22,75.936241,22.730848,Indore,MadhyaPradesh
122498,3231122,-1545636384427296125,2016-05-06 10:37:55,75.936241,22.730848,Indore,MadhyaPradesh
122499,3235902,-1545636384427296125,2016-05-06 13:51:57,75.936241,22.730848,Indore,MadhyaPradesh
122500,3237301,-1545636384427296125,2016-05-05 14:10:15,75.936241,22.730848,Indore,MadhyaPradesh
122501,3237309,-1545636384427296125,2016-05-05 14:36:26,75.936241,22.730848,Indore,MadhyaPradesh
122502,3248103,-1545636384427296125,2016-05-02 21:53:31,75.936241,22.730848,Indore,MadhyaPradesh

In [300]:
events_df.device_id.loc[(events_df['device_id']==0)&(events_df['latitude']==22.730848)]=-1545636384427296125

C:\Users\DELL\Anaconda3\lib\site-packages\pandas\core\indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [301]:
events_df.loc[(events_df['device_id']==0)]

,event_id,device_id,timestamp,longitude,latitude,city,state
140268,46858,0,2016-05-02 14:19:46,75.878548,22.79681,Indore,MadhyaPradesh
140269,51571,0,2016-05-02 17:10:04,75.878548,22.79681,Indore,MadhyaPradesh
140273,65763,0,2016-05-04 00:24:27,75.878548,22.79681,Indore,MadhyaPradesh
140303,273445,0,2016-05-02 10:00:23,75.878548,22.79681,Indore,MadhyaPradesh
140304,275847,0,2016-05-06 09:57:54,75.878548,22.79681,Indore,MadhyaPradesh
140315,318518,0,2016-05-02 20:07:27,75.878548,22.79681,Indore,MadhyaPradesh
140327,383825,0,2016-05-04 19:55:59,75.878548,22.79681,Indore,MadhyaPradesh
140359,712369,0,2016-05-04 16:06:02,75.878548,22.79681,Indore,MadhyaPradesh
140374,860202,0,2016-05-03 07:55:09,75.878548,22.79681,Indore,MadhyaPradesh
140397,994689,0,2016-05-01 19:07:50,75.878548,22.79681,Indore,MadhyaPradesh
140409,1058021,0,2016-05-04 08:15:15,75.878548,22.79681,Indore,MadhyaPradesh
140418,1095908,0,2016-05-03 17:19:18,75.878548,22.79681,Indore,MadhyaPradesh
140444,1320924,0,2016-05-05 20:49:38,75.878548,22.79681,Indore,MadhyaPradesh
140455,1428252,0,2016-05-01 15:09:04,75.878548,22.79681,Indore,MadhyaPradesh
140477,1634045,0,2016-05-06 07:47:29,75.878548,22.79681,Indore,MadhyaPradesh
140488,1686745,0,2016-05-03 15:34:02,75.878548,22.79681,Indore,MadhyaPradesh
140493,1721458,0,2016-05-01 16:16:20,75.878548,22.79681,Indore,MadhyaPradesh
140532,2107526,0,2016-05-03 10:45:39,75.878548,22.79681,Indore,MadhyaPradesh
140564,2310840,0,2016-05-02 10:36:59,75.878548,22.79681,Indore,MadhyaPradesh
140578,2395360,0,2016-05-05 11:55:19,75.878548,22.79681,Indore,MadhyaPradesh
140632,2773949,0,2016-05-05 09:38:40,75.878548,22.79681,Indore,MadhyaPradesh
140660,2984916,0,2016-05-03 23:17:32,75.878548,22.79681,Indore,MadhyaPradesh
140685,3175995,0,2016-05-01 13:39:05,75.878548,22.79681,Indore,MadhyaPradesh

In [302]:
events_df.loc[(events_df['latitude']==22.79681)]

,event_id,device_id,timestamp,longitude,latitude,city,state
140261,13567,2219981498848654786,2016-05-04 13:05:16,75.878548,22.79681,Indore,MadhyaPradesh
140262,14127,2219981498848654786,2016-05-07 13:25:17,75.878548,22.79681,Indore,MadhyaPradesh
140263,17744,2219981498848654786,2016-05-04 16:30:54,75.878548,22.79681,Indore,MadhyaPradesh
140264,18247,2219981498848654786,2016-05-06 16:49:02,75.878548,22.79681,Indore,MadhyaPradesh
140265,21432,2219981498848654786,2016-05-02 19:36:25,75.878548,22.79681,Indore,MadhyaPradesh
140266,39008,2219981498848654786,2016-05-06 09:28:53,75.878548,22.79681,Indore,MadhyaPradesh
140267,39197,2219981498848654786,2016-05-07 09:41:06,75.878548,22.79681,Indore,MadhyaPradesh
140268,46858,0,2016-05-02 14:19:46,75.878548,22.79681,Indore,MadhyaPradesh
140269,51571,0,2016-05-02 17:10:04,75.878548,22.79681,Indore,MadhyaPradesh
140270,57839,2219981498848654786,2016-05-06 20:49:58,75.878548,22.79681,Indore,MadhyaPradesh
140271,59052,2219981498848654786,2016-05-04 21:09:12,75.878548,22.79681,Indore,MadhyaPradesh
140272,59708,2219981498848654786,2016-05-06 21:07:06,75.878548,22.79681,Indore,MadhyaPradesh
140273,65763,0,2016-05-04 00:24:27,75.878548,22.79681,Indore,MadhyaPradesh
140274,67243,2219981498848654786,2016-05-03 02:01:13,75.878548,22.79681,Indore,MadhyaPradesh
140275,67782,2219981498848654786,2016-05-03 02:58:47,75.878548,22.79681,Indore,MadhyaPradesh
140276,68684,2219981498848654786,2016-05-05 05:00:05,75.878548,22.79681,Indore,MadhyaPradesh
140277,84952,2219981498848654786,2016-05-02 08:48:36,75.878548,22.79681,Indore,MadhyaPradesh
140278,86381,2219981498848654786,2016-05-07 13:51:09,75.878548,22.79681,Indore,MadhyaPradesh
140279,101172,2219981498848654786,2016-05-02 19:08:34,75.878548,22.79681,Indore,MadhyaPradesh
140280,101391,2219981498848654786,2016-05-02 14:01:19,75.878548,22.79681,Indore,MadhyaPradesh
140281,120776,2219981498848654786,2016-05-06 00:21:54,75.878548,22.79681,Indore,MadhyaPradesh
140282,131187,2219981498848654786,2016-05-04 12:48:17,75.878548,22.79681,Indore,MadhyaPradesh
140283,139744,2219981498848654786,2016-05-05 09:53:48,75.878548,22.79681,Indore,MadhyaPradesh
140284,149307,2219981498848654786,2016-05-01 22:56:45,75.878548,22.79681,Indore,MadhyaPradesh
140285,158164,2219981498848654786,2016-05-06 19:10:20,75.878548,22.79681,Indore,MadhyaPradesh
140286,170809,2219981498848654786,2016-05-02 09:12:19,75.878548,22.79681,Indore,MadhyaPradesh
140287,194635,2219981498848654786,2016-05-07 23:00:03,75.878548,22.79681,Indore,MadhyaPradesh
140288,226485,2219981498848654786,2016-05-06 13:20:29,75.878548,22.79681,Indore,MadhyaPradesh
140289,228715,2219981498848654786,2016-05-04 15:00:23,75.878548,22.79681,Indore,MadhyaPradesh
140290,232829,2219981498848654786,2016-05-07 18:33:47,75.878548,22.79681,Indore,MadhyaPradesh
...,...,...,...,...,...,...,...
140667,3032204,2219981498848654786,2016-05-02 18:15:09,75.878548,22.79681,Indore,MadhyaPradesh
140668,3034514,2219981498848654786,2016-05-06 19:18:37,75.878548,22.79681,Indore,MadhyaPradesh
140669,3036256,2219981498848654786,2016-05-07 20:09:00,75.878548,22.79681,Indore,MadhyaPradesh
140670,3048878,2219981498848654786,2016-05-05 08:43:01,75.878548,22.79681,Indore,MadhyaPradesh
140671,3060212,2219981498848654786,2016-05-04 10:30:48,75.878548,22.79681,Indore,MadhyaPradesh
140672,3074226,2219981498848654786,2016-05-03 19:45:31,75.878548,22.79681,Indore,MadhyaPradesh
140673,3075270,2219981498848654786,2016-05-01 00:25:13,75.878548,22.79681,Indore,MadhyaPradesh
140674,3077605,2219981498848654786,2016-05-02 21:45:51,75.878548,22.79681,Indore,MadhyaPradesh
140675,3083629,2219981498848654786,2016-05-06 23:42:00,75.878548,22.79681,Indore,MadhyaPradesh
140676,3086336,2219981498848654786,2016-05-07 02:36:00,75.878548,22.79681,Indore,MadhyaPradesh
140677,3094513,2219981498848654786,2016-05-01 10:11:16,75.878548,22.79681,Indore,MadhyaPradesh
140678,3098813,2219981498848654786,2016-05-05 12:00:39,75.878548,22.79681,Indore,MadhyaPradesh
140679,3107054,2219981498848654786,2016-05-05 10:28:25,75.878548,22.79681,Indore,MadhyaPradesh
140680,3108223,2219981498848654786,2016-05-02 12:10:34,75.878548,22.79681,Indore,MadhyaPradesh
140681,3116995,2219981498848654786,2016-05-01 18:06:31,75.878548,22.79681,Indore,MadhyaPradesh
140682,3147270,2219981498848654786,2016-05-03 11:01:54,75.878548,22.79681,Indore,MadhyaPradesh
140683,3169974,2219981498848654786,2016-05-06 16:03:30,75.878548,22.79681,Indore,MadhyaPradesh
140684,3172493,2219981498848654786,2016-05-03 23:04:11,75.878548,22.79681,Indore,MadhyaPradesh
140685,3175995,0,2016-05-01 13:39:05,75.878548,22.79681,Indore,MadhyaPradesh
140686,3178863,2219981498848654786,2016-05-01 05:27:48,75.878548,22.79681,Indore,MadhyaPradesh
140687,3184338,2219981498848654786,2016-05-06 20:17:39,75.878548,22.79681,Indore,MadhyaPradesh
140688,3206150,2219981498848654786,2016-05-04 16:40:56,75.878548,22.79681,Indore,MadhyaPradesh
140689,3211310,2219981498848654786,2016-05-03 20:25:39,75.878548,22.79681,Indore,MadhyaPradesh
140690,3211457,2219981498848654786,2016-05-04 20:46:31,75.878548,22.79681,Indore,MadhyaPradesh
140691,3213852,2219981498848654786,2016-05-01 21:59:28,75.878548,22.79681,Indore,MadhyaPradesh
140692,3220167,2219981498848654786,2016-05-04 00:32:51,75.878548,22.79681,Indore,MadhyaPradesh
140693,3235488,2219981498848654786,2016-05-04 13:10:54,75.878548,22.79681,Indore,MadhyaPradesh
140694,3239445,2219981498848654786,2016-05-03 16:49:39,75.878548,22.79681,Indore,MadhyaPradesh
140695,3246726,2219981498848654786,2016-05-04 20:03:30,75.878548,22.79681,Indore,MadhyaPradesh
140696,3247587,2219981498848654786,2016-05-07 20:43:37,75.878548,22.79681,Indore,MadhyaPradesh

In [303]:
events_df.device_id.loc[(events_df['device_id']==0)&(events_df['latitude']==22.79681)]=2219981498848654786

C:\Users\DELL\Anaconda3\lib\site-packages\pandas\core\indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [304]:
events_df.loc[(events_df['device_id']==0)]

Empty DataFrame
Columns: [event_id, device_id, timestamp, longitude, latitude, city, state]
Index: []

In [305]:
events_df

,event_id,device_id,timestamp,longitude,latitude,city,state
138,460124,-8516174944156742424,2016-05-01 21:30:10,78.062973,30.414165,DehraDun,Uttaranchal
139,595629,-8516174944156742424,2016-05-05 06:32:31,78.062973,30.414165,DehraDun,Uttaranchal
140,614530,-8516174944156742424,2016-05-04 21:33:50,78.062973,30.414165,DehraDun,Uttaranchal
141,680016,-8516174944156742424,2016-05-04 14:01:46,78.062973,30.414165,DehraDun,Uttaranchal
142,751485,-8516174944156742424,2016-05-03 19:22:21,78.062973,30.414165,DehraDun,Uttaranchal
143,868476,-8516174944156742424,2016-05-01 13:45:40,78.062973,30.414165,DehraDun,Uttaranchal
144,979837,-8516174944156742424,2016-05-01 06:59:00,78.062973,30.414165,DehraDun,Uttaranchal
145,1369496,-8516174944156742424,2016-05-07 12:51:04,78.062973,30.414165,DehraDun,Uttaranchal
146,1488420,-8516174944156742424,2016-05-06 21:02:54,78.062973,30.414165,DehraDun,Uttaranchal
147,1756400,-8516174944156742424,2016-05-04 20:47:33,78.062973,30.414165,DehraDun,Uttaranchal
148,1875309,-8516174944156742424,2016-05-04 01:54:25,78.062973,30.414165,DehraDun,Uttaranchal
149,2044076,-8516174944156742424,2016-05-03 06:54:10,78.062973,30.414165,DehraDun,Uttaranchal
150,2058749,-8516174944156742424,2016-05-03 18:42:39,78.062973,30.414165,DehraDun,Uttaranchal
151,2401738,-8516174944156742424,2016-05-04 14:58:41,78.062973,30.414165,DehraDun,Uttaranchal
152,2424640,-8516174944156742424,2016-05-01 23:38:02,78.062973,30.414165,DehraDun,Uttaranchal
153,2552799,-8516174944156742424,2016-05-07 11:42:43,78.062973,30.414165,DehraDun,Uttaranchal
154,2622600,-8516174944156742424,2016-05-03 19:00:46,78.062973,30.414165,DehraDun,Uttaranchal
155,2845315,-8516174944156742424,2016-05-07 05:40:00,78.062973,30.414165,DehraDun,Uttaranchal
156,2872571,-8516174944156742424,2016-05-05 06:57:04,78.062973,30.414165,DehraDun,Uttaranchal
157,2932903,-8516174944156742424,2016-05-06 06:22:59,78.062973,30.414165,DehraDun,Uttaranchal
158,3219792,-8516174944156742424,2016-05-02 00:23:43,78.062973,30.414165,DehraDun,Uttaranchal
159,401815,-609654747637122070,2016-05-05 02:29:10,75.903046,22.817104,Indore,MadhyaPradesh
160,682317,-609654747637122070,2016-05-01 16:34:11,75.903046,22.817104,Indore,MadhyaPradesh
161,697724,-609654747637122070,2016-05-02 04:34:03,75.903046,22.817104,Indore,MadhyaPradesh
162,850878,-609654747637122070,2016-05-01 16:06:00,75.903046,22.817104,Indore,MadhyaPradesh
163,860640,-609654747637122070,2016-05-04 07:13:07,75.903046,22.817104,Indore,MadhyaPradesh
164,906157,-609654747637122070,2016-05-07 16:40:39,75.903046,22.817104,Indore,MadhyaPradesh
165,1048396,-609654747637122070,2016-05-07 00:58:27,75.903046,22.817104,Indore,MadhyaPradesh
166,1164135,-609654747637122070,2016-05-06 21:56:23,75.903046,22.817104,Indore,MadhyaPradesh
167,1723657,-609654747637122070,2016-05-02 17:06:26,75.903046,22.817104,Indore,MadhyaPradesh
...,...,...,...,...,...,...,...
261337,1549000,-33330392351718888,2016-05-06 12:13:04,75.188576,33.749657,Anantnag,JammuandKashmir
261338,1563107,-33330392351718888,2016-05-04 20:56:13,75.188576,33.749657,Anantnag,JammuandKashmir
261339,2499504,-33330392351718888,2016-05-02 09:31:03,75.188576,33.749657,Anantnag,JammuandKashmir
261340,2499574,-33330392351718888,2016-05-03 09:07:29,75.188576,33.749657,Anantnag,JammuandKashmir
261341,2654399,-33330392351718888,2016-05-06 12:22:47,75.188576,33.749657,Anantnag,JammuandKashmir
261342,2675161,-33330392351718888,2016-05-02 19:00:39,75.188576,33.749657,Anantnag,JammuandKashmir
261343,2775404,-33330392351718888,2016-05-05 10:55:49,75.188576,33.749657,Anantnag,JammuandKashmir
261344,2875034,-33330392351718888,2016-05-04 09:26:35,75.188576,33.749657,Anantnag,JammuandKashmir
261345,3113299,-33330392351718888,2016-05-06 11:55:19,75.188576,33.749657,Anantnag,JammuandKashmir
261346,3238692,-33330392351718888,2016-05-06 15:24:38,75.188576,33.749657,Anantnag,JammuandKashmir
261347,433505,86545072308515168,2016-05-04 22:28:22,75.640419,21.905979,Khargone,MadhyaPradesh
261348,2362054,86545072308515168,2016-05-04 22:28:22,75.640419,21.905979,Khargone,MadhyaPradesh
261349,2749440,86545072308515168,2016-05-04 22:28:22,75.640419,21.905979,Khargone,MadhyaPradesh
261350,3162701,86545072308515168,2016-05-04 22:28:22,75.640419,21.905979,Khargone,MadhyaPradesh
261351,626918,-3451787762860180480,2016-05-07 09:17:12,74.963799,24.537876,Nimach,MadhyaPradesh
261352,952200,-3451787762860180480,2016-05-07 09:12:35,74.963799,24.537876,Nimach,MadhyaPradesh
261353,1173628,-3451787762860180480,2016-05-07 09:13:19,74.963799,24.537876,Nimach,MadhyaPradesh
261354,1173629,-3451787762860180480,2016-05-07 09:13:48,74.963799,24.537876,Nimach,MadhyaPradesh
261355,2039749,-3451787762860180480,2016-05-07 09:12:58,74.963799,24.537876,Nimach,MadhyaPradesh
261356,2039750,-3451787762860180480,2016-05-07 09:13:21,74.963799,24.537876,Nimach,MadhyaPradesh
261357,2077741,-3451787762860180480,2016-05-07 09:10:01,74.963799,24.537876,Nimach,MadhyaPradesh
261358,876836,279977215790062560,2016-05-02 16:17:08,82.704094,22.440439,Korba,Chhattisgarh
261359,1049218,49322038839767680,2016-05-07 02:10:36,82.422501,23.224663,Chirmiri,Chhattisgarh
261360,1217526,18082780531730808,2016-05-03 03:46:04,93.824989,25.946121,Dimapur,Nagaland
261361,1628580,18082780531730808,2016-05-03 03:47:34,93.824989,25.946121,Dimapur,Nagaland
261362,2184400,18082780531730808,2016-05-01 13:22:52,93.824989,25.946121,Dimapur,Nagaland
261363,2255364,18082780531730808,2016-05-03 03:46:34,93.824989,25.946121,Dimapur,Nagaland
261364,2412913,18082780531730808,2016-05-03 03:51:00,93.824989,25.946121,Dimapur,Nagaland
261365,1296917,3462086997309544,2016-05-05 20:56:45,94.190186,25.728123,Kohima,Nagaland
261366,2659733,3462086997309544,2016-05-05 14:14:24,94.190186,25.728123,Kohima,Nagaland

Here, we have shape of events_df after cleansing is __261182__ rows and __7__ columns

In [306]:
nans = lambda events_df: events_df[events_df.isnull().any(axis=1)]
nans

In [307]:
tester=nans(events_df)
tester

Empty DataFrame
Columns: [event_id, device_id, timestamp, longitude, latitude, city, state]
Index: []

### Converting gender_age SQL table to Dataframe

In [308]:
gender_age_df=pd.read_sql_query("select * from gender_age_train",db)

In [309]:
gender_age_df

                 device_id gender  age   group
0     -8076087639492063270      M   35  M32-38
1     -2897161552818060146      M   35  M32-38
2     -8260683887967679142      M   35  M32-38
3     -4938849341048082022      M   30  M29-31
4       245133531816851882      M   30  M29-31
5     -1297074871525174196      F   24  F24-26
6       236877999787307864      M   36  M32-38
7     -8098239495777311881      M   38  M32-38
8       176515041953473526      M   33  M32-38
9      1596610250680140042      F   36  F33-42
10     9032155484127182494      M   31  M29-31
11     7477216237379271436      F   37  F33-42
12     2478205222798310601      F   28  F27-28
13     6352067998666467520      M   32  M32-38
14    -7605360767281960867      M   48    M39+
15     1508636020748379883      F   28  F27-28
16     4380872794486415327      M   38  M32-38
17    -1039701474753771322      M   38  M32-38
18    -6876541075223249434      M   75    M39+
19     6287938418661076759      M   33  M32-38
20    -6029676723224952628      F   39  F33-42
21     8026504930081700361      M   25  M23-26
22     1118970699362079126      M   24  M23-26
23    -7271319853104672050      M   27  M27-28
24    -9216966316587614491      M   29  M29-31
25    -4913644674161904021      M   34  M32-38
26     2313145512701915151      M   34  M32-38
27     4309468945717577632      F   36  F33-42
28    -4547337748907986143      M   37  M32-38
29    -7216269352973401877      M   37  M32-38
...                    ...    ...  ...     ...
74615  7826033719277536366      M   28  M27-28
74616  8939634378631061484      M   31  M29-31
74617  1676125742207316285      F   28  F27-28
74618  2627933310180294504      M   31  M29-31
74619  7176422141809079294      M   23  M23-26
74620  -877731366874189491      M   22    M22-
74621 -1324027033843938692      M   22    M22-
74622 -3569962198902678507      F   59    F43+
74623  2032262288045492186      F   29  F29-32
74624 -6220019934264142137      M   29  M29-31
74625 -4071460957162948519      F   27  F27-28
74626  8012242415081116163      F   30  F29-32
74627 -7513478293429751074      F   56    F43+
74628  2918022610076499795      M   26  M23-26
74629   442105793738318663      M   35  M32-38
74630 -2510601842775405069      F   22    F23-
74631 -2572857383593438598      F   21    F23-
74632 -5804749754315732086      M   33  M32-38
74633 -4229815843211107303      M   53    M39+
74634 -8331157719771660970      M   53    M39+
74635  1728576663562073800      M   38  M32-38
74636  8116314513428390753      M   25  M23-26
74637 -3539330294838027409      M   25  M23-26
74638  5645813107043557722      F   51    F43+
74639 -4752726726975186730      M   26  M23-26
74640  4682031842235089751      M   30  M29-31
74641 -9178703742877135986      M   30  M29-31
74642   180946546684162312      M   20    M22-
74643  1390702386071991851      M   37  M32-38
74644    89181010588227347      M   25  M23-26

[74645 rows x 4 columns]

Here if we observe, there are __74645__ rows and __4__  columns and  __device_id__ is common column for __events_data__ table and __gender_age__ table

In [310]:
gender_age_df.columns

Index(['device_id', 'gender', 'age', 'group'], dtype='object')

In [311]:
gender_age_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74645 entries, 0 to 74644
Data columns (total 4 columns):
device_id    74645 non-null int64
gender       74645 non-null object
age          74645 non-null int64
group        74645 non-null object
dtypes: int64(2), object(2)
memory usage: 2.3+ MB

In [312]:
gender_age_df.describe()

          device_id           age
count  7.464500e+04  74645.000000
mean  -7.491354e+14     31.410342
std    5.327150e+18      9.868735
min   -9.223067e+18      1.000000
25%   -4.617367e+18     25.000000
50%   -1.841362e+16     29.000000
75%    4.636656e+18     36.000000
max    9.222849e+18     96.000000

In [313]:
gender_age_df.gender.unique()

array(['M', 'F'], dtype=object)

In [314]:
gender_age_df.group.unique()

array(['M32-38', 'M29-31', 'F24-26', 'F33-42', 'F27-28', 'M39+', 'M23-26',
       'M27-28', 'M22-', 'F43+', 'F23-', 'F29-32'], dtype=object)

In [315]:
gender_age_df.group.nunique()

12

In [316]:
gender_age_df.dtypes

device_id     int64
gender       object
age           int64
group        object
dtype: object

In [317]:
gender_age_df.duplicated()

0        False
1        False
2        False
3        False
4        False
5        False
6        False
7        False
8        False
9        False
10       False
11       False
12       False
13       False
14       False
15       False
16       False
17       False
18       False
19       False
20       False
21       False
22       False
23       False
24       False
25       False
26       False
27       False
28       False
29       False
         ...
74615    False
74616    False
74617    False
74618    False
74619    False
74620    False
74621    False
74622    False
74623    False
74624    False
74625    False
74626    False
74627    False
74628    False
74629    False
74630    False
74631    False
74632    False
74633    False
74634    False
74635    False
74636    False
74637    False
74638    False
74639    False
74640    False
74641    False
74642    False
74643    False
74644    False
Length: 74645, dtype: bool

Here if we observe there are __no duplicate__ records for gender_age_train table data

### Converting phone_brand SQL table to dataframe

In [318]:
phone_df=pd.read_sql_query("select *from phone_brand_device_model",db)
phone_df

                 device_id phone_brand        device_model
0      1877775838486905855        vivo                 Y13
1     -3766087376657242966          小米                V183
2     -6238937574958215831        OPPO                 R7s
3      8973197758510677470          三星               A368t
4     -2015528097870762664          小米             红米Note2
5     -8896952452425303597          小米             红米Note3
6     -2634171391322875113          小米                S5.1
7     -2526386806972133373          三星  Galaxy Grand Prime
8      1427934937997164515          小米               MI 2S
9      2866484947180243791          三星       Galaxy Note 2
10    -1788272684905942357        OPPO                 R1C
11     3888046152514759348          酷派            大神F1Plus
12    -8290049751573565686          小米             note顶配版
13     7566850031220622843          三星       Galaxy Mega 2
14     7702755134578190493         联想                 星星1号
15     2210317512148990062          三星           Galaxy S4
16     6413840150233100470          小米                MI 3
17    -7157178797095341985        OPPO              Find 7
18     3773929364530635568          三星           Galaxy S4
19     -221375520372280325          华为               C8816
20    -1529784001868224729          小米              红米note
21     4850625369950350903          小米               MI 2S
22    -8705713195059105949        vivo                X6 L
23    -8237879889852702762          三星          Galaxy Win
24     9169567266060728256          奇酷                 青春版
25    -2659978419129676300          魅族                 MX3
26     7284092388756598809        vivo                 Y35
27     4861461186174922250          三星           Galaxy S4
28     6328635369683925487          华为           G520-5000
29     7041718166515288774          华为                荣耀4A
...                    ...         ...                 ...
87696 -3166712825192649371         HTC          Desire 820
87697  5635100001859219954          三星       Galaxy Note 2
87698 -1330802497821410341          小米              红米note
87699 -5951524253251895115          华为              荣耀畅玩4X
87700 -4434164591448396463          华为                 荣耀6
87701 -7925321396326877317          三星           Galaxy S4
87702 -8792555296284231867          魅族             MX4 Pro
87703  3200392028996574013          三星      Galaxy Grand 2
87704 -1195780340968260493          华为                 荣耀6
87705 -4581544089392659072          华为                Y320
87706 -6745654932338297540          华为              荣耀畅玩4X
87707  -183111621324650894          小米                MI 3
87708  3880067301580664599          华为                B199
87709  5511063070994819511          魅族                 MX2
87710 -4692824356217798967        OPPO                 R1C
87711   174941397634971580          三星           乐檬K3 Note
87712 -7509215754397966063          三星  Galaxy Grand Prime
87713 -5175023799434636793          酷派               7295C
87714 -2127691540088256791          华为              C8816D
87715 -2895651850979794485          小米           红米note增强版
87716 -2670392286357824533        vivo                X5SL
87717  8855678093786843415          三星               W2014
87718 -6036435451071138878          小米                MI 4
87719 -1242439729152442827          小米                 红米2
87720  1174879451292807079          华为             P8 Lite
87721 -4961458925928574032          华为              荣耀畅玩4X
87722 -8819817317449262375          华为                 荣耀6
87723 -3358291377416935026          华为               荣耀畅玩4
87724  3282788959750981633          小米                MI 2
87725  2491639413207286271          酷比                  M1

[87726 rows x 3 columns]

Here, if we observe there are __87726__ rows and __3__ columns and __device_id__ column is common for above two mentioned dataframes

In [319]:
phone_df.columns

Index(['device_id', 'phone_brand', 'device_model'], dtype='object')

In [320]:
phone_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87726 entries, 0 to 87725
Data columns (total 3 columns):
device_id       87726 non-null int64
phone_brand     87726 non-null object
device_model    87726 non-null object
dtypes: int64(1), object(2)
memory usage: 2.0+ MB

In [321]:
phone_df.describe()

          device_id
count  8.772600e+04
mean  -5.212557e+15
std    5.330157e+18
min   -9.223322e+18
25%   -4.623331e+18
50%   -3.109802e+16
75%    4.635194e+18
max    9.222849e+18

In [322]:
phone_df.phone_brand.replace(to_replace="华为", value="Huawei", inplace=True)

In [323]:
phone_df.phone_brand.replace(to_replace="小米", value="Xiaomi", inplace=True)

In [324]:
phone_df.phone_brand.replace(to_replace="三星", value="Samsung", inplace=True)

In [325]:
phone_df.phone_brand.replace(to_replace="魅族", value="Meizu", inplace=True)

In [326]:
phone_df.phone_brand.replace(to_replace="酷派", value="Coolpad", inplace=True)

In [327]:
phone_df.phone_brand.replace(to_replace="乐视", value="leEco", inplace=True)

In [328]:
phone_df.phone_brand.replace(to_replace="联想", value="Lenovo", inplace=True)

In [329]:
phone_df.device_model.replace(to_replace="华为", value="Huawei", inplace=True)
phone_df.device_model.replace(to_replace="小米", value="Xiaomi", inplace=True)
phone_df.device_model.replace(to_replace="三星", value="Samsung", inplace=True)
phone_df.device_model.replace(to_replace="魅族", value="Meizu", inplace=True)
phone_df.device_model.replace(to_replace="酷派", value="Coolpad", inplace=True)
phone_df.device_model.replace(to_replace="乐视", value="leEco", inplace=True)
phone_df.device_model.replace(to_replace="联想", value="Lenovo", inplace=True)

In [330]:
phone_df

                 device_id phone_brand        device_model
0      1877775838486905855        vivo                 Y13
1     -3766087376657242966      Xiaomi                V183
2     -6238937574958215831        OPPO                 R7s
3      8973197758510677470     Samsung               A368t
4     -2015528097870762664      Xiaomi             红米Note2
5     -8896952452425303597      Xiaomi             红米Note3
6     -2634171391322875113      Xiaomi                S5.1
7     -2526386806972133373     Samsung  Galaxy Grand Prime
8      1427934937997164515      Xiaomi               MI 2S
9      2866484947180243791     Samsung       Galaxy Note 2
10    -1788272684905942357        OPPO                 R1C
11     3888046152514759348     Coolpad            大神F1Plus
12    -8290049751573565686      Xiaomi             note顶配版
13     7566850031220622843     Samsung       Galaxy Mega 2
14     7702755134578190493         联想                 星星1号
15     2210317512148990062     Samsung           Galaxy S4
16     6413840150233100470      Xiaomi                MI 3
17    -7157178797095341985        OPPO              Find 7
18     3773929364530635568     Samsung           Galaxy S4
19     -221375520372280325      Huawei               C8816
20    -1529784001868224729      Xiaomi              红米note
21     4850625369950350903      Xiaomi               MI 2S
22    -8705713195059105949        vivo                X6 L
23    -8237879889852702762     Samsung          Galaxy Win
24     9169567266060728256          奇酷                 青春版
25    -2659978419129676300       Meizu                 MX3
26     7284092388756598809        vivo                 Y35
27     4861461186174922250     Samsung           Galaxy S4
28     6328635369683925487      Huawei           G520-5000
29     7041718166515288774      Huawei                荣耀4A
...                    ...         ...                 ...
87696 -3166712825192649371         HTC          Desire 820
87697  5635100001859219954     Samsung       Galaxy Note 2
87698 -1330802497821410341      Xiaomi              红米note
87699 -5951524253251895115      Huawei              荣耀畅玩4X
87700 -4434164591448396463      Huawei                 荣耀6
87701 -7925321396326877317     Samsung           Galaxy S4
87702 -8792555296284231867       Meizu             MX4 Pro
87703  3200392028996574013     Samsung      Galaxy Grand 2
87704 -1195780340968260493      Huawei                 荣耀6
87705 -4581544089392659072      Huawei                Y320
87706 -6745654932338297540      Huawei              荣耀畅玩4X
87707  -183111621324650894      Xiaomi                MI 3
87708  3880067301580664599      Huawei                B199
87709  5511063070994819511       Meizu                 MX2
87710 -4692824356217798967        OPPO                 R1C
87711   174941397634971580     Samsung           乐檬K3 Note
87712 -7509215754397966063     Samsung  Galaxy Grand Prime
87713 -5175023799434636793     Coolpad               7295C
87714 -2127691540088256791      Huawei              C8816D
87715 -2895651850979794485      Xiaomi           红米note增强版
87716 -2670392286357824533        vivo                X5SL
87717  8855678093786843415     Samsung               W2014
87718 -6036435451071138878      Xiaomi                MI 4
87719 -1242439729152442827      Xiaomi                 红米2
87720  1174879451292807079      Huawei             P8 Lite
87721 -4961458925928574032      Huawei              荣耀畅玩4X
87722 -8819817317449262375      Huawei                 荣耀6
87723 -3358291377416935026      Huawei               荣耀畅玩4
87724  3282788959750981633      Xiaomi                MI 2
87725  2491639413207286271          酷比                  M1

[87726 rows x 3 columns]

In [331]:
phone_df.phone_brand.nunique()

116

In [332]:
phone_df.device_model.unique()

array(['Y13', 'V183', 'R7s', ..., 'Galaxy Tab S T705', 'IVO 8800',
       'U59GT'], dtype=object)

In [333]:
phone_df.device_model.nunique()

1467

In [334]:
phone_df.phone_brand.count()

87726

In [335]:
orig = gender_age_df.dtypes.to_dict()

### Merging Dataframes Events, Gender and Phone using merge

In [336]:
merge_event_gender=pd.merge(events_df,gender_age_df,how='left',on="device_id")
merge_event_gender

,event_id,device_id,timestamp,longitude,latitude,city,state,gender,age,group
0,460124,-8516174944156742424,2016-05-01 21:30:10,78.062973,30.414165,DehraDun,Uttaranchal,F,25,F24-26
1,595629,-8516174944156742424,2016-05-05 06:32:31,78.062973,30.414165,DehraDun,Uttaranchal,F,25,F24-26
2,614530,-8516174944156742424,2016-05-04 21:33:50,78.062973,30.414165,DehraDun,Uttaranchal,F,25,F24-26
3,680016,-8516174944156742424,2016-05-04 14:01:46,78.062973,30.414165,DehraDun,Uttaranchal,F,25,F24-26
4,751485,-8516174944156742424,2016-05-03 19:22:21,78.062973,30.414165,DehraDun,Uttaranchal,F,25,F24-26
5,868476,-8516174944156742424,2016-05-01 13:45:40,78.062973,30.414165,DehraDun,Uttaranchal,F,25,F24-26
6,979837,-8516174944156742424,2016-05-01 06:59:00,78.062973,30.414165,DehraDun,Uttaranchal,F,25,F24-26
7,1369496,-8516174944156742424,2016-05-07 12:51:04,78.062973,30.414165,DehraDun,Uttaranchal,F,25,F24-26
8,1488420,-8516174944156742424,2016-05-06 21:02:54,78.062973,30.414165,DehraDun,Uttaranchal,F,25,F24-26
9,1756400,-8516174944156742424,2016-05-04 20:47:33,78.062973,30.414165,DehraDun,Uttaranchal,F,25,F24-26
10,1875309,-8516174944156742424,2016-05-04 01:54:25,78.062973,30.414165,DehraDun,Uttaranchal,F,25,F24-26
11,2044076,-8516174944156742424,2016-05-03 06:54:10,78.062973,30.414165,DehraDun,Uttaranchal,F,25,F24-26
12,2058749,-8516174944156742424,2016-05-03 18:42:39,78.062973,30.414165,DehraDun,Uttaranchal,F,25,F24-26
13,2401738,-8516174944156742424,2016-05-04 14:58:41,78.062973,30.414165,DehraDun,Uttaranchal,F,25,F24-26
14,2424640,-8516174944156742424,2016-05-01 23:38:02,78.062973,30.414165,DehraDun,Uttaranchal,F,25,F24-26
15,2552799,-8516174944156742424,2016-05-07 11:42:43,78.062973,30.414165,DehraDun,Uttaranchal,F,25,F24-26
16,2622600,-8516174944156742424,2016-05-03 19:00:46,78.062973,30.414165,DehraDun,Uttaranchal,F,25,F24-26
17,2845315,-8516174944156742424,2016-05-07 05:40:00,78.062973,30.414165,DehraDun,Uttaranchal,F,25,F24-26
18,2872571,-8516174944156742424,2016-05-05 06:57:04,78.062973,30.414165,DehraDun,Uttaranchal,F,25,F24-26
19,2932903,-8516174944156742424,2016-05-06 06:22:59,78.062973,30.414165,DehraDun,Uttaranchal,F,25,F24-26
20,3219792,-8516174944156742424,2016-05-02 00:23:43,78.062973,30.414165,DehraDun,Uttaranchal,F,25,F24-26
21,401815,-609654747637122070,2016-05-05 02:29:10,75.903046,22.817104,Indore,MadhyaPradesh,M,31,M29-31
22,682317,-609654747637122070,2016-05-01 16:34:11,75.903046,22.817104,Indore,MadhyaPradesh,M,31,M29-31
23,697724,-609654747637122070,2016-05-02 04:34:03,75.903046,22.817104,Indore,MadhyaPradesh,M,31,M29-31
24,850878,-609654747637122070,2016-05-01 16:06:00,75.903046,22.817104,Indore,MadhyaPradesh,M,31,M29-31
25,860640,-609654747637122070,2016-05-04 07:13:07,75.903046,22.817104,Indore,MadhyaPradesh,M,31,M29-31
26,906157,-609654747637122070,2016-05-07 16:40:39,75.903046,22.817104,Indore,MadhyaPradesh,M,31,M29-31
27,1048396,-609654747637122070,2016-05-07 00:58:27,75.903046,22.817104,Indore,MadhyaPradesh,M,31,M29-31
28,1164135,-609654747637122070,2016-05-06 21:56:23,75.903046,22.817104,Indore,MadhyaPradesh,M,31,M29-31
29,1723657,-609654747637122070,2016-05-02 17:06:26,75.903046,22.817104,Indore,MadhyaPradesh,M,31,M29-31
...,...,...,...,...,...,...,...,...,...,...
261152,1549000,-33330392351718888,2016-05-06 12:13:04,75.188576,33.749657,Anantnag,JammuandKashmir,M,26,M23-26
261153,1563107,-33330392351718888,2016-05-04 20:56:13,75.188576,33.749657,Anantnag,JammuandKashmir,M,26,M23-26
261154,2499504,-33330392351718888,2016-05-02 09:31:03,75.188576,33.749657,Anantnag,JammuandKashmir,M,26,M23-26
261155,2499574,-33330392351718888,2016-05-03 09:07:29,75.188576,33.749657,Anantnag,JammuandKashmir,M,26,M23-26
261156,2654399,-33330392351718888,2016-05-06 12:22:47,75.188576,33.749657,Anantnag,JammuandKashmir,M,26,M23-26
261157,2675161,-33330392351718888,2016-05-02 19:00:39,75.188576,33.749657,Anantnag,JammuandKashmir,M,26,M23-26
261158,2775404,-33330392351718888,2016-05-05 10:55:49,75.188576,33.749657,Anantnag,JammuandKashmir,M,26,M23-26
261159,2875034,-33330392351718888,2016-05-04 09:26:35,75.188576,33.749657,Anantnag,JammuandKashmir,M,26,M23-26
261160,3113299,-33330392351718888,2016-05-06 11:55:19,75.188576,33.749657,Anantnag,JammuandKashmir,M,26,M23-26
261161,3238692,-33330392351718888,2016-05-06 15:24:38,75.188576,33.749657,Anantnag,JammuandKashmir,M,26,M23-26
261162,433505,86545072308515168,2016-05-04 22:28:22,75.640419,21.905979,Khargone,MadhyaPradesh,F,14,F23-
261163,2362054,86545072308515168,2016-05-04 22:28:22,75.640419,21.905979,Khargone,MadhyaPradesh,F,14,F23-
261164,2749440,86545072308515168,2016-05-04 22:28:22,75.640419,21.905979,Khargone,MadhyaPradesh,F,14,F23-
261165,3162701,86545072308515168,2016-05-04 22:28:22,75.640419,21.905979,Khargone,MadhyaPradesh,F,14,F23-
261166,626918,-3451787762860180480,2016-05-07 09:17:12,74.963799,24.537876,Nimach,MadhyaPradesh,M,28,M27-28
261167,952200,-3451787762860180480,2016-05-07 09:12:35,74.963799,24.537876,Nimach,MadhyaPradesh,M,28,M27-28
261168,1173628,-3451787762860180480,2016-05-07 09:13:19,74.963799,24.537876,Nimach,MadhyaPradesh,M,28,M27-28
261169,1173629,-3451787762860180480,2016-05-07 09:13:48,74.963799,24.537876,Nimach,MadhyaPradesh,M,28,M27-28
261170,2039749,-3451787762860180480,2016-05-07 09:12:58,74.963799,24.537876,Nimach,MadhyaPradesh,M,28,M27-28
261171,2039750,-3451787762860180480,2016-05-07 09:13:21,74.963799,24.537876,Nimach,MadhyaPradesh,M,28,M27-28
261172,2077741,-3451787762860180480,2016-05-07 09:10:01,74.963799,24.537876,Nimach,MadhyaPradesh,M,28,M27-28
261173,876836,279977215790062560,2016-05-02 16:17:08,82.704094,22.440439,Korba,Chhattisgarh,M,22,M22-
261174,1049218,49322038839767680,2016-05-07 02:10:36,82.422501,23.224663,Chirmiri,Chhattisgarh,M,46,M39+
261175,1217526,18082780531730808,2016-05-03 03:46:04,93.824989,25.946121,Dimapur,Nagaland,M,37,M32-38
261176,1628580,18082780531730808,2016-05-03 03:47:34,93.824989,25.946121,Dimapur,Nagaland,M,37,M32-38
261177,2184400,18082780531730808,2016-05-01 13:22:52,93.824989,25.946121,Dimapur,Nagaland,M,37,M32-38
261178,2255364,18082780531730808,2016-05-03 03:46:34,93.824989,25.946121,Dimapur,Nagaland,M,37,M32-38
261179,2412913,18082780531730808,2016-05-03 03:51:00,93.824989,25.946121,Dimapur,Nagaland,M,37,M32-38
261180,1296917,3462086997309544,2016-05-05 20:56:45,94.190186,25.728123,Kohima,Nagaland,M,30,M29-31
261181,2659733,3462086997309544,2016-05-05 14:14:24,94.190186,25.728123,Kohima,Nagaland,M,30,M29-31

In [337]:
merge_event_gender.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 261182 entries, 0 to 261181
Data columns (total 10 columns):
event_id     261182 non-null int64
device_id    261182 non-null int64
timestamp    261182 non-null datetime64[ns]
longitude    261182 non-null float64
latitude     261182 non-null float64
city         261182 non-null object
state        261182 non-null object
gender       261182 non-null object
age          261182 non-null int64
group        261182 non-null object
dtypes: datetime64[ns](1), float64(2), int64(3), object(4)
memory usage: 21.9+ MB

In [338]:
merge_event_gender.dtypes

event_id              int64
device_id             int64
timestamp    datetime64[ns]
longitude           float64
latitude            float64
city                 object
state                object
gender               object
age                   int64
group                object
dtype: object

In [339]:
merge_event_gender.state.isnull().sum()

0

In [340]:
nans = lambda merge_event_gender: merge_event_gender[merge_event_gender.isnull().any(axis=1)]

In [341]:
test=nans(merge_event_gender)
test

Empty DataFrame
Columns: [event_id, device_id, timestamp, longitude, latitude, city, state, gender, age, group]
Index: []

In [342]:
merge_event_gender.loc[(merge_event_gender["gender"]==np.NaN)]

Empty DataFrame
Columns: [event_id, device_id, timestamp, longitude, latitude, city, state, gender, age, group]
Index: []

In [343]:
merge_event_gender_phone_df=pd.merge(merge_event_gender,phone_df,how='left',on='device_id')
merge_event_gender_phone_df

,event_id,device_id,timestamp,longitude,latitude,city,state,gender,age,group,phone_brand,device_model
0,460124,-8516174944156742424,2016-05-01 21:30:10,78.062973,30.414165,DehraDun,Uttaranchal,F,25,F24-26,Samsung,Galaxy Mega Plus
1,595629,-8516174944156742424,2016-05-05 06:32:31,78.062973,30.414165,DehraDun,Uttaranchal,F,25,F24-26,Samsung,Galaxy Mega Plus
2,614530,-8516174944156742424,2016-05-04 21:33:50,78.062973,30.414165,DehraDun,Uttaranchal,F,25,F24-26,Samsung,Galaxy Mega Plus
3,680016,-8516174944156742424,2016-05-04 14:01:46,78.062973,30.414165,DehraDun,Uttaranchal,F,25,F24-26,Samsung,Galaxy Mega Plus
4,751485,-8516174944156742424,2016-05-03 19:22:21,78.062973,30.414165,DehraDun,Uttaranchal,F,25,F24-26,Samsung,Galaxy Mega Plus
5,868476,-8516174944156742424,2016-05-01 13:45:40,78.062973,30.414165,DehraDun,Uttaranchal,F,25,F24-26,Samsung,Galaxy Mega Plus
6,979837,-8516174944156742424,2016-05-01 06:59:00,78.062973,30.414165,DehraDun,Uttaranchal,F,25,F24-26,Samsung,Galaxy Mega Plus
7,1369496,-8516174944156742424,2016-05-07 12:51:04,78.062973,30.414165,DehraDun,Uttaranchal,F,25,F24-26,Samsung,Galaxy Mega Plus
8,1488420,-8516174944156742424,2016-05-06 21:02:54,78.062973,30.414165,DehraDun,Uttaranchal,F,25,F24-26,Samsung,Galaxy Mega Plus
9,1756400,-8516174944156742424,2016-05-04 20:47:33,78.062973,30.414165,DehraDun,Uttaranchal,F,25,F24-26,Samsung,Galaxy Mega Plus
10,1875309,-8516174944156742424,2016-05-04 01:54:25,78.062973,30.414165,DehraDun,Uttaranchal,F,25,F24-26,Samsung,Galaxy Mega Plus
11,2044076,-8516174944156742424,2016-05-03 06:54:10,78.062973,30.414165,DehraDun,Uttaranchal,F,25,F24-26,Samsung,Galaxy Mega Plus
12,2058749,-8516174944156742424,2016-05-03 18:42:39,78.062973,30.414165,DehraDun,Uttaranchal,F,25,F24-26,Samsung,Galaxy Mega Plus
13,2401738,-8516174944156742424,2016-05-04 14:58:41,78.062973,30.414165,DehraDun,Uttaranchal,F,25,F24-26,Samsung,Galaxy Mega Plus
14,2424640,-8516174944156742424,2016-05-01 23:38:02,78.062973,30.414165,DehraDun,Uttaranchal,F,25,F24-26,Samsung,Galaxy Mega Plus
15,2552799,-8516174944156742424,2016-05-07 11:42:43,78.062973,30.414165,DehraDun,Uttaranchal,F,25,F24-26,Samsung,Galaxy Mega Plus
16,2622600,-8516174944156742424,2016-05-03 19:00:46,78.062973,30.414165,DehraDun,Uttaranchal,F,25,F24-26,Samsung,Galaxy Mega Plus
17,2845315,-8516174944156742424,2016-05-07 05:40:00,78.062973,30.414165,DehraDun,Uttaranchal,F,25,F24-26,Samsung,Galaxy Mega Plus
18,2872571,-8516174944156742424,2016-05-05 06:57:04,78.062973,30.414165,DehraDun,Uttaranchal,F,25,F24-26,Samsung,Galaxy Mega Plus
19,2932903,-8516174944156742424,2016-05-06 06:22:59,78.062973,30.414165,DehraDun,Uttaranchal,F,25,F24-26,Samsung,Galaxy Mega Plus
20,3219792,-8516174944156742424,2016-05-02 00:23:43,78.062973,30.414165,DehraDun,Uttaranchal,F,25,F24-26,Samsung,Galaxy Mega Plus
21,401815,-609654747637122070,2016-05-05 02:29:10,75.903046,22.817104,Indore,MadhyaPradesh,M,31,M29-31,Huawei,荣耀6
22,682317,-609654747637122070,2016-05-01 16:34:11,75.903046,22.817104,Indore,MadhyaPradesh,M,31,M29-31,Huawei,荣耀6
23,697724,-609654747637122070,2016-05-02 04:34:03,75.903046,22.817104,Indore,MadhyaPradesh,M,31,M29-31,Huawei,荣耀6
24,850878,-609654747637122070,2016-05-01 16:06:00,75.903046,22.817104,Indore,MadhyaPradesh,M,31,M29-31,Huawei,荣耀6
25,860640,-609654747637122070,2016-05-04 07:13:07,75.903046,22.817104,Indore,MadhyaPradesh,M,31,M29-31,Huawei,荣耀6
26,906157,-609654747637122070,2016-05-07 16:40:39,75.903046,22.817104,Indore,MadhyaPradesh,M,31,M29-31,Huawei,荣耀6
27,1048396,-609654747637122070,2016-05-07 00:58:27,75.903046,22.817104,Indore,MadhyaPradesh,M,31,M29-31,Huawei,荣耀6
28,1164135,-609654747637122070,2016-05-06 21:56:23,75.903046,22.817104,Indore,MadhyaPradesh,M,31,M29-31,Huawei,荣耀6
29,1723657,-609654747637122070,2016-05-02 17:06:26,75.903046,22.817104,Indore,MadhyaPradesh,M,31,M29-31,Huawei,荣耀6
...,...,...,...,...,...,...,...,...,...,...,...,...
261152,1549000,-33330392351718888,2016-05-06 12:13:04,75.188576,33.749657,Anantnag,JammuandKashmir,M,26,M23-26,Samsung,Galaxy S4
261153,1563107,-33330392351718888,2016-05-04 20:56:13,75.188576,33.749657,Anantnag,JammuandKashmir,M,26,M23-26,Samsung,Galaxy S4
261154,2499504,-33330392351718888,2016-05-02 09:31:03,75.188576,33.749657,Anantnag,JammuandKashmir,M,26,M23-26,Samsung,Galaxy S4
261155,2499574,-33330392351718888,2016-05-03 09:07:29,75.188576,33.749657,Anantnag,JammuandKashmir,M,26,M23-26,Samsung,Galaxy S4
261156,2654399,-33330392351718888,2016-05-06 12:22:47,75.188576,33.749657,Anantnag,JammuandKashmir,M,26,M23-26,Samsung,Galaxy S4
261157,2675161,-33330392351718888,2016-05-02 19:00:39,75.188576,33.749657,Anantnag,JammuandKashmir,M,26,M23-26,Samsung,Galaxy S4
261158,2775404,-33330392351718888,2016-05-05 10:55:49,75.188576,33.749657,Anantnag,JammuandKashmir,M,26,M23-26,Samsung,Galaxy S4
261159,2875034,-33330392351718888,2016-05-04 09:26:35,75.188576,33.749657,Anantnag,JammuandKashmir,M,26,M23-26,Samsung,Galaxy S4
261160,3113299,-33330392351718888,2016-05-06 11:55:19,75.188576,33.749657,Anantnag,JammuandKashmir,M,26,M23-26,Samsung,Galaxy S4
261161,3238692,-33330392351718888,2016-05-06 15:24:38,75.188576,33.749657,Anantnag,JammuandKashmir,M,26,M23-26,Samsung,Galaxy S4
261162,433505,86545072308515168,2016-05-04 22:28:22,75.640419,21.905979,Khargone,MadhyaPradesh,F,14,F23-,vivo,Y11
261163,2362054,86545072308515168,2016-05-04 22:28:22,75.640419,21.905979,Khargone,MadhyaPradesh,F,14,F23-,vivo,Y11
261164,2749440,86545072308515168,2016-05-04 22:28:22,75.640419,21.905979,Khargone,MadhyaPradesh,F,14,F23-,vivo,Y11
261165,3162701,86545072308515168,2016-05-04 22:28:22,75.640419,21.905979,Khargone,MadhyaPradesh,F,14,F23-,vivo,Y11
261166,626918,-3451787762860180480,2016-05-07 09:17:12,74.963799,24.537876,Nimach,MadhyaPradesh,M,28,M27-28,Meizu,MX5
261167,952200,-3451787762860180480,2016-05-07 09:12:35,74.963799,24.537876,Nimach,MadhyaPradesh,M,28,M27-28,Meizu,MX5
261168,1173628,-3451787762860180480,2016-05-07 09:13:19,74.963799,24.537876,Nimach,MadhyaPradesh,M,28,M27-28,Meizu,MX5
261169,1173629,-3451787762860180480,2016-05-07 09:13:48,74.963799,24.537876,Nimach,MadhyaPradesh,M,28,M27-28,Meizu,MX5
261170,2039749,-3451787762860180480,2016-05-07 09:12:58,74.963799,24.537876,Nimach,MadhyaPradesh,M,28,M27-28,Meizu,MX5
261171,2039750,-3451787762860180480,2016-05-07 09:13:21,74.963799,24.537876,Nimach,MadhyaPradesh,M,28,M27-28,Meizu,MX5
261172,2077741,-3451787762860180480,2016-05-07 09:10:01,74.963799,24.537876,Nimach,MadhyaPradesh,M,28,M27-28,Meizu,MX5
261173,876836,279977215790062560,2016-05-02 16:17:08,82.704094,22.440439,Korba,Chhattisgarh,M,22,M22-,Huawei,Ascend P7
261174,1049218,49322038839767680,2016-05-07 02:10:36,82.422501,23.224663,Chirmiri,Chhattisgarh,M,46,M39+,HTC,Desire 626
261175,1217526,18082780531730808,2016-05-03 03:46:04,93.824989,25.946121,Dimapur,Nagaland,M,37,M32-38,Samsung,Galaxy Note 2
261176,1628580,18082780531730808,2016-05-03 03:47:34,93.824989,25.946121,Dimapur,Nagaland,M,37,M32-38,Samsung,Galaxy Note 2
261177,2184400,18082780531730808,2016-05-01 13:22:52,93.824989,25.946121,Dimapur,Nagaland,M,37,M32-38,Samsung,Galaxy Note 2
261178,2255364,18082780531730808,2016-05-03 03:46:34,93.824989,25.946121,Dimapur,Nagaland,M,37,M32-38,Samsung,Galaxy Note 2
261179,2412913,18082780531730808,2016-05-03 03:51:00,93.824989,25.946121,Dimapur,Nagaland,M,37,M32-38,Samsung,Galaxy Note 2
261180,1296917,3462086997309544,2016-05-05 20:56:45,94.190186,25.728123,Kohima,Nagaland,M,30,M29-31,Samsung,Galaxy S3
261181,2659733,3462086997309544,2016-05-05 14:14:24,94.190186,25.728123,Kohima,Nagaland,M,30,M29-31,Samsung,Galaxy S3

Here if we observe, total there are __261182__ event rows and __12__ columns in the final merged dataframe

In [344]:
merge_event_gender_phone_df.columns

Index(['event_id', 'device_id', 'timestamp', 'longitude', 'latitude', 'city',
       'state', 'gender', 'age', 'group', 'phone_brand', 'device_model'],
      dtype='object')

In [345]:
merge_event_gender_phone_df.city.nunique()

85

In [346]:
merge_event_gender_phone_df.state.nunique()

6

In [347]:
merge_event_gender_phone_df.group.nunique()

12

In [348]:
merge_event_gender_phone_df.phone_brand.nunique()

69

In [349]:
merge_event_gender_phone_df.device_model.nunique()

665

In [350]:
merge_event_gender_phone_df.describe()

           event_id     device_id      longitude       latitude            age
count  2.611820e+05  2.611820e+05  261182.000000  261182.000000  261182.000000
mean   1.625994e+06  9.574795e+15      76.705685      23.258042      31.916284
std    9.401432e+05  5.421958e+18       2.321541       2.219065      10.746288
min    1.011700e+04 -9.222173e+18      73.790665      15.291265      12.000000
25%    8.137612e+05 -4.809885e+18      75.897141      22.750061      25.000000
50%    1.624940e+06 -1.412556e+16      75.925995      22.782286      29.000000
75%    2.438953e+06  4.719311e+18      75.956451      22.811922      36.000000
max    3.252939e+06  9.217862e+18      94.361549      34.391258      87.000000

In [351]:
merge_event_gender_phone_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 261182 entries, 0 to 261181
Data columns (total 12 columns):
event_id        261182 non-null int64
device_id       261182 non-null int64
timestamp       261182 non-null datetime64[ns]
longitude       261182 non-null float64
latitude        261182 non-null float64
city            261182 non-null object
state           261182 non-null object
gender          261182 non-null object
age             261182 non-null int64
group           261182 non-null object
phone_brand     260870 non-null object
device_model    260870 non-null object
dtypes: datetime64[ns](1), float64(2), int64(3), object(6)
memory usage: 25.9+ MB

In [352]:
merge_event_gender_phone_df.isnull().sum()

event_id          0
device_id         0
timestamp         0
longitude         0
latitude          0
city              0
state             0
gender            0
age               0
group             0
phone_brand     312
device_model    312
dtype: int64

Here, if we observe there are __312__ records with NaN values

In [353]:
merge_event_gender_phone_df.phone_brand.mode()

0    Xiaomi
dtype: object

In [354]:
merge_event_gender_phone_df.device_model.mode()

0    红米note
dtype: object

In [355]:
nans = lambda merge_event_gender_phone_df: merge_event_gender_phone_df[merge_event_gender_phone_df.isnull().any(axis=1)]

In [356]:
test1=nans(merge_event_gender_phone_df)
test1

,event_id,device_id,timestamp,longitude,latitude,city,state,gender,age,group,phone_brand,device_model
66664,11634,8774523953244308,2016-05-03 12:52:20,75.956635,22.770130,Indore,MadhyaPradesh,M,30,M29-31,NaN,NaN
66665,11843,8774523953244308,2016-05-03 12:56:38,75.956635,22.770130,Indore,MadhyaPradesh,M,30,M29-31,NaN,NaN
66666,21600,8774523953244308,2016-05-03 19:54:28,75.956635,22.770130,Indore,MadhyaPradesh,M,30,M29-31,NaN,NaN
66667,23372,8774523953244308,2016-05-03 20:41:47,75.956635,22.770130,Indore,MadhyaPradesh,M,30,M29-31,NaN,NaN
66668,47489,8774523953244308,2016-05-05 14:01:25,75.956635,22.770130,Indore,MadhyaPradesh,M,30,M29-31,NaN,NaN
66669,50785,8774523953244308,2016-05-06 16:00:40,75.956635,22.770130,Indore,MadhyaPradesh,M,30,M29-31,NaN,NaN
66670,80530,8774523953244308,2016-05-07 11:01:14,75.956635,22.770130,Indore,MadhyaPradesh,M,30,M29-31,NaN,NaN
66671,112097,8774523953244308,2016-05-03 19:42:00,75.956635,22.770130,Indore,MadhyaPradesh,M,30,M29-31,NaN,NaN
66672,135180,8774523953244308,2016-05-05 15:46:13,75.956635,22.770130,Indore,MadhyaPradesh,M,30,M29-31,NaN,NaN
66673,176845,8774523953244308,2016-05-05 13:56:31,75.956635,22.770130,Indore,MadhyaPradesh,M,30,M29-31,NaN,NaN
66674,203917,8774523953244308,2016-05-05 13:59:52,75.956635,22.770130,Indore,MadhyaPradesh,M,30,M29-31,NaN,NaN
66675,208428,8774523953244308,2016-05-04 17:59:40,75.956635,22.770130,Indore,MadhyaPradesh,M,30,M29-31,NaN,NaN
66676,210252,8774523953244308,2016-05-04 20:38:59,75.956635,22.770130,Indore,MadhyaPradesh,M,30,M29-31,NaN,NaN
66677,214542,8774523953244308,2016-05-04 22:57:13,75.956635,22.770130,Indore,MadhyaPradesh,M,30,M29-31,NaN,NaN
66678,252532,8774523953244308,2016-05-03 13:54:04,75.956635,22.770130,Indore,MadhyaPradesh,M,30,M29-31,NaN,NaN
66679,257630,8774523953244308,2016-05-03 17:43:56,75.956635,22.770130,Indore,MadhyaPradesh,M,30,M29-31,NaN,NaN
66680,298530,8774523953244308,2016-05-06 07:15:52,75.956635,22.770130,Indore,MadhyaPradesh,M,30,M29-31,NaN,NaN
66681,310265,8774523953244308,2016-05-03 15:12:44,75.956635,22.770130,Indore,MadhyaPradesh,M,30,M29-31,NaN,NaN
66682,327686,8774523953244308,2016-05-06 04:43:43,75.956635,22.770130,Indore,MadhyaPradesh,M,30,M29-31,NaN,NaN
66683,339980,8774523953244308,2016-05-03 06:52:43,75.956635,22.770130,Indore,MadhyaPradesh,M,30,M29-31,NaN,NaN
66684,356519,8774523953244308,2016-05-03 13:24:19,75.956635,22.770130,Indore,MadhyaPradesh,M,30,M29-31,NaN,NaN
66685,380370,8774523953244308,2016-05-05 16:16:12,75.956635,22.770130,Indore,MadhyaPradesh,M,30,M29-31,NaN,NaN
66686,438199,8774523953244308,2016-05-06 09:19:38,75.956635,22.770130,Indore,MadhyaPradesh,M,30,M29-31,NaN,NaN
66687,446739,8774523953244308,2016-05-03 12:42:14,75.956635,22.770130,Indore,MadhyaPradesh,M,30,M29-31,NaN,NaN
66688,448124,8774523953244308,2016-05-03 13:05:25,75.956635,22.770130,Indore,MadhyaPradesh,M,30,M29-31,NaN,NaN
66689,469328,8774523953244308,2016-05-03 19:15:32,75.956635,22.770130,Indore,MadhyaPradesh,M,30,M29-31,NaN,NaN
66690,542038,8774523953244308,2016-05-07 04:26:23,75.956635,22.770130,Indore,MadhyaPradesh,M,30,M29-31,NaN,NaN
66691,609392,8774523953244308,2016-05-03 17:26:28,75.956635,22.770130,Indore,MadhyaPradesh,M,30,M29-31,NaN,NaN
66692,638848,8774523953244308,2016-05-03 17:21:44,75.956635,22.770130,Indore,MadhyaPradesh,M,30,M29-31,NaN,NaN
66693,640931,8774523953244308,2016-05-04 18:00:39,75.956635,22.770130,Indore,MadhyaPradesh,M,30,M29-31,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
222734,2399730,4685911959448355927,2016-05-01 14:55:04,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,NaN,NaN
222735,2472683,4685911959448355927,2016-05-02 08:35:42,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,NaN,NaN
222736,2509130,4685911959448355927,2016-05-06 07:59:32,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,NaN,NaN
222737,2542338,4685911959448355927,2016-05-02 00:28:43,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,NaN,NaN
222738,2545130,4685911959448355927,2016-05-04 05:02:58,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,NaN,NaN
222739,2552587,4685911959448355927,2016-05-06 11:16:29,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,NaN,NaN
222740,2629498,4685911959448355927,2016-05-02 00:25:00,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,NaN,NaN
222741,2688912,4685911959448355927,2016-05-02 00:31:23,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,NaN,NaN
222742,2691484,4685911959448355927,2016-05-04 05:28:05,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,NaN,NaN
222743,2732058,4685911959448355927,2016-05-04 05:16:45,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,NaN,NaN
222744,2732066,4685911959448355927,2016-05-04 05:25:23,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,NaN,NaN
222745,2769468,4685911959448355927,2016-05-04 04:29:36,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,NaN,NaN
222746,2771031,4685911959448355927,2016-05-01 07:05:32,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,NaN,NaN
222747,2796461,4685911959448355927,2016-05-01 07:06:32,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,NaN,NaN
222748,2796462,4685911959448355927,2016-05-01 07:07:32,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,NaN,NaN
222749,2798856,4685911959448355927,2016-05-07 08:14:32,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,NaN,NaN
222750,2820341,4685911959448355927,2016-05-04 04:22:34,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,NaN,NaN
222751,2823823,4685911959448355927,2016-05-06 08:03:37,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,NaN,NaN
222752,2867626,4685911959448355927,2016-05-02 00:33:23,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,NaN,NaN
222753,2870481,4685911959448355927,2016-05-04 05:04:59,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,NaN,NaN
222754,2945259,4685911959448355927,2016-05-01 14:55:03,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,NaN,NaN
222755,2962201,4685911959448355927,2016-05-02 00:34:23,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,NaN,NaN
222756,2988878,4685911959448355927,2016-05-04 05:21:11,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,NaN,NaN
222757,2988880,4685911959448355927,2016-05-04 05:23:53,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,NaN,NaN
222758,3012560,4685911959448355927,2016-05-04 05:46:24,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,NaN,NaN
222759,3040105,4685911959448355927,2016-05-02 00:31:23,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,NaN,NaN
222760,3084031,4685911959448355927,2016-05-02 00:36:34,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,NaN,NaN
222761,3132503,4685911959448355927,2016-05-01 07:08:32,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,NaN,NaN
222762,3177913,4685911959448355927,2016-05-04 04:26:17,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,NaN,NaN
222763,3180780,4685911959448355927,2016-05-04 19:21:00,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,NaN,NaN

In [357]:
test1.latitude.value_counts()

22.770130    175
32.396137    137
Name: latitude, dtype: int64

In [358]:
test1.longitude.value_counts()

75.956635    175
75.554832    137
Name: longitude, dtype: int64

In [359]:
test1.state.value_counts()

MadhyaPradesh      175
JammuandKashmir    137
Name: state, dtype: int64

In [360]:
test1.device_id.value_counts()

8774523953244308       175
4685911959448355927    137
Name: device_id, dtype: int64

In [361]:
merge_event_gender_phone_df.loc[(merge_event_gender_phone_df["device_id"] == 8774523953244308)]

,event_id,device_id,timestamp,longitude,latitude,city,state,gender,age,group,phone_brand,device_model
66664,11634,8774523953244308,2016-05-03 12:52:20,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,NaN,NaN
66665,11843,8774523953244308,2016-05-03 12:56:38,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,NaN,NaN
66666,21600,8774523953244308,2016-05-03 19:54:28,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,NaN,NaN
66667,23372,8774523953244308,2016-05-03 20:41:47,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,NaN,NaN
66668,47489,8774523953244308,2016-05-05 14:01:25,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,NaN,NaN
66669,50785,8774523953244308,2016-05-06 16:00:40,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,NaN,NaN
66670,80530,8774523953244308,2016-05-07 11:01:14,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,NaN,NaN
66671,112097,8774523953244308,2016-05-03 19:42:00,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,NaN,NaN
66672,135180,8774523953244308,2016-05-05 15:46:13,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,NaN,NaN
66673,176845,8774523953244308,2016-05-05 13:56:31,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,NaN,NaN
66674,203917,8774523953244308,2016-05-05 13:59:52,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,NaN,NaN
66675,208428,8774523953244308,2016-05-04 17:59:40,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,NaN,NaN
66676,210252,8774523953244308,2016-05-04 20:38:59,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,NaN,NaN
66677,214542,8774523953244308,2016-05-04 22:57:13,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,NaN,NaN
66678,252532,8774523953244308,2016-05-03 13:54:04,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,NaN,NaN
66679,257630,8774523953244308,2016-05-03 17:43:56,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,NaN,NaN
66680,298530,8774523953244308,2016-05-06 07:15:52,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,NaN,NaN
66681,310265,8774523953244308,2016-05-03 15:12:44,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,NaN,NaN
66682,327686,8774523953244308,2016-05-06 04:43:43,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,NaN,NaN
66683,339980,8774523953244308,2016-05-03 06:52:43,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,NaN,NaN
66684,356519,8774523953244308,2016-05-03 13:24:19,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,NaN,NaN
66685,380370,8774523953244308,2016-05-05 16:16:12,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,NaN,NaN
66686,438199,8774523953244308,2016-05-06 09:19:38,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,NaN,NaN
66687,446739,8774523953244308,2016-05-03 12:42:14,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,NaN,NaN
66688,448124,8774523953244308,2016-05-03 13:05:25,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,NaN,NaN
66689,469328,8774523953244308,2016-05-03 19:15:32,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,NaN,NaN
66690,542038,8774523953244308,2016-05-07 04:26:23,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,NaN,NaN
66691,609392,8774523953244308,2016-05-03 17:26:28,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,NaN,NaN
66692,638848,8774523953244308,2016-05-03 17:21:44,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,NaN,NaN
66693,640931,8774523953244308,2016-05-04 18:00:39,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
66809,2745299,8774523953244308,2016-05-06 11:16:31,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,NaN,NaN
66810,2786116,8774523953244308,2016-05-03 19:23:27,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,NaN,NaN
66811,2786117,8774523953244308,2016-05-03 19:22:51,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,NaN,NaN
66812,2791398,8774523953244308,2016-05-07 22:07:05,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,NaN,NaN
66813,2809143,8774523953244308,2016-05-03 17:00:54,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,NaN,NaN
66814,2810558,8774523953244308,2016-05-04 17:59:05,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,NaN,NaN
66815,2826401,8774523953244308,2016-05-06 10:18:38,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,NaN,NaN
66816,2866097,8774523953244308,2016-05-05 22:53:17,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,NaN,NaN
66817,2887693,8774523953244308,2016-05-03 19:29:12,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,NaN,NaN
66818,2899549,8774523953244308,2016-05-07 06:28:27,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,NaN,NaN
66819,2910077,8774523953244308,2016-05-03 13:39:01,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,NaN,NaN
66820,2917916,8774523953244308,2016-05-04 17:57:40,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,NaN,NaN
66821,2960157,8774523953244308,2016-05-06 22:09:21,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,NaN,NaN
66822,2961392,8774523953244308,2016-05-05 23:31:27,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,NaN,NaN
66823,2979545,8774523953244308,2016-05-03 18:35:59,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,NaN,NaN
66824,2997474,8774523953244308,2016-05-03 12:57:07,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,NaN,NaN
66825,3000453,8774523953244308,2016-05-03 14:19:08,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,NaN,NaN
66826,3001880,8774523953244308,2016-05-03 15:04:12,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,NaN,NaN
66827,3029487,8774523953244308,2016-05-05 15:14:29,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,NaN,NaN
66828,3033686,8774523953244308,2016-05-03 19:13:58,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,NaN,NaN
66829,3035916,8774523953244308,2016-05-06 20:33:57,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,NaN,NaN
66830,3068439,8774523953244308,2016-05-03 14:57:58,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,NaN,NaN
66831,3070359,8774523953244308,2016-05-05 16:16:36,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,NaN,NaN
66832,3072668,8774523953244308,2016-05-03 18:02:40,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,NaN,NaN
66833,3076425,8774523953244308,2016-05-04 20:42:06,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,NaN,NaN
66834,3111515,8774523953244308,2016-05-06 09:14:28,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,NaN,NaN
66835,3126015,8774523953244308,2016-05-03 13:26:12,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,NaN,NaN
66836,3177298,8774523953244308,2016-05-03 12:54:34,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,NaN,NaN
66837,3179976,8774523953244308,2016-05-03 19:29:52,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,NaN,NaN
66838,3195321,8774523953244308,2016-05-06 10:36:56,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,NaN,NaN

In [362]:
merge_event_gender_phone_df.phone_brand.loc[(merge_event_gender_phone_df['device_id'] == 8774523953244308)] = 'Xiaomi'
merge_event_gender_phone_df.device_model.loc[(merge_event_gender_phone_df['device_id'] == 8774523953244308)] = '红米note'

C:\Users\DELL\Anaconda3\lib\site-packages\pandas\core\indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [363]:
merge_event_gender_phone_df.loc[(merge_event_gender_phone_df["device_id"] == 8774523953244308)]

,event_id,device_id,timestamp,longitude,latitude,city,state,gender,age,group,phone_brand,device_model
66664,11634,8774523953244308,2016-05-03 12:52:20,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,Xiaomi,红米note
66665,11843,8774523953244308,2016-05-03 12:56:38,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,Xiaomi,红米note
66666,21600,8774523953244308,2016-05-03 19:54:28,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,Xiaomi,红米note
66667,23372,8774523953244308,2016-05-03 20:41:47,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,Xiaomi,红米note
66668,47489,8774523953244308,2016-05-05 14:01:25,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,Xiaomi,红米note
66669,50785,8774523953244308,2016-05-06 16:00:40,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,Xiaomi,红米note
66670,80530,8774523953244308,2016-05-07 11:01:14,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,Xiaomi,红米note
66671,112097,8774523953244308,2016-05-03 19:42:00,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,Xiaomi,红米note
66672,135180,8774523953244308,2016-05-05 15:46:13,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,Xiaomi,红米note
66673,176845,8774523953244308,2016-05-05 13:56:31,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,Xiaomi,红米note
66674,203917,8774523953244308,2016-05-05 13:59:52,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,Xiaomi,红米note
66675,208428,8774523953244308,2016-05-04 17:59:40,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,Xiaomi,红米note
66676,210252,8774523953244308,2016-05-04 20:38:59,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,Xiaomi,红米note
66677,214542,8774523953244308,2016-05-04 22:57:13,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,Xiaomi,红米note
66678,252532,8774523953244308,2016-05-03 13:54:04,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,Xiaomi,红米note
66679,257630,8774523953244308,2016-05-03 17:43:56,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,Xiaomi,红米note
66680,298530,8774523953244308,2016-05-06 07:15:52,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,Xiaomi,红米note
66681,310265,8774523953244308,2016-05-03 15:12:44,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,Xiaomi,红米note
66682,327686,8774523953244308,2016-05-06 04:43:43,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,Xiaomi,红米note
66683,339980,8774523953244308,2016-05-03 06:52:43,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,Xiaomi,红米note
66684,356519,8774523953244308,2016-05-03 13:24:19,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,Xiaomi,红米note
66685,380370,8774523953244308,2016-05-05 16:16:12,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,Xiaomi,红米note
66686,438199,8774523953244308,2016-05-06 09:19:38,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,Xiaomi,红米note
66687,446739,8774523953244308,2016-05-03 12:42:14,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,Xiaomi,红米note
66688,448124,8774523953244308,2016-05-03 13:05:25,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,Xiaomi,红米note
66689,469328,8774523953244308,2016-05-03 19:15:32,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,Xiaomi,红米note
66690,542038,8774523953244308,2016-05-07 04:26:23,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,Xiaomi,红米note
66691,609392,8774523953244308,2016-05-03 17:26:28,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,Xiaomi,红米note
66692,638848,8774523953244308,2016-05-03 17:21:44,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,Xiaomi,红米note
66693,640931,8774523953244308,2016-05-04 18:00:39,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,Xiaomi,红米note
...,...,...,...,...,...,...,...,...,...,...,...,...
66809,2745299,8774523953244308,2016-05-06 11:16:31,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,Xiaomi,红米note
66810,2786116,8774523953244308,2016-05-03 19:23:27,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,Xiaomi,红米note
66811,2786117,8774523953244308,2016-05-03 19:22:51,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,Xiaomi,红米note
66812,2791398,8774523953244308,2016-05-07 22:07:05,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,Xiaomi,红米note
66813,2809143,8774523953244308,2016-05-03 17:00:54,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,Xiaomi,红米note
66814,2810558,8774523953244308,2016-05-04 17:59:05,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,Xiaomi,红米note
66815,2826401,8774523953244308,2016-05-06 10:18:38,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,Xiaomi,红米note
66816,2866097,8774523953244308,2016-05-05 22:53:17,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,Xiaomi,红米note
66817,2887693,8774523953244308,2016-05-03 19:29:12,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,Xiaomi,红米note
66818,2899549,8774523953244308,2016-05-07 06:28:27,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,Xiaomi,红米note
66819,2910077,8774523953244308,2016-05-03 13:39:01,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,Xiaomi,红米note
66820,2917916,8774523953244308,2016-05-04 17:57:40,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,Xiaomi,红米note
66821,2960157,8774523953244308,2016-05-06 22:09:21,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,Xiaomi,红米note
66822,2961392,8774523953244308,2016-05-05 23:31:27,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,Xiaomi,红米note
66823,2979545,8774523953244308,2016-05-03 18:35:59,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,Xiaomi,红米note
66824,2997474,8774523953244308,2016-05-03 12:57:07,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,Xiaomi,红米note
66825,3000453,8774523953244308,2016-05-03 14:19:08,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,Xiaomi,红米note
66826,3001880,8774523953244308,2016-05-03 15:04:12,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,Xiaomi,红米note
66827,3029487,8774523953244308,2016-05-05 15:14:29,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,Xiaomi,红米note
66828,3033686,8774523953244308,2016-05-03 19:13:58,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,Xiaomi,红米note
66829,3035916,8774523953244308,2016-05-06 20:33:57,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,Xiaomi,红米note
66830,3068439,8774523953244308,2016-05-03 14:57:58,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,Xiaomi,红米note
66831,3070359,8774523953244308,2016-05-05 16:16:36,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,Xiaomi,红米note
66832,3072668,8774523953244308,2016-05-03 18:02:40,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,Xiaomi,红米note
66833,3076425,8774523953244308,2016-05-04 20:42:06,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,Xiaomi,红米note
66834,3111515,8774523953244308,2016-05-06 09:14:28,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,Xiaomi,红米note
66835,3126015,8774523953244308,2016-05-03 13:26:12,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,Xiaomi,红米note
66836,3177298,8774523953244308,2016-05-03 12:54:34,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,Xiaomi,红米note
66837,3179976,8774523953244308,2016-05-03 19:29:52,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,Xiaomi,红米note
66838,3195321,8774523953244308,2016-05-06 10:36:56,75.956635,22.77013,Indore,MadhyaPradesh,M,30,M29-31,Xiaomi,红米note

In [364]:
merge_event_gender_phone_df.loc[(merge_event_gender_phone_df["device_id"] == 4685911959448355927)]

,event_id,device_id,timestamp,longitude,latitude,city,state,gender,age,group,phone_brand,device_model
222627,55433,4685911959448355927,2016-05-04 19:21:44,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,NaN,NaN
222628,55434,4685911959448355927,2016-05-04 19:22:14,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,NaN,NaN
222629,65499,4685911959448355927,2016-05-02 00:30:26,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,NaN,NaN
222630,71959,4685911959448355927,2016-05-04 04:09:45,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,NaN,NaN
222631,72339,4685911959448355927,2016-05-04 05:09:24,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,NaN,NaN
222632,72343,4685911959448355927,2016-05-04 05:38:56,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,NaN,NaN
222633,80645,4685911959448355927,2016-05-01 12:52:44,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,NaN,NaN
222634,80681,4685911959448355927,2016-05-01 07:05:05,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,NaN,NaN
222635,186330,4685911959448355927,2016-05-02 00:37:44,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,NaN,NaN
222636,191948,4685911959448355927,2016-05-04 05:29:04,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,NaN,NaN
222637,194565,4685911959448355927,2016-05-01 07:07:59,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,NaN,NaN
222638,220608,4685911959448355927,2016-05-07 08:16:51,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,NaN,NaN
222639,233807,4685911959448355927,2016-05-04 19:19:31,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,NaN,NaN
222640,260369,4685911959448355927,2016-05-04 19:16:14,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,NaN,NaN
222641,292110,4685911959448355927,2016-05-02 00:21:38,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,NaN,NaN
222642,338921,4685911959448355927,2016-05-04 04:30:39,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,NaN,NaN
222643,342345,4685911959448355927,2016-05-06 08:01:40,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,NaN,NaN
222644,346367,4685911959448355927,2016-05-03 11:55:07,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,NaN,NaN
222645,399782,4685911959448355927,2016-05-02 00:25:13,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,NaN,NaN
222646,430842,4685911959448355927,2016-05-06 08:04:59,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,NaN,NaN
222647,493773,4685911959448355927,2016-05-04 05:25:04,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,NaN,NaN
222648,545120,4685911959448355927,2016-05-02 08:35:41,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,NaN,NaN
222649,565341,4685911959448355927,2016-05-02 00:28:13,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,NaN,NaN
222650,568125,4685911959448355927,2016-05-04 05:04:16,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,NaN,NaN
222651,666028,4685911959448355927,2016-05-04 04:18:33,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,NaN,NaN
222652,666639,4685911959448355927,2016-05-04 05:14:15,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,NaN,NaN
222653,697799,4685911959448355927,2016-05-04 04:25:59,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,NaN,NaN
222654,705493,4685911959448355927,2016-05-03 11:55:06,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,NaN,NaN
222655,759352,4685911959448355927,2016-05-04 04:28:51,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,NaN,NaN
222656,759353,4685911959448355927,2016-05-04 04:26:47,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
222734,2399730,4685911959448355927,2016-05-01 14:55:04,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,NaN,NaN
222735,2472683,4685911959448355927,2016-05-02 08:35:42,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,NaN,NaN
222736,2509130,4685911959448355927,2016-05-06 07:59:32,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,NaN,NaN
222737,2542338,4685911959448355927,2016-05-02 00:28:43,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,NaN,NaN
222738,2545130,4685911959448355927,2016-05-04 05:02:58,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,NaN,NaN
222739,2552587,4685911959448355927,2016-05-06 11:16:29,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,NaN,NaN
222740,2629498,4685911959448355927,2016-05-02 00:25:00,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,NaN,NaN
222741,2688912,4685911959448355927,2016-05-02 00:31:23,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,NaN,NaN
222742,2691484,4685911959448355927,2016-05-04 05:28:05,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,NaN,NaN
222743,2732058,4685911959448355927,2016-05-04 05:16:45,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,NaN,NaN
222744,2732066,4685911959448355927,2016-05-04 05:25:23,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,NaN,NaN
222745,2769468,4685911959448355927,2016-05-04 04:29:36,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,NaN,NaN
222746,2771031,4685911959448355927,2016-05-01 07:05:32,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,NaN,NaN
222747,2796461,4685911959448355927,2016-05-01 07:06:32,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,NaN,NaN
222748,2796462,4685911959448355927,2016-05-01 07:07:32,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,NaN,NaN
222749,2798856,4685911959448355927,2016-05-07 08:14:32,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,NaN,NaN
222750,2820341,4685911959448355927,2016-05-04 04:22:34,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,NaN,NaN
222751,2823823,4685911959448355927,2016-05-06 08:03:37,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,NaN,NaN
222752,2867626,4685911959448355927,2016-05-02 00:33:23,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,NaN,NaN
222753,2870481,4685911959448355927,2016-05-04 05:04:59,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,NaN,NaN
222754,2945259,4685911959448355927,2016-05-01 14:55:03,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,NaN,NaN
222755,2962201,4685911959448355927,2016-05-02 00:34:23,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,NaN,NaN
222756,2988878,4685911959448355927,2016-05-04 05:21:11,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,NaN,NaN
222757,2988880,4685911959448355927,2016-05-04 05:23:53,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,NaN,NaN
222758,3012560,4685911959448355927,2016-05-04 05:46:24,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,NaN,NaN
222759,3040105,4685911959448355927,2016-05-02 00:31:23,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,NaN,NaN
222760,3084031,4685911959448355927,2016-05-02 00:36:34,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,NaN,NaN
222761,3132503,4685911959448355927,2016-05-01 07:08:32,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,NaN,NaN
222762,3177913,4685911959448355927,2016-05-04 04:26:17,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,NaN,NaN
222763,3180780,4685911959448355927,2016-05-04 19:21:00,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,NaN,NaN

In [365]:
merge_event_gender_phone_df.phone_brand.loc[(merge_event_gender_phone_df['device_id'] == 4685911959448355927)] = 'Xiaomi'
merge_event_gender_phone_df.device_model.loc[(merge_event_gender_phone_df['device_id'] == 4685911959448355927)] = '红米note'

C:\Users\DELL\Anaconda3\lib\site-packages\pandas\core\indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [366]:
merge_event_gender_phone_df.loc[(merge_event_gender_phone_df["device_id"] == 4685911959448355927)]

,event_id,device_id,timestamp,longitude,latitude,city,state,gender,age,group,phone_brand,device_model
222627,55433,4685911959448355927,2016-05-04 19:21:44,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,Xiaomi,红米note
222628,55434,4685911959448355927,2016-05-04 19:22:14,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,Xiaomi,红米note
222629,65499,4685911959448355927,2016-05-02 00:30:26,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,Xiaomi,红米note
222630,71959,4685911959448355927,2016-05-04 04:09:45,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,Xiaomi,红米note
222631,72339,4685911959448355927,2016-05-04 05:09:24,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,Xiaomi,红米note
222632,72343,4685911959448355927,2016-05-04 05:38:56,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,Xiaomi,红米note
222633,80645,4685911959448355927,2016-05-01 12:52:44,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,Xiaomi,红米note
222634,80681,4685911959448355927,2016-05-01 07:05:05,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,Xiaomi,红米note
222635,186330,4685911959448355927,2016-05-02 00:37:44,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,Xiaomi,红米note
222636,191948,4685911959448355927,2016-05-04 05:29:04,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,Xiaomi,红米note
222637,194565,4685911959448355927,2016-05-01 07:07:59,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,Xiaomi,红米note
222638,220608,4685911959448355927,2016-05-07 08:16:51,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,Xiaomi,红米note
222639,233807,4685911959448355927,2016-05-04 19:19:31,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,Xiaomi,红米note
222640,260369,4685911959448355927,2016-05-04 19:16:14,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,Xiaomi,红米note
222641,292110,4685911959448355927,2016-05-02 00:21:38,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,Xiaomi,红米note
222642,338921,4685911959448355927,2016-05-04 04:30:39,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,Xiaomi,红米note
222643,342345,4685911959448355927,2016-05-06 08:01:40,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,Xiaomi,红米note
222644,346367,4685911959448355927,2016-05-03 11:55:07,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,Xiaomi,红米note
222645,399782,4685911959448355927,2016-05-02 00:25:13,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,Xiaomi,红米note
222646,430842,4685911959448355927,2016-05-06 08:04:59,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,Xiaomi,红米note
222647,493773,4685911959448355927,2016-05-04 05:25:04,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,Xiaomi,红米note
222648,545120,4685911959448355927,2016-05-02 08:35:41,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,Xiaomi,红米note
222649,565341,4685911959448355927,2016-05-02 00:28:13,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,Xiaomi,红米note
222650,568125,4685911959448355927,2016-05-04 05:04:16,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,Xiaomi,红米note
222651,666028,4685911959448355927,2016-05-04 04:18:33,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,Xiaomi,红米note
222652,666639,4685911959448355927,2016-05-04 05:14:15,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,Xiaomi,红米note
222653,697799,4685911959448355927,2016-05-04 04:25:59,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,Xiaomi,红米note
222654,705493,4685911959448355927,2016-05-03 11:55:06,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,Xiaomi,红米note
222655,759352,4685911959448355927,2016-05-04 04:28:51,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,Xiaomi,红米note
222656,759353,4685911959448355927,2016-05-04 04:26:47,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,Xiaomi,红米note
...,...,...,...,...,...,...,...,...,...,...,...,...
222734,2399730,4685911959448355927,2016-05-01 14:55:04,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,Xiaomi,红米note
222735,2472683,4685911959448355927,2016-05-02 08:35:42,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,Xiaomi,红米note
222736,2509130,4685911959448355927,2016-05-06 07:59:32,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,Xiaomi,红米note
222737,2542338,4685911959448355927,2016-05-02 00:28:43,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,Xiaomi,红米note
222738,2545130,4685911959448355927,2016-05-04 05:02:58,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,Xiaomi,红米note
222739,2552587,4685911959448355927,2016-05-06 11:16:29,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,Xiaomi,红米note
222740,2629498,4685911959448355927,2016-05-02 00:25:00,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,Xiaomi,红米note
222741,2688912,4685911959448355927,2016-05-02 00:31:23,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,Xiaomi,红米note
222742,2691484,4685911959448355927,2016-05-04 05:28:05,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,Xiaomi,红米note
222743,2732058,4685911959448355927,2016-05-04 05:16:45,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,Xiaomi,红米note
222744,2732066,4685911959448355927,2016-05-04 05:25:23,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,Xiaomi,红米note
222745,2769468,4685911959448355927,2016-05-04 04:29:36,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,Xiaomi,红米note
222746,2771031,4685911959448355927,2016-05-01 07:05:32,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,Xiaomi,红米note
222747,2796461,4685911959448355927,2016-05-01 07:06:32,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,Xiaomi,红米note
222748,2796462,4685911959448355927,2016-05-01 07:07:32,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,Xiaomi,红米note
222749,2798856,4685911959448355927,2016-05-07 08:14:32,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,Xiaomi,红米note
222750,2820341,4685911959448355927,2016-05-04 04:22:34,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,Xiaomi,红米note
222751,2823823,4685911959448355927,2016-05-06 08:03:37,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,Xiaomi,红米note
222752,2867626,4685911959448355927,2016-05-02 00:33:23,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,Xiaomi,红米note
222753,2870481,4685911959448355927,2016-05-04 05:04:59,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,Xiaomi,红米note
222754,2945259,4685911959448355927,2016-05-01 14:55:03,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,Xiaomi,红米note
222755,2962201,4685911959448355927,2016-05-02 00:34:23,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,Xiaomi,红米note
222756,2988878,4685911959448355927,2016-05-04 05:21:11,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,Xiaomi,红米note
222757,2988880,4685911959448355927,2016-05-04 05:23:53,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,Xiaomi,红米note
222758,3012560,4685911959448355927,2016-05-04 05:46:24,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,Xiaomi,红米note
222759,3040105,4685911959448355927,2016-05-02 00:31:23,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,Xiaomi,红米note
222760,3084031,4685911959448355927,2016-05-02 00:36:34,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,Xiaomi,红米note
222761,3132503,4685911959448355927,2016-05-01 07:08:32,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,Xiaomi,红米note
222762,3177913,4685911959448355927,2016-05-04 04:26:17,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,Xiaomi,红米note
222763,3180780,4685911959448355927,2016-05-04 19:21:00,75.554832,32.396137,Kathua,JammuandKashmir,M,27,M27-28,Xiaomi,红米note

In [367]:
nans = lambda merge_event_gender_phone_df: merge_event_gender_phone_df[merge_event_gender_phone_df.isnull().any(axis=1)]

In [368]:
testt=nans(merge_event_gender_phone_df)
testt

Empty DataFrame
Columns: [event_id, device_id, timestamp, longitude, latitude, city, state, gender, age, group, phone_brand, device_model]
Index: []

In [369]:
merge_event_gender_phone_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 261182 entries, 0 to 261181
Data columns (total 12 columns):
event_id        261182 non-null int64
device_id       261182 non-null int64
timestamp       261182 non-null datetime64[ns]
longitude       261182 non-null float64
latitude        261182 non-null float64
city            261182 non-null object
state           261182 non-null object
gender          261182 non-null object
age             261182 non-null int64
group           261182 non-null object
phone_brand     261182 non-null object
device_model    261182 non-null object
dtypes: datetime64[ns](1), float64(2), int64(3), object(6)
memory usage: 25.9+ MB

In [370]:
merge_event_gender_phone_df.dtypes

event_id                 int64
device_id                int64
timestamp       datetime64[ns]
longitude              float64
latitude               float64
city                    object
state                   object
gender                  object
age                      int64
group                   object
phone_brand             object
device_model            object
dtype: object

In [371]:
merge_event_gender_phone_df.to_csv("C:\\Users\\DELL\\capstone\\capstonefinalevents.csv",sep=',',columns=["event_id","device_id","timestamp","longitude","latitude","state"],index=False)

In [386]:
merge_event_gender_phone_df.to_csv("C:\\Users\\DELL\\capstone\\capsonefinaleventsanalysis.csv",sep=',',index=False)

### Converting object types to Categorical Datatypes for Plotting purpose

In [373]:
merge_event_gender_phone_df['city'] = merge_event_gender_phone_df.city.astype('category')

In [374]:
merge_event_gender_phone_df['state'] = merge_event_gender_phone_df.state.astype('category')

In [375]:
merge_event_gender_phone_df['gender'] = merge_event_gender_phone_df.gender.astype('category')

In [376]:
merge_event_gender_phone_df['group'] = merge_event_gender_phone_df.group.astype('category')

In [377]:
merge_event_gender_phone_df['phone_brand'] = merge_event_gender_phone_df.phone_brand.astype('category')

In [378]:
merge_event_gender_phone_df['device_model'] = merge_event_gender_phone_df.device_model.astype('category')

In [379]:
merge_event_gender_phone_df.dtypes

event_id                 int64
device_id                int64
timestamp       datetime64[ns]
longitude              float64
latitude               float64
city                  category
state                 category
gender                category
age                      int64
group                 category
phone_brand           category
device_model          category
dtype: object

In [382]:
merge_event_gender_phone_df.device_id.nunique()

4297

In [383]:
final_plot_frame=merge_event_gender_phone_df.groupby("device_id").first()
final_plot_frame

,event_id,timestamp,longitude,latitude,city,state,gender,age,group,phone_brand,device_model
device_id,,,,,,,,,,,
-9222173362545970626,843176,2016-05-03 11:38:07,77.596375,23.111540,Mandidip,MadhyaPradesh,F,56,F43+,Samsung,Galaxy Note 2
-9218769147970107256,11140,2016-05-07 11:14:33,75.902908,22.762287,Indore,MadhyaPradesh,M,23,M23-26,Xiaomi,红米note
-9216657649173924273,69828,2016-05-03 00:43:30,78.075424,30.435457,DehraDun,Uttaranchal,M,21,M22-,vivo,X5SL
-9215766592714662253,278683,2016-05-06 11:56:31,79.594208,29.328396,Haldwani,Uttaranchal,F,34,F33-42,Coolpad,大神F1
-9211311018136103690,207185,2016-05-04 17:08:36,94.299019,26.131308,Wokha,Nagaland,M,23,M23-26,Meizu,MX4
-9206855930900389072,83942,2016-05-02 13:28:23,77.979111,23.910746,Basoda,MadhyaPradesh,M,34,M32-38,Xiaomi,MI 4
-9200975789875358770,12601,2016-05-07 12:26:44,75.906151,22.734348,Indore,MadhyaPradesh,M,31,M29-31,华硕,ZenFone 2
-9195844738096952132,13890,2016-05-05 13:33:16,75.884041,22.817102,Indore,MadhyaPradesh,F,20,F23-,Huawei,S8-701u
-9192398484632402541,286948,2016-05-07 19:51:41,81.912552,24.435728,Sidhi,MadhyaPradesh,M,22,M22-,Samsung,Galaxy A8
-9185683155567867976,12773,2016-05-07 12:32:45,75.952873,22.800367,Indore,MadhyaPradesh,F,33,F33-42,Huawei,荣耀6 Plus
-9181714613099539405,637329,2016-05-04 16:49:57,74.941734,32.750683,Jammu,JammuandKashmir,M,33,M32-38,Samsung,Galaxy S2
-9175623150662212253,12537,2016-05-06 12:41:28,75.889420,22.755203,Indore,MadhyaPradesh,M,38,M32-38,Xiaomi,红米Note2
-9168958962332712294,112411,2016-05-03 18:58:12,79.007515,29.309191,Kashipur,Uttaranchal,F,20,F23-,Samsung,Galaxy Mega 5.8
-9168417576593391006,72188,2016-05-01 05:04:13,79.015556,22.142269,Chhindwara,MadhyaPradesh,M,33,M32-38,Samsung,Galaxy Trend 3
-9162073465722795020,13246,2016-05-03 13:44:08,75.944633,22.773058,Indore,MadhyaPradesh,M,87,M39+,Xiaomi,MI 4
-9159239837868310775,1909869,2016-05-03 18:31:31,74.398209,34.272068,Baramula,JammuandKashmir,F,28,F27-28,OPPO,R1
-9155576106019233985,12262,2016-05-05 12:02:31,75.884666,22.739265,Indore,MadhyaPradesh,M,44,M39+,Xiaomi,GN810
-9155438545926765471,13543,2016-05-04 13:39:06,75.918915,22.732773,Indore,MadhyaPradesh,M,28,M27-28,Meizu,MX4 Pro
-9153245537488288364,12425,2016-05-06 11:59:00,75.944199,22.807592,Indore,MadhyaPradesh,M,25,M23-26,Xiaomi,红米note增强版
-9145267990384658662,25572,2016-05-06 21:36:29,77.978310,21.952948,Betul,MadhyaPradesh,F,38,F33-42,Coolpad,8729
-9138542865541441757,259121,2016-05-05 18:44:54,78.183601,26.302189,Gwalior,MadhyaPradesh,F,20,F23-,Xiaomi,红米Note3
-9135068837991621094,556987,2016-05-01 18:19:49,77.789764,24.654678,Ashoknagar,MadhyaPradesh,M,23,M23-26,Huawei,荣耀3X畅玩版
-9133246310357795475,13862,2016-05-05 13:17:08,75.870071,22.809233,Indore,MadhyaPradesh,M,21,M22-,Huawei,Y220T
-9131441045912511795,636840,2016-05-02 16:23:22,78.852013,26.622177,Bhind,MadhyaPradesh,M,21,M22-,Huawei,荣耀3C
-9127097437295938933,533469,2016-05-03 20:13:51,78.510750,26.526606,Gohad,MadhyaPradesh,M,23,M23-26,OPPO,R819T
-9111244356991767409,364934,2016-05-05 22:40:20,77.695885,25.504459,Shivapuri,MadhyaPradesh,F,40,F33-42,Xiaomi,红米1S
-9109940732328956919,10181,2016-05-02 11:02:20,75.939499,22.754517,Indore,MadhyaPradesh,M,28,M27-28,Meizu,MX3
-9109251959175988661,11946,2016-05-04 12:03:48,75.912498,22.762486,Indore,MadhyaPradesh,M,22,M22-,vivo,Y22L
-9109035094477065894,292847,2016-05-06 00:05:21,79.984161,23.190969,Jabalpur,MadhyaPradesh,M,32,M32-38,Huawei,荣耀畅玩4C
-9106948688057006710,259477,2016-05-07 18:38:15,80.872200,24.675438,Satna,MadhyaPradesh,M,25,M23-26,Huawei,荣耀3C
...,...,...,...,...,...,...,...,...,...,...,...
9111554014425267240,34157,2016-05-05 05:59:35,73.860062,15.444478,Mormugao,Goa,M,38,M32-38,Xiaomi,红米Note2
9111641549787330886,21965,2016-05-04 18:57:46,77.395706,24.736181,Guna,MadhyaPradesh,M,19,M22-,vivo,X6 Plus
9111719859524447404,13843,2016-05-05 13:13:20,75.947571,22.813803,Indore,MadhyaPradesh,F,27,F27-28,Huawei,荣耀7
9111935630761064621,166541,2016-05-05 07:42:02,76.289810,23.458473,Shajapur,MadhyaPradesh,F,29,F29-32,Xiaomi,MI 3
9114671627237621750,796955,2016-05-04 16:43:27,77.756157,22.770472,Hoshangabad,MadhyaPradesh,M,24,M23-26,OPPO,R7s
9117218776041219626,11849,2016-05-03 11:57:30,75.919991,22.752817,Indore,MadhyaPradesh,M,19,M22-,Xiaomi,红米1S
9121728889575063167,41714,2016-05-03 11:32:05,74.946335,24.561924,Nimach,MadhyaPradesh,F,19,F23-,中国移动,A1
9124773923989357453,187634,2016-05-01 01:35:06,80.190231,21.813814,Balaghat,MadhyaPradesh,M,33,M32-38,vivo,X6 Plus D
9127969042855087780,427275,2016-05-01 18:00:16,93.746841,25.951633,Dimapur,Nagaland,F,34,F33-42,Samsung,Galaxy Note 3
9131361730867797523,11409,2016-05-01 12:37:34,75.918068,22.801025,Indore,MadhyaPradesh,M,28,M27-28,Coolpad,8720L
9132700580636371502,12743,2016-05-07 12:24:12,75.880760,22.749418,Indore,MadhyaPradesh,M,38,M32-38,Xiaomi,红米note
9139553261866487711,155762,2016-05-04 17:30:29,79.474014,23.869064,Damoh,MadhyaPradesh,M,30,M29-31,Meizu,魅蓝2
9141878010057625645,14084,2016-05-06 13:30:00,75.911446,22.791800,Indore,MadhyaPradesh,M,36,M32-38,Huawei,荣耀畅玩4X
9145023214925980094,256547,2016-05-05 16:17:02,82.714043,22.396763,Korba,Chhattisgarh,M,25,M23-26,Samsung,A820t
9146306901354316431,14658,2016-05-03 14:04:52,75.874077,22.748758,Indore,MadhyaPradesh,M,41,M39+,vivo,Y35
9149103074456470249,164603,2016-05-06 05:38:05,79.970428,23.250250,JabalpurCantonment,MadhyaPradesh,M,30,M29-31,Meizu,MX2
9149162656229456702,80552,2016-05-07 11:27:24,78.081398,26.545055,Morena,MadhyaPradesh,F,26,F24-26,Huawei,荣耀畅玩4X
9149739134838431100,482162,2016-05-03 07:35:09,77.381836,24.725428,Guna,MadhyaPradesh,M,27,M27-28,Xiaomi,MI 3
9150182065008672643,199692,2016-05-02 11:41:28,79.649483,22.139389,Seoni,MadhyaPradesh,F,26,F24-26,Huawei,G510
9154474199959400366,785179,2016-05-07 06:39:05,75.166733,33.801807,Anantnag,JammuandKashmir,M,36,M32-38,ZUK,Z1
9159712644038348395,779096,2016-05-02 22:39:22,78.302124,30.194761,Rishikesh,Uttaranchal,M,23,M23-26,Xiaomi,红米2
9163193903744363451,135191,2016-05-05 15:14:02,83.284546,23.154572,Ambikapur,Chhattisgarh,M,39,M39+,Huawei,Ascend P7
9172055829696738843,829346,2016-05-06 22:01:45,80.287148,29.639181,Pithoragarh,Uttaranchal,M,44,M39+,Samsung,Galaxy A7
9176716527090378895,25909,2016-05-07 21:22:59,77.542526,23.111280,Mandidip,MadhyaPradesh,M,25,M23-26,Samsung,Galaxy Win Pro
9189682376009199991,1175217,2016-05-07 10:15:54,81.579124,20.775875,Dhamtari,Chhattisgarh,F,44,F43+,Samsung,Galaxy Grand
9196872077342109200,1159282,2016-05-03 20:04:24,77.145218,23.221645,Sehore,MadhyaPradesh,M,32,M32-38,Samsung,黄金斗士A8
9207308632673862076,12609,2016-05-07 11:56:23,75.896797,22.778765,Indore,MadhyaPradesh,F,24,F24-26,Huawei,荣耀6
9210152177084185262,45247,2016-05-03 13:55:35,78.014526,23.892963,Basoda,MadhyaPradesh,F,22,F23-,Xiaomi,红米Note2
9212688420052889253,75299,2016-05-03 08:12:02,82.295143,23.890699,Singrauli,MadhyaPradesh,F,34,F33-42,大可乐,MC002
9217862324114501145,2068272,2016-05-05 12:13:03,77.900070,29.942249,Rurki,Uttaranchal,M,36,M32-38,Samsung,G3609

In [384]:
final_plot_frame.to_csv(path_or_buf="C:\\Users\\DELL\\capstone\\capstonefinal.csv",sep=',')

In [385]:
final_plot_frame.dtypes

event_id                 int64
timestamp       datetime64[ns]
longitude              float64
latitude               float64
city                    object
state                   object
gender                  object
age                      int64
group                   object
phone_brand             object
device_model            object
dtype: object